<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Girlsaward 2015AW 制作ページ一覧</title>
    <style>
      ul { margin-bottom: 2em; }
      li { margin-bottom: 0.4em; }
    </style>
  </head>
  <body>
    <h1>Girlsaward 2015AW 制作ページ一覧</h1>

    <div>
      <h2>PC TOP</h2>
      <ul>
        <% for language in @languages : %>
          <% if (language.abbr == 'ja') : %>
          <li><a href="fashion/rba/girlsaward/<%- @indexFileName %>">PC TOP</a></li>
          <% else : %>
          <li><a href="global/<%- language.folder %>/event/girlsaward/<%- @indexFileName %>">PC TOP (<%- language.folder %>)</a></li>
          <% end %>
        <% end %>
      </ul>

      <h2>PC Brands</h2>
      <% for language in @languages : %>
      <h3><%- language.abbr %></h3>
      <ul>
        <% for brand in @data.brands : %>
          <% if (language.abbr == 'ja') : %>
          <li><a href="fashion/rba/girlsaward/<%- brand.label %>/<%- @indexFileName %>"><%- brand.label %></a></li>
          <% else : %>
          <li><a href="global/<%- language.folder %>/event/girlsaward/<%- brand.label %>/<%- @indexFileName %>"><%- brand.label %></a></li>
          <% end %>
        <% end %>
      </ul>
      <% end %>

      <h2>SP TOP</h2>
      <ul>
        <% for language in @languages : %>
          <% if (language.abbr == 'ja') : %>
          <li><a href="smart/rba/girlsaward/<%- @indexFileName %>">SP TOP</a></li>
          <% else : %>
          <li><a href="global/<%- language.folder %>/event/girlsaward/sp/<%- @indexFileName %>">SP TOP (<%- language.folder %>)</a></li>
          <% end %>
        <% end %>
      </ul>

      <h2>SP Brands</h2>
      <% for language in @languages : %>
      <h3><%- language.abbr %></h3>
      <ul>
        <% for brand in @data.brands : %>
          <% if (language.abbr == 'ja') : %>
          <li><a href="smart/rba/girlsaward/<%- brand.label %>/<%- @indexFileName %>"><%- brand.label %></a></li>
          <% else : %>
          <li><a href="global/<%- language.folder %>/event/girlsaward/sp/<%- brand.label %>/<%- @indexFileName %>"><%- brand.label %></a></li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </div>

  </body>
</html>