<!-- PC -->

<!-- TOP -->
<!-- build:css /fashion/rba/girlsaward/css/top.css -->
<link rel="stylesheet" href="/css/_pc/common.css">
<link rel="stylesheet" href="/css/_pc/top.css">
<!-- endbuild -->

<!-- build:js /fashion/rba/girlsaward/js/top.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/caroufredsel/jquery.carouFredSel-6.2.1.js"></script>
<script src="/bower_components/trunk8/trunk8.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<script src="/_js/api.js"></script>
<script src="/_js/pc.js"></script>
<!-- endbuild -->

<!-- BRAND -->
<!-- build:css /fashion/rba/girlsaward/css/brand.css -->
<link rel="stylesheet" href="/css/_pc/common.css">
<link rel="stylesheet" href="/css/_pc/brand.css">
<!-- endbuild -->

<!-- build:js /fashion/rba/girlsaward/js/brand.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/caroufredsel/jquery.carouFredSel-6.2.1.js"></script>
<script src="/bower_components/trunk8/trunk8.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<script src="/_js/api-nofilter.js"></script>
<script src="/_js/pc.js"></script>
<!-- endbuild -->



<!-- SP -->

<!-- TOP -->
<!-- build:css /smart/rba/girlsaward/css/top-sp.css -->
<link rel="stylesheet" href="/css/_sp/common.css">
<link rel="stylesheet" href="/css/_sp/top.css">
<!-- endbuild -->

<!-- build:js /smart/rba/girlsaward/js/top-sp.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/caroufredsel/jquery.carouFredSel-6.2.1.js"></script>
<script src="/bower_components/trunk8/trunk8.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<script src="/_js/api.js"></script>
<script src="/_js/sp.js"></script>
<!-- endbuild -->


<!-- BRAND -->
<!-- build:css /smart/rba/girlsaward/css/brand-sp.css -->
<link rel="stylesheet" href="/css/_sp/common.css">
<link rel="stylesheet" href="/css/_sp/brand.css">
<!-- endbuild -->

<!-- build:js /smart/rba/girlsaward/js/brand-sp.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/caroufredsel/jquery.carouFredSel-6.2.1.js"></script>
<script src="/bower_components/trunk8/trunk8.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<script src="/_js/api-nofilter.js"></script>
<script src="/_js/sp.js"></script>
<!-- endbuild -->

