<div class="js-translate-filter-box">
 <p class="center-align">Translation filter</p>
  <div class="switch center-align">
    <input class="with-gap" name="filter" type="radio" id="filter_1" checked />
    <label for="filter_1">all</label>
    <input class="with-gap" name="filter" type="radio" id="filter_2" />
    <label for="filter_2">done</label>
    <input class="with-gap" name="filter" type="radio" id="filter_3" />
    <label for="filter_3">in progress</label>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="xsm">#</th>
          <th class="xsm js-tooltip" title="Cordination order">CO</th>
          <th class="xsm js-tooltip" title="Display order">DO</th>
          <th class="md">Name (JP, EN, CN, TW)</th>
          <th class="sm">Price (JPY, USD, CNY, TWY)</th>
          <th class="md">Img URL</th>
          <th class="md">URL (Item id)</th>
          <th class="sm">Translate</th>
          <th class="sm">Sold-out</th>
          <th class="sm">Updated by</th>
          <th>Updated at</th>
          <th class="sm">Control</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="4">1</td>
          <td rowspan="4">1</td>
          <td rowspan="4">2</td>
          <td class="md"><p class="truncate">2WAYハイウエストコンビネゾン</p></td>
          <!-- <td rowspan="4">Tops</td> -->
          <td>9709</td>
          <td rowspan="4" class="md js-tooltip" title='<img src="/img/noimage.png" width="100">'><p><a href="#">http://item.rakuten.co.jp/auc-j-s-kaneko/lvs00501-1246/http://item.rakuten.co.jp/auc-j-s-kaneko/lvs00501-1246/http://item.rakuten.co.jp/auc-j-s-kaneko/lvs00501-1246/</a></p></td>
          <td rowspan="4" class="md"><p>b93881</p></td>
          <td rowspan="4">done</td>
          <td rowspan="4">available</td>
          <td rowspan="4">admin</td>
          <td rowspan="4">09/10/2015 15:46</td>
          <td rowspan="4" class="control">
            <a href="master_item_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
            <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
          </td>
        </tr>
        <tr>
          <td class="md"><p class="truncate">{{ item.name_en }}</p></td>
          <td>95</td>
        </tr>
        <tr>
          <td class="md"><p class="truncate">{{ item.name_cn }}</p></td>
          <td>95</td>
        </tr>
        <tr>
          <td class="md"><p class="truncate">{{ item.name_tw }}</p></td>
          <td>95</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  var BRAND_ID = 3;
</script>