  <div class="row">
    <div class="col s12">
      <table class="bordered">
        <thead>
          <tr>
            <th class="xsm">#</th>
            <th class="md">User name</th>
            <th class="lg">Email</th>
            <th class="md">Group</th>
            <th>Updated at</th>
            <th>Created at</th>
            <th class="sm">Control</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>taro.rakuten</td>
            <td>taro.rakuten@mail.rakuten.com</td>
            <td>Administrators</td>
            <td>09/10/2015 15:46</td>
            <td>09/10/2015 15:46</td>
            <td class="control">
              <a href="master_user_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
              <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>taro.rakuten</td>
            <td>taro.rakuten@mail.rakuten.com</td>
            <td>Administrators</td>
            <td>09/10/2015 15:46</td>
            <td>09/10/2015 15:46</td>
            <td class="control">
              <a href="master_user_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><i class="material-icons">mode_edit</i></a>
              <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>taro.rakuten</td>
            <td>taro.rakuten@mail.rakuten.com</td>
            <td>Administrators</td>
            <td>09/10/2015 15:46</td>
            <td>09/10/2015 15:46</td>
            <td class="control">
              <a href="master_user_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><i class="material-icons">mode_edit</i></a>
              <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>taro.rakuten</td>
            <td>taro.rakuten@mail.rakuten.com</td>
            <td>Administrators</td>
            <td>09/10/2015 15:46</td>
            <td>09/10/2015 15:46</td>
            <td class="control">
              <a href="master_user_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><i class="material-icons">mode_edit</i></a>
              <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><i class="material-icons">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
