  <div class="row">
    <div class="col s12">
      <table class="bordered">
        <thead>
          <tr>
            <th class="xsm">#</th>
            <th class="md">Name (JP, EN)</th>
            <th class="xsm">Label</th>
            <th class="xlg">Img URL (PC / SP)</th>
            <th class="xsm">Up status</th>
            <th class="xsm">New status</th>
            <th class="xsm">Global status</th>
            <th class="xsm">Updated by</th>
            <th>Updated at</th>
            <th class="sm">Control</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">1</td>
            <td>EMODAA</td>
            <td rowspan="2">emoda</td>
            <td class="xlg"><p class="truncate"><a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/emoda.jpg" title="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/emoda.jpg">http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/emoda.jpg</a></p></td>
            <td rowspan="2">false</td>
            <td rowspan="2">false</td>
            <td rowspan="2">true</td>
            <td rowspan="2">admin</td>
            <td rowspan="2">11/04/2015 14:55</td>
                      <td rowspan="2" class="control">
              <a href="/ga_administration/brand/edit/2" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-pencil"></use></svg></a>
              <a href="/ga_administration/brand/delete/2" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-trash"></use></svg></a>
            </td>
          </tr>
          <tr>
            <td>EMODA</td>
            <td class="xlg"><p class="truncate"><a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/emoda-s.jpg" title="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/emoda-s.jpg">http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/emoda-s.jpg</a></p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
