<div>
  <table class="bordered">
    <thead>
      <tr>
        <th class="xsm">order</th>
        <th class="sm">Model</th>
        <th class="lg">Item</th>
        <th class="lg">Img URL</th>
        <th class="sm">Photo status</th>
        <th class="sm">Updated by</th>
        <th>Updated at</th>
        <th class="sm">Control</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="6">1</td>
        <td rowspan="6" class="js-tooltip" title='<img src="/img/noimage.png" width="100">'>楽天花子</td>
        <td class="lg"><p class="truncate"><a href="{{ item.item_img_1 }}">20/-天竺ストリートフォトふなっしーT20/-天竺ストリートフォトふなっしーT20/-天竺ストリートフォトふなっしーT20/-天竺ストリートフォトふなっしーT</a></p></td>
        <td class="lg js-tooltip" rowspan="6" title='<img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/cord/dickies_01.jpg" width="100">'><p><a href="{{ item.img }}">http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/cord/dickies_01.jpg</a></p></td>
        <td rowspan="6">false</td>
        <td rowspan="6">admin</td>
        <td rowspan="6">09/10/2015 15:46</td>
        <td class="control" rowspan="6">
          <a href="brand_cord_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
          <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
        </td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_2 }}"><a href="{{ item.item_img_2 }}">{{ item.item_name_2 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_3 }}"><a href="{{ item.item_img_3 }}">{{ item.item_name_3 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_4 }}"><a href="{{ item.item_img_4 }}">{{ item.item_name_4 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_5 }}"><a href="{{ item.item_img_5 }}">{{ item.item_name_5 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_6 }}"><a href="{{ item.item_img_6 }}">{{ item.item_name_6 }}</a></p></td>
      </tr>
    </tbody>
  </table>
</div>
