  <div class="row">
    <div class="col s12">
      <table class="bordered">
        <thead>
          <tr>
              <th class="xsm">#</th>
              <th class="sm">Name (JP)</th>
              <th class="sm">Name (EN)</th>
              <th class="sm">Name (Hiragana)</th>
              <th class="lg">Img URL</th>
              <th class="sm">Status</th>
              <th class="sm">Updated by</th>
              <th>Updated at</th>
            <th class="sm">Control</th>
          </tr>
        </thead>
        <tbody>
          <tr class="js-tooltip" title='<img src="/img/noimage.png" width="100">'>
            <td>1</td>
            <td>楽天花子</td>
            <td>RAKUTEN HANAKO</td>
            <td>らくてんはなこ</td>
            <td class="lg"><p><a href="#">http://item.rakuten.co.jp/auc-j-s-kaneko/lvs00501-1246/http://item.rakuten.co.jp/auc-j-s-kaneko/lvs00501-1246/http://item.rakuten.co.jp/auc-j-s-kaneko/lvs00501-1246/</a></p></td>
            <td>active</td>
            <td>admin</td>
            <td>09/10/2015 15:46</td>
            <td class="control">
              <a href="master_model_edit.html" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
              <a href="#" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
