<h1><i class="material-icons">mode_edit</i> EDIT ITEM ({{ brand_name }})</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form class="col s12" action="{{ link_base }}item/edit/{{ data.id }}/?id={{ brand_id }}" method="post">
    <div class="row">
      <div class="input-field col s3">
        <select name="order" autofocus>
          <option value="" disabled>Set order</option>
          <option value="">-</option>
          {% for i in 1..20 %}
          {% if i == data.order %}
          <option value="{{ i }}" selected>{{ i }}</option>
          {% else %}
          <option value="{{ i }}">{{ i }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Cordination order</label>
      </div>
      <div class="input-field col s3">
        <select name="order_sub" autofocus>
          <option value="" disabled>Set order</option>
          <option value="">-</option>
          {% for i in 1..20 %}
          {% if i == data.order_sub %}
          <option value="{{ i }}" selected>{{ i }}</option>
          {% else %}
          <option value="{{ i }}">{{ i }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Display order</label>
      </div>
      <div class="input-field col s3">
        <select name="translate_status">
            <option value="" disabled>Choose status</option>
            {% for i in 0..1 %}
            {% if data.translate_status == i %}
            <option value="{{ i }}" selected>{{ data.translate_status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.translate_status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label for="status">Translate status</label>
      </div>
      <div class="input-field col s3">
        <select name="sold_status">
            <option value="" disabled>Choose status</option>
            {% for i in 0..1 %}
            {% if data.sold_status == i %}
            <option value="{{ i }}" selected>{{ data.status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label for="status">Sold-out status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="name_jp" type="text" class="validate" name="name_ja" value="{{ data.name_ja }}" autofocus>
        <label for="name_jp">Name (JP)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_en" type="text" class="validate" name="name_en" value="{{ data.name_en }}">
        <label for="name_en">Name (EN)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="name_cn" type="text" class="validate" name="name_cn" value="{{ data.name_cn }}">
        <label for="name_cn">Name (CN)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_tw" type="text" class="validate" name="name_tw" value="{{ data.name_tw }}">
        <label for="name_tw">Name (TW)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <input id="price_ja" type="text" class="validate" name="price_ja" value="{{ data.price_ja }}">
        <label for="price_ja">Price (JPY)</label>
      </div>
      <div class="input-field col s3">
        <input id="price_en" type="text" class="validate" name="price_en" value="{{ data.price_en }}">
        <label for="price_en">Price (USD)</label>
      </div>
      <div class="input-field col s3">
        <input id="price_cn" type="text" class="validate" name="price_cn" value="{{ data.price_cn }}">
        <label for="price_cn">Price (CHY)</label>
      </div>
      <div class="input-field col s3">
        <input id="price_tw" type="text" class="validate" name="price_tw" value="{{ data.price_tw }}">
        <label for="price_tw">Price (TWY)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img" type="text" class="validate" name="img" value="{{ data.img }}">
        <label for="img">Img URL</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="url" type="text" class="validate" name="url" value="{{ data.url }}">
        <label for="url">URL</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}item/?id={{ brand_id }}" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>