<h1>ITEMS ({{ brand_name }})</h1>

<p class="table-note">* Updated time in red indicates the recent update within 1hr.</p>

<div class="js-translate-filter" data-brand-id="{{ brand_id }}">
  <p class="center-align">Translation filter</p>
  <div class="switch center-align">
    {% if translate_filter == false %}
    <input class="with-gap" name="filter" type="radio" id="filter_1" value="0" checked />
    <label for="filter_1">all</label>
    <input class="with-gap" name="filter" type="radio" id="filter_2" value="1" />
    <label for="filter_2">in progress</label>
    <input class="with-gap" name="filter" type="radio" id="filter_3" value="2" />
    <label for="filter_3">done</label>
    {% elseif translate_status[0] %}
    <input class="with-gap" name="filter" type="radio" id="filter_1" value="0" />
    <label for="filter_1">all</label>
    <input class="with-gap" name="filter" type="radio" id="filter_2" value="1" checked />
    <label for="filter_2">in progress</label>
    <input class="with-gap" name="filter" type="radio" id="filter_3" value="2" />
    <label for="filter_3">done</label>
    {% else %}
    <input class="with-gap" name="filter" type="radio" id="filter_1" value="0" />
    <label for="filter_1">all</label>
    <input class="with-gap" name="filter" type="radio" id="filter_2" value="1" />
    <label for="filter_2">in progress</label>
    <input class="with-gap" name="filter" type="radio" id="filter_3" value="2" checked />
    <label for="filter_3">done</label>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="xsm">#</th>
          <th class="xsm js-tooltip" title="Cordination order">CO</th>
          <th class="xsm js-tooltip" title="Display order">DO</th>
          <th class="md">Name (JP, EN, CN, TW)</th>
          <th class="sm">Price (JPY, USD, CNY, TWY)</th>
          <th class="md">Img URL</th>
          <th class="md">URL (Item id)</th>
          <th class="sm">Translate</th>
          <th class="sm">Sold-out</th>
          <th class="sm">Updated by</th>
          <th>Updated at</th>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <th class="sm">Control</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
{% for item in data %}
        <tr class="{{ item.recent_update_class }}">
          <td rowspan="4">{{ loop.index }}</td>
          <td rowspan="4">{{ item.order }}</td>
          <td rowspan="4">{{ item.order_sub }}</td>
          <td class="md"><p class="truncate">{{ item.name_ja }}</p></td>
          <td>JPY {{ item.price_ja }}</td>
          <td rowspan="4" class="md js-tooltip" title='<img src="{{ item.img_tooltip }}" width="100">'><p><a href="{{ item.img }}">{{ item.img }}</a></p></td>
          <td rowspan="4" class="md"><p>{{ item.url }}</p></td>
          <td rowspan="4">{{ item.translate_status_str }}</td>
          <td rowspan="4">{{ item.status_str }}</td>
          <td rowspan="4">{{ item.update_user }}</td>
          <td rowspan="4" class="updated_at">{{ item.updated_at }}</td>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <td rowspan="4" class="control">
            <a href="{{ link_base }}item/edit/{{ item.id }}/?id={{ brand_id }}" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
            <a href="{{ link_base }}item/delete/{{ item.id }}/?id={{ brand_id }}" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
          </td>
          {% endif %}
        </tr>
        <tr>
          <td class="md"><p class="truncate">{{ item.name_en }}</p></td>
          <td>USD {{ item.price_en }}</td>
        </tr>
        <tr>
          <td class="md"><p class="truncate">{{ item.name_cn }}</p></td>
          <td>CHY {{ item.price_cn }}</td>
        </tr>
        <tr>
          <td class="md"><p class="truncate">{{ item.name_tw }}</p></td>
          <td>TWY {{ item.price_tw }}</td>
        </tr>
{% else %}
      <tr>
        <td colspan="12" class="center-align">No Record</td>
      </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  var BRAND_ID = {{ brand_id }};
</script>
{% if current_user.group == 100 or current_user.group == 50 %}
<div class="float-btn">
  <a href="{{ link_base }}item/create/?id={{ brand_id }}" class="js-tooltip btn-floating waves-effect waves-light red" title="Add">
    <svg class="add"><use xlink:href="#svg-plus" /></svg>
    <svg class="write"><use xlink:href="#svg-pencil" /></svg>
  </a>
</div>
{% endif %}
