<article class="manual">
  <h1>Operation Manual</h1>
  <h2 class="title">System Architecture</h2>

  <section>
    <h3 class="title-sub">System information</h3>
    <table class="bordered">
      <tr>
        <th class="sm">Server</th>
        <td class="lg">Windows Storage Server 2008 R2 Standard (cwd-web)</td>
      </tr>
      <tr>
        <th class="sm">Database</th>
        <td class="lg">MySQL 5.5 <small> * ER diagram: /ga_administration/config/er_ga.pdf</small></td>
      </tr>
      <tr>
        <th class="sm">Web server</th>
        <td class="lg">Apache 2.2</td>
      </tr>
      <tr>
        <th class="sm">Language</th>
        <td class="lg">PHP 5.3.17 with FuelPHP</td>
      </tr>
    </table>

    <h3 class="title-sub">Path information</h3>
    <table class="bordered">
      <tr>
        <th rowspan="4" class="sm">Production URL (Top PC/SP)</th>
        <td class="lg">(JP) <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/" target="_blank">http://event.rakuten.co.jp/fashion/rba/girlsaward/</a></td>
        <td class="lg"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/" target="_blank">http://event.rakuten.co.jp/smart/rba/girlsaward/</a></td>
      </tr>
      <tr>
        <td class="lg">(EN) <a href="http://global.rakuten.com/en/event/girlsaward/" target="_blank">http://global.rakuten.com/en/event/girlsaward/</a></td>
        <td class="lg"><a href="http://global.rakuten.com/en/event/girlsaward/sp/" target="_blank">http://global.rakuten.com/en/event/girlsaward/sp/</a></td>
      </tr>
      <tr>
        <td class="lg">(CN) <a href="http://global.rakuten.com/zh-cn/event/girlsaward/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/</a></td>
        <td class="lg"><a href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/sp/</a></td>
      </tr>
      <tr>
        <td class="lg">(TW) <a href="http://global.rakuten.com/zh-tw/event/girlsaward/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/</a></td>
        <td class="lg"><a href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/sp/</a></td>
      </tr>
      <tr>
        <th rowspan="4" class="sm">Production URL (Brand PC/SP)</th>
        <td class="lg">(JP) <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/emoda/" target="_blank">http://event.rakuten.co.jp/fashion/rba/girlsaward/&lt;brand&gt;/</a><br><small>The link is for "EMODA" as a sample brand.</small></td>
        <td class="lg"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/emoda/" target="_blank">http://event.rakuten.co.jp/smart/rba/girlsaward/&lt;brand&gt;/</a></td>
      </tr>
      <tr>
        <td class="lg">(EN) <a href="http://global.rakuten.com/en/event/girlsaward/emoda/" target="_blank">http://global.rakuten.com/en/event/girlsaward/&lt;brand&gt;/</a></td>
        <td class="lg"><a href="http://global.rakuten.com/en/event/girlsaward/sp/emoda/" target="_blank">http://global.rakuten.com/en/event/girlsaward/sp/&lt;brand&gt;/</a></td>
      </tr>
      <tr>
        <td class="lg">(CN) <a href="http://global.rakuten.com/zh-cn/event/girlsaward/emoda/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/&lt;brand&gt;/</a></td>
        <td class="lg"><a href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/emoda/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/sp/&lt;brand&gt;/</a></td>
      </tr>
      <tr>
        <td class="lg">(TW) <a href="http://global.rakuten.com/zh-tw/event/girlsaward/emoda/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/&lt;brand&gt;/</a></td>
        <td class="lg"><a href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/emoda/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/sp/&lt;brand&gt;/</a></td>
      </tr>
      <tr>
        <th rowspan="3" class="sm">Teamsite (teamsite01)</th>
        <td colspan="2" class="lg">(Domestic PC) /default/main/event/all/WORKAREA/00-PUBLIC/htdocs/fashion</td>
      </tr>
      <tr>
        <td colspan="2" class="lg">(Domestic SP) /default/main/event/all/WORKAREA/00-PUBLIC/htdocs/smart</td>
      </tr>
      <tr>
        <td colspan="2" class="lg">(Global) /default/main/global/all/WORKAREA/00-PUBLIC/htdocs/com/global</td>
      </tr>
      <tr>
        <th class="sm">kakunin server</th>
        <td colspan="2" class="lg">/default/main/kakunin.rakuten/all/WORKAREA/00-PUBLIC/htdocs/rakuten/swd/ga/2015aw<br><small>"2015aw" will be changed depending on the season.</small></td>
      </tr>
      <tr>
        <th class="sm">Admin system</th>
        <td colspan="2" class="lg"><a href="http://cwd-web/01_common/ec/girls_award/" target="_blank">http://cwd-web/ga/ (http://cwd-web/01_common/ec/girls_award/)</a></td>
      </tr>
      <tr>
        <th class="sm">Mail system</th>
        <td colspan="2" class="lg"><a href="https://mandrillapp.com/" target="_blank">https://mandrillapp.com/</a><br><small>username: ga_admin, password: 5tgbnhy6!</small><br><small>Please change the contact email address on <a href="https://mandrillapp.com/account/contact" target="_blank">https://mandrillapp.com/account/contact</a></small></td>
      </tr>
    </table>
  </section>

  <section>
    <div class="center-align">
      <img src="{{ link_base }}assets/img/manual/ga_admin.jpg" alt="System Overview" width="700"><br>
      <small>* This image is created with <a href="https://www.gliffy.com/">gliffy</a>.
    The original gliffy file is stored in /ga_administration/config/manual/*.gliffy.</small>
    </div>
  </section>

  <h2 class="title">Site Overview</h2>

  <section>
    <p>The Girls Award site consists of top and brand coordination pages.</p>
    <p>The top coordination has model coordinates which come from the first coordination of brand coordinates (indicated as "Coordination 1" below). Each coordination has a model and 6 items in maximum. However, only the first coordination has 3 items in maximum. This is because the top coordination page shows item lists overlaying the model picture along with mouse hovering action. A set of more than 3 items overflows the picture area.</p>
    <div class="center-align">
    <img src="{{ link_base }}assets/img/manual/ga_site.jpg" alt="Site Overview" width="700"><br>
    <small>* This image is created with <a href="https://www.gliffy.com/">gliffy</a>.
    The original gliffy file is stored in /ga_administration/config/manual/*.gliffy.</small>
    </div>
  </section>

  <h2 class="title">Operation</h2>

  <section>
    <h3 class="title-sub">Initialize</h3>
    <p>
      Please register users for the system with an administrator account. Each user belongs to one of these roles.
      <table class="bordered">
        <tr>
          <th>Administrators</th>
          <td>Full opperation</td>
        </tr>
        <tr>
          <th>Moderators</th>
          <td>Operation except user administration & xls importing</td>
        </tr>
        <tr>
          <th>Users</th>
          <td>Just refferencing data</td>
        </tr>
      </table>
    </p>
  </section>

  <section>
    <h3 class="title-sub">Pre-event</h3>
    <p>
    Before the event, operators is to import event information (brands, models, and items) into database on cwd-web.<br>
    The information is to be provided in excel format. Please use specified templates.

    <ol>
      <li><a href="{{ link_base }}export/excel/data/?type=temp_brand"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand template</a></li>
      <li><a href="{{ link_base }}export/excel/data/?type=temp_model"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Model template</a></li>
      <li>
        {% if itemReadyFlag %}
        <a href="{{ link_base }}export/excel/data/?type=temp_coord"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template</a>
        {% else %}
        <span><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template</span><small>&nbsp;&nbsp;&nbsp;&nbsp;* Coordinates can be uploaded after the completion of import for brands & models.</small>
        {% endif %}
      </li>
    </ol>

    The data needs to be imported in the folowing order.
    <ol class="steps">
      <li>
        <p>Download template xls files for brands & models.</p>
        <small><a href="{{ link_base }}export/excel/data/?type=temp_brand"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand template</a></small>
        <small><a href="{{ link_base }}export/excel/data/?type=temp_model"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Model template</a></small>
      </li>
      <li>Import brands & models.</li>
      <li>
        <p>Download template xls file for items (brand coordinates).</p>
        {% if itemReadyFlag %}
        <small><a href="{{ link_base }}export/excel/data/?type=temp_coord"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template</a></small>
        {% else %}
        <small class="js-tooltip" title="Please complete importing brands & models."><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template&nbsp;&nbsp;&nbsp;* Coordinates can be uploaded after the completion of import for brands & models.</small>
        {% endif %}
      </li>
      <li>Import coordinates (brand basis).</li>
    </ol>
    </p>
    <div class="center-align">
      <video src="{{ link_base }}assets/img/mov/manual01.m4v" controls></video>
    </div>
    <p>
      It is recommended that, after those importing, any update on each item will be conducted on the web page instead of importing excel files again.<br>
      It is because brands and models in excel must be consistent with database.<br>
      If you would like to use excel imorting again, please download the target template, which includes all of the exsiting data, prior to execution.
      <ol>
        <li><a href="{{ link_base }}export/excel/data/?type=brand"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand template with data</a></li>
        <li><a href="{{ link_base }}export/excel/data/?type=model"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Model template with data</a></li>
        <li>
        {% if itemReadyFlag %}
        <a href="{{ link_base }}export/excel/data/?type=brandtop"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand coordinates template with data</a>
        {% else %}
        <span><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand coordinates template with data</span><br>
        <small>* Coordinates can be uploaded after the completion of import for brands & models.</small>
        {% endif %}
        </li>
      </ol>
    </p>
  </section>

  <section>
    <h3 class="title-sub">Event</h3>
    <div>
    There are 2 main operations during the event.
      <ol>
        <li>
          <p>Brand link activation</p>
          <p>
            After a brand appears on runway of the event, the brand link on the top page is to be activated.<br>
            Changing "up satus" in the brand record to "true" activates the brand link.<br>
            In addition, "new status" is to be "true" because it is the latest activated brand, while the other brands' "new status" is "false".<br>
            That means the next runway will switch the "new status" back to "false" again.
          </p>
          <div class="center-align">
            <video src="{{ link_base }}assets/img/mov/event01.m4v" controls></video>
          </div>
        </li>
        <li>
          <p>Model photo activation</p>
          <p>
            After a model appears on the runway, her/his photo will be ready for the web pages.<br>
            When it is ready, "photo status" is to be "true" for each one of brand coordinates.
          </p>
          <div class="center-align">
            <video src="{{ link_base }}assets/img/mov/event02.m4v" controls></video>
          </div>
        </li>
      </ol>
    </div>
  </section>
</article>