.shop-item
  &__header
    clearfix()
    margin-bottom 10px

  &--small
    @extend .shop-item

    .shop-item__header
      width 145px
      margin 0 auto

    .shop-logo
      float none
      display inline-block
      margin 0 0 10px 0

      &__inner
        display block
        width 145px
        height 145px

    .shop-detail
      text-align left

      h4
        margin-bottom 3px

.shop-logo
  float left
  margin-right 10px
  border solid 1px $color-border-gray

  &__inner
    width 35px
    height 35px
    display table-cell
    vertical-align middle
    text-align center

    img
      display inline-block

.shop-detail
  padding-bottom 6px
  font-size 13px

  a
    display inline-block
    font-weight bold
    color $color-deeppink

  p
    font-size 12px
    color $color-text-gray

.shop-banner-list
  margin-bottom 15px

.shop-banner
  display block
  text-align left

  &:hover
    text-decoration none

  img
    width 90px
    height 90px
    display inline-block
    margin-bottom 8px

  p
    color $color-text-gray

.shop-link
  a
    border solid 1px #444
    padding 8px
    font-weight bold
    color $color-text-gray-lighter