.brand-list
  .col
    text-align center

  .thumbnail
    height 70px
    width 145px
    display table-cell
    vertical-align middle
    text-align center

    div
      width 145px
      height 60px
      display table-cell
      text-align center
      // border 1px solid #ddd
      vertical-align middle

    img
      width 90px
      margin 0 auto

    .brand-name
      margin-top 5px
      font-size 12px
      color #515151
      font-weight normal

.brand-logo
  display inline-block
  vertical-align bottom
  hide-text()

.brand-name
  display inline-block
  vertical-align bottom
  color $color-pink
  font-weight bold
  font-size 18px