.item
  &__head
    min-height 48px
    padding 5px
    background-color $color-pink

    > a
      font-weight bold
      color $color-pink
      text-decoration none

  &__model
    min-height 18px
    margin-top 5px
    text-align center
    font-size 13px
    font-weight bold
    color #fff

  &__overlay
    margin-bottom 10px

.item--beforesale
  fullwidth()
  padding 5px
  position absolute
  bottom 14px
  left 0
  text-align center
  font-weight bold
  font-size 13px
  color #fff
  background url('http://event.rakuten.co.jp/fashion/rba/girlsaward/img/bg_pnkstripe.png') 50% 50% repeat

  > span
    display inline-block
    vertical-align middle

  .schedule
    min-height 20px
    margin-right 5px
    font-size 16px

.item-link
  width 145px
  height 244px
  position absolute
  top 0
  left 0
  hide-text()