.page-nav
  display table
  width 100%
  margin-bottom 10px
  background $color-deeppink

  &.fixed
    position fixed
    top 0
    left 0
    width 100%
    z-index 99
    -webkit-backface-visibility:hidden;

  &__item
    display table-cell
    width 33%
    border-left solid 1px #fff
    text-align center

    &:first-child
      border-left none

    a
    span
      display block
      position relative
      padding 10px
      font-size 15px
      color #fff

    >a
    >span
      &:before
      &:after
        content ""
        position absolute
        top 50%
        left 100%
        margin-top -7px
        margin-left -20px
        border solid 7px transparent
        border-left-color #fff

      &:after
        border-left-color $color-deeppink
        margin-left -22px

.lockscreen
  overflow-y hidden
  position fixed

.nav-list
  display none
  width 100%
  position fixed
  top 20%
  left 0
  z-index 999

  &.show
    display block

  &.odd
    .nav-list__item
      &:nth-child(odd)
        border-right solid 1px $color-deeppink

  &.even
    border-bottom none

    .nav-list__item
      border-right solid 1px $color-deeppink

  &__item
    float left
    width 50%
    box-sizing border-box
    border-bottom solid 1px $color-deeppink
    background-color #f5f5f5

    a
    span
      position relative
      padding 10px 5px
      color $color-text-gray
      font-size 12px

    a
      &:before
      &:after
        content ""
        position absolute
        top 50%
        left 100%
        margin-top -7px
        margin-left -16px
        border solid 7px transparent
        border-left-color $color-text-gray

      &:after
        border-left-color #f5f5f5
        margin-left -18px

#overlay
  width 100%
  position fixed
  top 0
  left 0
  z-index 50
  background-color #000
  opacity(0.7)