.recommended__wrapper
  margin 0 10px

.recommended-items
  clearfix()

  .col
    width 50%
    position relative
    min-height 210px
    margin-bottom 10px
    box-sizing border-box
    float left

    &:nth-child(odd)
      padding-right 10px

  .item-image
    margin-bottom 8px
    text-align center
    border solid 1px $color-border-gray

    a
      display inline-block

  .item-shop
  .item-name
    color $color-text-gray

  .item-shop
    margin-bottom 3px
    font-weight bold

　　.item-name
    margin-bottom 3px
    line-height 1.3

  .item-price
    font-weight bold
    color $color-pink

.filter-nav
  reset-ul()
  margin-bottom 5px

  &__header
    margin-bottom 7px
    font-weight bold
    color $color-deeppink

    i
    span
      display inline-block
      vertical-align middle
      margin-right 2px

  &__body
    clearfix()
    padding 0

  &__tab
    width 97px !important
    margin 0 0 5px 0 !important
    padding 9px 6px !important
    box-sizing border-box
    border 1px solid $color-pink
    color $color-pink
    font-weight bold
    font-size 10px
    text-align center

    &.selected
      background $color-deeppink
      color #fff

  .special-item
    display inline-block
    position relative
    background #000
    color #fff
    top -180px
    left 30px
    padding 10px

.model-tag
  position absolute
  top -8px
  right 6px
  z-index 10

  >span
    display block
    hide-text()

.model-tag-en
.model-tag-tw
.model-tag-cn
  @extend .model-tag