.brand__head
  >h1
    padding 0 0 8px 20px
    border-bottom solid 3px $color-deeppink
    text-align left

  >p
    padding 8px 0 6px
    text-align center
    font-weight bold
    font-size 13px

  .brand-logo
    display inline-block
    vertical-align bottom
    hide-text()
    margin-right 10px

    img
      height 23px
      display block

  .brand-name
    display inline-block
    vertical-align bottom
    color $color-pink
    font-weight bold
    font-size 18px

.pickup-item
  clearfix()
  padding 25px 0 15px
  border-top solid 1px $color-bg-pink-lighter

  &:first-child
    padding 15px 0

  &__image
    margin 0 auto 13px
    text-align center

    p
      margin-bottom 10px
      background-color #fff
      color $color-pink
      font-size 15px
      font-weight bold

    img
      width 165px
      display inline-block

  &__item
    .item-header
      margin-bottom 10px
      font-weight bold
      color $color-pink
      text-align center
      background-color #fff

    .item-list
      width 305px
      margin 0 auto
      overflow hidden

    .item
      width 315px
      margin 0 auto
      clearfix()
      background #fff

      li
        min-height 180px
        float left
        width 95px
        margin 0 10px 7px 0

      a
        display table-cell

      img
        vertical-align middle

    .item-image
      margin-bottom 3px
      border solid 1px $color-border-gray

    .thumb-93-93
      img
        height auto

.pickup-item__item
  .item-name
    word-break break-all