.section
  margin-bottom 20px

  &__head
    min-height 34.5px
    position relative
    margin 0 5px 10px
    padding-left 133px
    font-size 14px
    font-weight bold
    color #010101

    h2
      border-bottom solid 1px #000

      >span
        line-height 25px

    &--artist
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-artist.png) no-repeat
      background-size 128px 34.5px

    &--beauty
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-beauty.png) no-repeat
      background-size 128px 34.5px

    &--brand
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-brand.png) no-repeat
      background-size 128px 34.5px

    &--model
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-model.png) no-repeat
      background-size 128px 34.5px

    &--movie
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-movie.png) no-repeat
      background-size 128px 34.5px

    &--pickupitem
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-pickup-green.png) no-repeat
      background-size 128px 34.5px

    &--pickuprunway
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-pickup-purple.png) no-repeat
      background-size 128px 34.5px

    &--ranking
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-ranking.png) no-repeat
      background-size 128px 34.5px

    &--special
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-special.png) no-repeat
      background-size 128px 34.5px

    &--whatsga
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/header-whatsga.png) no-repeat
      background-size 128px 34.5px

  &__body
    clearfix()