.about-ga-image
  height auto
  margin-bottom 15px
  text-align center

  img
    display inline-block
    max-width 320px

.about-ga
  text-align center

  em
    display inline-block
    font-size 14px
    font-weight bold
    color $color-pink

  p
    padding 10px
    font-size 12px
    line-height 1.5
    color $color-text-gray-darker