// bower:styl
// endbower
@import "nib"

@import "../_variables"
@import "../_mixin"

@import "../_sprite/_sprite"

@import "_nav"
@import "_banner"
@import "_section"
@import "_pickupitem"
@import "_footer"
@import "_header"


/* ------------------------------------------------------
## base
```
```
*/
#page
  font-size 12px

#contents
  z-index auto !important
  font-size 12px
  font-family "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
  color #010101

.l-basic
  clearfix()
  fullwidth()
  background #fff

/* ------------------------------------------------------
## icon
```
```
*/
.icon-runway
  retina-sprite($icon_runway_retina)
  background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)
  width 42px !important

.model-tag-en
  .icon-runway
    retina-sprite($icon_runway_retina_en)
    background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.model-tag-tw
  .icon-runway
    retina-sprite($icon_runway_retina_tw)
    background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.model-tag-cn
  .icon-runway
    retina-sprite($icon_runway_retina_cn)
    background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

/* ------------------------------------------------------
## thumbnail
```
```
*/
.thumbnail
  position relative
  box-sizing border-box

.thumb-90-90
  thumbnail(80,80)
.thumb-93-93
  thumbnail(93,93)
.thumb-145-244
  thumbnail(145,244)

/* ------------------------------------------------------
## row
```
```
*/
.row
  clearfix()
  overflow hidden

.col
  reset-ul()
  position relative

.row_liquid
  @extend .row
  fullwidth()
  text-align center

  .col
    width 145px
    display inline-block

    .heading
      margin 5px 0
      text-align center

.row_2
  clearfix()

  .col
    width 50%
    float left
    text-align center

    a
      display inline-block

.row_4
  @extend .row

  >.col
    width 25%
    float left
    padding-right 10px
    box-sizing border-box
    text-align center

    a
      display inline-block

.row_90x3
  @extend .row

  >.col
    width 90px
    float left
    margin-right 10px
    text-align center

.row_full
  @extend .row

  >.col
    padding-bottom 15px

  &--bdr
    @extend .row_full
    margin-bottom -10px
    padding 0 10px

    >.col
      padding 15px 0
      border-top solid 1px $color-border-gray

      &:first-child
        padding-top 0
        border-top none

/* ------------------------------------------------------
## button
```
```
*/
.btn-base
  display inline-block
  box-sizing border-box
  text-align center

.btn-round
  @extend .btn-base
  width 100%
  min-height 25px
  padding 4px 3px 2px
  border-radius 13px
  background-color #fff
  font-size 14px

.btn-big-round
  @extend .btn-round
  border-radius 19px

  span
    position relative
    font-size 15px
    color $color-text-gray-darker

    &:before
    &:after
      content ""
      position absolute
      top 50%
      left 100%
      margin-top -7px
      margin-left 10px
      border solid 7px transparent
      border-left-color #444

    &:after
      border-left-color #fff
      margin-left 8px

/* ------------------------------------------------------
## link to top
```
```
*/
.scroll-top
  display block
  width 45px
  height 45px
  position fixed
  bottom 30px
  right 20px
  background #999
  border-radius 50%
  z-index 40

  span
    display block
    height 13px
    height 0
    position absolute
    top 6px
    left 14px
    border 9px solid transparent
    border-bottom 14px solid #fff