<table id="x_outer-table" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0; padding:0; background-color:#d0d2d3; min-height:100%; width:100%; border-collapse:collapse">
    <tbody>
        <tr>
            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                <table id="x_header" border="0" cellpadding="2" cellspacing="0" width="100%" style="background-color:#373737; border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                <table class="x_template-container" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:600px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                <table id="x_content-table" border="0" cellpadding="10" cellspacing="0" width="100%" style="background-color:#f4f4f5; border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:0; border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                <table class="x_template-container" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:600px">
                                                    <tbody>
                                                        <tr>
                                                            <td id="x_logo-container" align="center" valign="top" style="padding-top:15px; padding-bottom:15px; border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                                <a href="http://cwd-web/ga/" target="_blank" id="x_logo-link" style="display:block; color:#0D7CAD; font-weight:normal; text-decoration:underline"><img src="http://cwd-web/01_common/ec/girls_award/assets/img/ga_logo.png" id="x_mandrill-logo" alt="Girls Award Administration System" width="120" height="83" style="border:0; min-height:auto; line-height:100%; outline:none; text-decoration:none; max-width:600px; display:block"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                <table id="x_content-main" class="x_template-container" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff; border-radius:3px; border:1px solid #ccc; padding:10px 20px 30px 20px; border-collapse:separate; width:600px">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" id="x_content" style="text-align:left; border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                                <span class="x_h1" style="display:block; font-family:Helvetica,Arial,sans-serif; font-size:24px; font-style:normal; font-weight:bold; line-height:100%; letter-spacing:normal; margin-top:20px; margin-right:0; margin-bottom:0; margin-left:0; padding-bottom:5px">{{ subject }}</span>
                                                                <br>
                                                                <span class="x_p x_bottom10" style="margin-bottom:30px; color:#404041; font-family:Helvetica,Arial,sans-serif; font-size:15px; line-height:20px; text-align:left">Timestamp: <strong>{{ timestamp }}</strong></span>
                                                                <hr>
                                                                <br>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="top" style="text-align:left; border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                                <table id="x_stats-container" class="x_full-width" border="0" cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse">
                                                                    <tbody>
                                                                        {% for key, val in data  %}
                                                                        <tr>
                                                                            <td valign="top" class="x_template-column-container" style="text-align:left; border-collapse:collapse; font-family:Helvetica,Arial,sans-serif; width:100%; padding-bottom:15px">
                                                                                <span class="x_stat-label" style="font-size:14px; font-weight:bold; color:#414141">{{ key }}</span>
                                                                                <br>
                                                                                <span class="x_stat" style="font-size:20px; font-weight:normal; color:#148ac0">{{ val }}</span>
                                                                            </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                        <tr>
                                                                            <td style="color:#bf0000;">* Please change your password at your first login.</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="x_footer-outer" style="border-collapse:collapse; background-color:#f4f4f5">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif">
                                                <table id="x_footer-content" class="x_template-container" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:600px">
                                                    <tbody>
                                                        <tr>
                                                            <td id="x_footer-content-main" valign="top" style="border-collapse:collapse; font-family:Helvetica,Arial,sans-serif; padding-top:20px">
                                                                <p class="x_center" style="text-align:center; padding-bottom:60px; color:#808184; font-family:Helvetica; font-size:11px; line-height:150%; margin-top:0">
                                                                    © 2015 CWD All rights reserved.
                                                                    <br>
                                                                    <a href="http://cwd-web/ga/" target="_blank" style="color:#0D7CAD; font-weight:normal; text-decoration:underline">Girls Award Administration System</a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
