<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="shortcut icon" href="{{ link_base }}favicon.ico" >
{{ css }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<?php echo Asset::js('modernizr.js'); ?>
</head>

<body>

<div id="content" class="page">

<header class="header">
  <a href="{{ link_base }}" class="brand-logo"><svg class="svg"><use xlink:href="#svg-logo" /></svg></a>
{% if noauth == false %}
  <a class="menu js-menu-trigger" href="#"><svg><use xlink:href="#svg-menu" /></svg></a>
{% endif %}
</header>
<main>

{{ content }}

</main>
<aside class="aside"></aside>
<footer class="footer">
{% if noauth == false %}
  <p class="login-user"><svg><use xlink:href="#svg-panda" /></svg><span>{{ current_user.username }}</span></p>
{% endif %}
</footer>

</div><!-- /#content -->

{% if noauth == false %}
<div class="bg-overlay js-menu-overlay white"></div>
<nav class="nav grey lighten-5">
  <ul class="nav-list">
    {% if current_user.group == 100 %}
    <li>
      <p class="type">Page build</p>
      <ul>
        <li><a class="js-ect-export" href="#">ECT Export</a></li>
        <li><a class="js-grunt-build" href="#">Build</a></li>
      </ul>
    </li>
    {% endif %}
    <li>
        <p class="type">Coordination</p>
        <ul>
            <li><a href="{{ link_top_cord }}">Top Coordination ({{ cord_count }})</a></li>
            <li>
                <p>Brand Coordination</p>
                <ul>
                {% for brand in all_brands %}
                  <li><a href="{{ link_brand_cord }}?id={{ brand.id }}">{{ brand.name_ja }} ({{ brand.cord_count }})</a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
    <li>
      <p class="type">Master Data</p>
      <ul>
        <li><a href="{{ link_brand }}">Brands ({{ all_brands|length }})</a></li>
        <li><a href="{{ link_model }}">Models ({{ model_count }})</a></li>
        <li>
            <p>Items</p>
            <ul>
                {% for brand in all_brands %}
                  <li><a href="{{ link_item }}?id={{ brand.id }}">{{ brand.name_ja }} ({{ brand.item_count }})</a></li>
                {% endfor %}
            </ul>
        </li>
        <!-- <li><a href="{{ link_category }}">Categories</a></li> -->
      </ul>
    </li>
    <li>
      <p class="type">Import & Export</p>
      <ul>
      {% if current_user.group == 100 %}
        <li><a href="{{ link_import }}">Import</a></li>
      {% endif %}
        <li><a href="{{ link_export }}">Export</a></li>
      </ul>
    </li>
    <li>
      <p class="type">Administration</p>
      <ul>
        {% if current_user.group == 100 %}
        <li><a href="{{ link_user }}">Users</a></li>
        {% endif %}
        <li><a href="{{ link_account }}">Account</a></li>
        <li><a href="{{ link_logout }}">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
{% endif %}

<div class="bg">
  <svg class="bg-logo"><use xlink:href="#svg-logo" /></svg>
</div>

<div class="spinner js-loader"></div>

<div class="bg-build js-bg-build"></div>
<div class="complete-message card-panel teal lighten-2 center-align js-complete-message">
  <span class="white-text"></span>
</div>
<div class="complete-message card-panel red lighten-2 center-align js-error-message">
  <span class="white-text"></span>
</div>

<script>
  var TOKEN_NAME = '{{ token_name }}';
  var SVG_PATH = '{{ svg }}';
  var ECT_EXPORT_API = '{{ ect_api }}';
  var GRUNT_BUILD_API = '{{ build_api }}';
</script>
{{ js }}
{{ token_script }}

</body>
</html>