<header class="header">
  <a href="index.html" class="brand-logo"><svg class="svg"><use xlink:href="#svg-logo" /></svg></a>
  <a class="menu js-menu-trigger" href="#"><svg><use xlink:href="#svg-menu" /></svg></a>
</header>
