<section class="login">
  <div class="login__inner">
    <div class="login__box">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="last_name" type="text" class="validate" autofocus>
                <label for="last_name">User name or Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <a class="waves-effect waves-light btn">sign in</a>
  </div>
  <h1>- Girls Award Administration System -</h1>

  <div class="row login__message">
    <div class="card-panel red lighten-3">
      <span class="white-text">Sign in failed!!</span>
    </div>
  </div>
</section>
