<% if @language == "en" : %>
<!--#include virtual="/en/event/girlsaward/inc/ga2015aw_special_en.html"-->
<% else if @language == "tw" : %>
<!--#include virtual="/en/event/girlsaward/inc/ga2015aw_special_tw.html"-->
<% else : %>
<!--#include virtual="/en/event/girlsaward/inc/ga2015aw_special_cn.html"-->
<% end %>