<div class="section">
  <div class="section__head section__head--brand">
    <% if @language == "ja" : %>
    <h2><span>公式通販サイト取り扱いブランド</span></h2>
    <% else if @language == "en" : %>
    <h2><span>Rakuten Brand Avenue x GirlsAward Official Site Brands</span></h2>
    <% else if @language == "tw" : %>
    <h2><span>Rakuten Brand Avenue x GirlsAward 官方網站品牌</span></h2>
    <% else : %>
    <h2><span>Rakuten Brand Avenue x GirlsAward 官方网站品牌</span></h2>
    <% end %>
  </div>
  <div class="section__body">
    <% if @data.brands?.length : %>
    <ul class="itemlist row_160x4">
      <% for brand in @data.brands : %>
      <li class="col">
        <% if @language == "ja" : %>
          <% if brand.up_status == true : %>
          <div class="brand-logo">
            <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_top_logo_<%- brand.label %>"><img src="<%- brand.img %>" width="158" height="158" alt="<%- brand.name_en %>"></a>
          </div>
          <% else : %>
          <div class="brand-logo">
            <span><img src="<%- brand.img %>" width="158" height="158" alt="<%- brand.name_en %>"></span>
          </div>
          <% end %>
        <% else : %>
          <% if brand.global_status == true : %>
            <% if brand.up_status == true : %>
            <div class="brand-logo">
              <% if @language == "en" : %>
              <a href="http://global.rakuten.com/en/event/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_en_top_logo_<%- brand.label %>"><img src="<%- brand.img %>" width="158" height="158" alt="<%- brand.name_en %>"></a>
              <% else : %>
              <a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_<%- @language %>_top_logo_<%- brand.label %>"><img src="<%- brand.img %>" width="158" height="158" alt="<%- brand.name_en %>"></a>
              <% end %>
            </div>
            <p class="brand-name"><%- brand.name_en %></p>
            <% else : %>
            <div class="brand-logo">
              <span><img src="<%- brand.img %>" width="158" height="158" alt="<%- brand.name_en %>"></span>
            </div>
            <p class="brand-name"><%- brand.name_en %></p>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>