<div class="section">
  <div class="section__head section__head--artist">
    <h2><span>Guest & Artist</span></h2>
  </div>
  <div class="section__body">
    <ul class="row_160x4">
      <% if @language == "ja" : %>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_01.jpg" width="160" height="160" alt="井上苑子"></div><p class="model-name">井上苑子</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_02.jpg" width="160" height="160" alt="Miracle Vell Magic"></div><p class="model-name">Miracle Vell Magic</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_03.jpg" width="160" height="160" alt="東京女子流"></div><p class="model-name">東京女子流</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_04.jpg" width="160" height="160" alt="XOX"></div><p class="model-name">XOX</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_05.jpg" width="160" height="160" alt="剛力彩芽"></div><p class="model-name">剛力彩芽</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_06.jpg" width="160" height="160" alt="SHINee"></div><p class="model-name">SHINee</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_07.jpg" width="160" height="160" alt="SCANDAL"></div><p class="model-name">SCANDAL</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_08.jpg" width="160" height="160" alt="超特急"></div><p class="model-name">超特急</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_09.jpg" width="160" height="160" alt="でんぱ組.inc"></div><p class="model-name">でんぱ組.inc</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_10.jpg" width="160" height="160" alt="乃木坂46"></div><p class="model-name">乃木坂46</p></li>
      <% else : %>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_01.jpg" width="160" height="160" alt="Sonoko Inoue"></div><p class="model-name">Sonoko Inoue</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_02.jpg" width="160" height="160" alt="Miracle Vell Magic"></div><p class="model-name">Miracle Vell Magic</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_03.jpg" width="160" height="160" alt="TOKYO GIRLS' STYLE"></div><p class="model-name">TOKYO GIRLS' STYLE</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_04.jpg" width="160" height="160" alt="XOX"></div><p class="model-name">XOX</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_05.jpg" width="160" height="160" alt="Ayame Goriki"></div><p class="model-name">Ayame Goriki</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_06.jpg" width="160" height="160" alt="SHINee"></div><p class="model-name">SHINee</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_07.jpg" width="160" height="160" alt="SCANDAL"></div><p class="model-name">SCANDAL</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_08.jpg" width="160" height="160" alt="BULLET TRAIN"></div><p class="model-name">BULLET TRAIN</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_09.jpg" width="160" height="160" alt="Dempagumi.inc"></div><p class="model-name">Dempagumi.inc</p></li>
        <li class="col"><div class="model-image"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_10.jpg" width="160" height="160" alt="Nogizaka46"></div><p class="model-name">Nogizaka46</p></li>
      <% end %>
    </ul>
    <div class="clearfix">
      <p class="and-more">and more!</p>
      <% if @language == "ja" : %>
      <p class="copyright">&copy;&nbsp;GirlsAward<br><span class="model-note">ゲスト、アーティストの並び順は50音順です</span></p>
      <% else : %>
      <p class="copyright">&copy;&nbsp;GirlsAward</p>
      <% end %>
    </div>
  </div>
</div>