<div class="section">
  <div class="section__head section__head--model">
    <% if @language == "ja" : %>
    <h2><span>Models 出演モデル</span></h2>
    <% else if @language == "en" : %>
    <h2><span>Models</span></h2>
    <% else if @language == "tw" : %>
    <h2><span>模特兒</span></h2>
    <% else : %>
    <h2><span>模特儿</span></h2>
    <% end %>
  </div>
  <div class="section__body">
    <% if @data.models?.length : %>
      <ul class="itemlist row_160x4">
        <% for model in @data.models : %>
          <li class="col">
            <% if @language == "ja" : %>
              <div class="model-image"><img src="<%- model.img %>" width="160" height="160" alt="<%- model.name_ja %>"></div>
              <p class="model-name"><%- model.name_ja %></p>
            <% else : %>
              <div class="model-image"><img src="<%- model.img %>" width="160" height="160" alt="<%- model.name_en %>"></div>
              <p class="model-name"><%- model.name_en %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="clearfix">
      <p class="and-more">and more!</p>
      <% if @language == "ja" : %>
        <p class="copyright">&copy;&nbsp;GirlsAward<br><span class="model-note">モデルの並び順は50音順です</span></p>
      <% end %>
    </div>
  </div>
</div>