<% if @language == "cn" : %>
<% else : %>
<div class="section">
  <div class="section__head section__head--movie">
    <h2><span>GirlsAward 2015 AUTUMN/WINTER LIVE ON fashiontv</span></h2>
  </div>
  <div class="section__body ustream-movie">
    <iframe width="640" height="320" src="http://www.ustream.tv/embed/16060873?html5ui&autoplay=true" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe>
  </div>
</div>
<% end %>