<div class="section">
  <div class="section__head section__head--runway">
    <% if @language == "ja" : %>
      <h2><span>Runway Coordinates　ランウェイコーディネート</span></h2>
    <% else if @language == "en" : %>
      <h2><span>Runway Looks</span></h2>
    <% else if @language == "tw" : %>
      <h2><span>天橋時裝展示</span></h2>
    <% else : %>
      <h2><span>天桥时装展示</span></h2>
    <% end %>
  </div>
  <div class="section__body">
  <% if @data.top_cord?.length : %>
    <ul class="row_220x3">
      <% for cord in @data.top_cord : %>
        <% if @language == "ja" : %>
        <li class="col">
          <% if cord.up_status == true : %>
          <div class="item__overlay">
            <div class="item__head">
              <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_top_coor" class="btn-round"><%- cord.brand.name_ja %></a>
              <% if cord.photo_status == true : %>
              <div class="item__model"><%- cord.model.name_ja %></div>
              <% end %>
            </div>
            <div class="item__body">
              <% if cord.photo_status == true : %>
              <div class="thumbnail thumb-220-340"><a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_top_coor" class="item-link"><%- cord.brand.name_ja %></a><img src="<%- cord.img %>" alt="<%- cord.brand.name_ja %>"></div>
              <% else : %>
              <div class="thumbnail thumb-220-340"><a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_top_coor"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></a></div>
              <% end %>
              <% if cord.photo_status == true : %>
              <div class="item--seenonrunway"><span>モデル着用アイテム</span></div>
              <% else : %>
              <div class="item--seenonrunway"><span>販売スタート！</span></div>
              <% end %>
            </div>
            <% if cord.photo_status == true : %>
            <div class="item__overlay-list">
              <ul>
                <% for item in cord.items : %>
                <li class="item__overlay">
                  <a href="http://item.rakuten.co.jp/stylife/<%- item.url %>/?l-id=rba_ev_ga20151024_top_cooritem">
                    <div class="item__overlay-img">
                      <div class="thumbnail thumb-40-40"><img src="<%- item.img %>" alt="<%- item.name_ja %>"></div>
                    </div>
                    <div class="item__overlay-detail">
                      <div class="description"><%- item.name_ja %></div>
                      <div class="price"><span class="js-price-num"><%- item.price_ja %></span>円</div>
                    </div>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
          <% else : %>
          <div class="item__overlay">
            <div class="item__head">
              <span class="btn-round"><%- cord.brand.name_ja %></span>
              <div class="item__model"></div>
            </div>
            <div class="item__body">
              <div class="thumbnail thumb-220-340"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></div>
            </div>
          </div>
          <% end %>
        </li>
        <% else : %>
        <li class="col">
          <% if cord.global_status == true : %>
            <% if cord.up_status == true : %>
            <div class="item__overlay">
              <div class="item__head">
                <% if @language == "en" : %>
                <a href="http://global.rakuten.com/en/event/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_en_top_coor" class="btn-round"><%- cord.brand.name_en %></a>
                <% else : %>
                <a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_<%- @language %>_top_coor" class="btn-round"><%- cord.brand.name_en %></a>
                <% end %>
                <% if cord.photo_status == true : %>
                <div class="item__model"><%- cord.model.name_en %></div>
                <% end %>
              </div>
              <div class="item__body">
                <% if cord.photo_status == true : %>
                  <% if @language == "en" : %>
                  <div class="thumbnail thumb-220-340"><a href="http://global.rakuten.com/en/event/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_en_top_coor" class="item-link"><%- cord.brand.name_en %></a><img src="<%- cord.img %>" alt="<%- cord.brand.name_en %>"></div>
                  <% else : %>
                  <div class="thumbnail thumb-220-340"><a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_<%- @language %>_top_coor" class="item-link"><%- cord.brand.name_en %></a><img src="<%- cord.img %>" alt="<%- cord.brand.name_en %>"></div>
                  <% end %>
                <% else : %>
                  <% if @language == "en" : %>
                  <div class="thumbnail thumb-220-340"><a href="http://global.rakuten.com/en/event/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_en_top_coor" class="item-link"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></a></div>
                  <% else : %>
                  <div class="thumbnail thumb-220-340"><a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_<%- @language %>_top_coor" class="item-link"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></a></div>
                  <% end %>
                <% end %>
                <% if cord.photo_status == true : %>
                  <% if @language == "en" : %>
                  <div class="item--seenonrunway"><span>Runway Items</span></div>
                  <% else if @language == "tw" : %>
                  <div class="item--seenonrunway"><span>模特兒　穿著</span></div>
                  <% else : %>
                  <div class="item--seenonrunway"><span>模特　衣着</span></div>
                  <% end %>
                <% else : %>
                  <% if @language == "en" : %>
                  <div class="item--seenonrunway"><span>Sales Starts</span></div>
                  <% else if @language == "tw" : %>
                  <div class="item--seenonrunway"><span>開時販售</span></div>
                  <% else : %>
                  <div class="item--seenonrunway"><span>开时贩售</span></div>
                  <% end %>
                <% end %>
              </div>
              <% if cord.photo_status == true : %>
              <div class="item__overlay-list">
                <ul>
                  <% for item in cord.items : %>
                  <li class="item__overlay">
                    <% if @language == "en" : %>
                      <a href="http://global.rakuten.com/en/store/stylife/item/<%- item.url %>/?l-id=rba_ev_ga20151024_en_top_cooritem">
                        <div class="item__overlay-img">
                          <div class="thumbnail thumb-40-40"><img src="<%- item.img %>" alt="<%- item.name_en %>"></div>
                        </div>
                        <div class="item__overlay-detail">
                          <div class="description"><%- item.name_en %></div>
                          <div class="price"><span class="js-price-num"><%- item.price_ja %></span> JPY</div>
                        </div>
                      </a>
                    <% else if @language == "tw" : %>
                      <a href="http://global.rakuten.com/zh-tw/store/stylife/item/<%- item.url %>/?l-id=rba_ev_ga20151024_tw_top_cooritem">
                        <div class="item__overlay-img">
                          <div class="thumbnail thumb-40-40"><img src="<%- item.img %>" alt="<%- item.name_tw %>"></div>
                        </div>
                        <div class="item__overlay-detail">
                          <div class="description"><%- item.name_tw %></div>
                          <div class="price"><span class="js-price-num"><%- item.price_ja %></span> 日元</div>
                        </div>
                      </a>
                    <% else : %>
                      <a href="http://global.rakuten.com/zh-cn/store/stylife/item/<%- item.url %>/?l-id=rba_ev_ga20151024_tw_top_cooritem">
                        <div class="item__overlay-img">
                          <div class="thumbnail thumb-40-40"><img src="<%- item.img %>" alt="<%- item.name_tw %>"></div>
                        </div>
                        <div class="item__overlay-detail">
                          <div class="description"><%- item.name_tw %></div>
                          <div class="price"><span class="js-price-num"><%- item.price_ja %></span> 日元</div>
                        </div>
                      </a>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
              <% end %>
            </div>
            <% else : %>
            <div class="item__overlay">
              <div class="item__head">
                <span class="btn-round"><%- cord.brand.name_en %></span>
                <div class="item__model"></div>
              </div>
              <div class="item__body">
                <div class="thumbnail thumb-220-340"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></div>
              </div>
            </div>
            <% end %>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>