<div class="section">
  <div class="section__head section__head--whatsga">
    <h2><span>What is GirlsAward?</span></h2>
  </div>
  <div class="section__body">
    <div class="row_col2">
      <div class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/img_ga.jpg" width="340" height="226"></div>
      <% if @language == "ja" : %>
      <div class="col about-ga"><em>『日本最大級のファッション＆音楽イベント！』</em>
        <p>総勢200名以上の豪華モデル・アーティストが出演する「日本最大級のファッション&音楽イベント」として、2010年から年2回開催されている。今回10月24日(土)開催の「GirlsAward 2015 AUTUMN/WINTER」は記念すべき5周年公演。</p>
      </div>
      <% else if @language == "en" : %>
      <div class="col about-ga"><em>Japan's Biggest Fashion & Music Event! </em>
        <p>Over 200 Top Japanese Models & Music Artists will be on performance! "GirlsAward 2015 Autumn / Winter" will be held in Tokyo on October 24th. </p>
      </div>
      <% else if @language == "tw" : %>
      <div class="col about-ga"><em>日本最大規模時尚音樂盛事!</em>
        <p>超過200 名日本模特兒和藝人參與演出的毫華陣容<br>十月二十四日 『GirlsAward 2015 Autumn / Winter 』東京盛大登場</p>
      </div>
      <% else : %>
      <div class="col about-ga"><em>日本最大规模时尚音乐盛事！</em>
        <p>超过200名日本模特儿和艺人参与演出的毫华阵容<br>十月二十四日「GirlsAward2015年Autumn / Winter」东京盛大登场</p>
      </div>
      <% end %>
    </div>
  </div>
</div>