<h2 class="title">System Architecture</h2>

<section>
  <h3 class="title-sub">System information</h3>
  <table class="bordered">
    <tr>
      <th class="sm">Server</th>
      <td class="lg">Windows Storage Server 2008 R2 Standard (cwd-web)</td>
    </tr>
    <tr>
      <th class="sm">Database</th>
      <td class="lg">MySQL 5.5 <small> * ER diagram: /ga_administration/config/er_ga.pdf</small></td>
    </tr>
    <tr>
      <th class="sm">Web server</th>
      <td class="lg">Apache 2.2</td>
    </tr>
    <tr>
      <th class="sm">Language</th>
      <td class="lg">PHP 5.3.17 with FuelPHP</td>
    </tr>
  </table>

  <h3 class="title-sub">Path information</h3>
  <table class="bordered">
    <tr>
      <th rowspan="4" class="sm">Production URL (Top PC/SP)</th>
      <td class="lg">(JP) <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/" target="_blank">http://event.rakuten.co.jp/fashion/rba/girlsaward/</a></td>
      <td class="lg"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/" target="_blank">http://event.rakuten.co.jp/smart/rba/girlsaward/</a></td>
    </tr>
    <tr>
      <td class="lg">(EN) <a href="http://global.rakuten.com/en/event/girlsaward/" target="_blank">http://global.rakuten.com/en/event/girlsaward/</a></td>
      <td class="lg"><a href="http://global.rakuten.com/en/event/girlsaward/sp/" target="_blank">http://global.rakuten.com/en/event/girlsaward/sp/</a></td>
    </tr>
    <tr>
      <td class="lg">(CN) <a href="http://global.rakuten.com/zh-cn/event/girlsaward/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/</a></td>
      <td class="lg"><a href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/sp/</a></td>
    </tr>
    <tr>
      <td class="lg">(TW) <a href="http://global.rakuten.com/zh-tw/event/girlsaward/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/</a></td>
      <td class="lg"><a href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/sp/</a></td>
    </tr>
    <tr>
      <th rowspan="4" class="sm">Production URL (Brand PC/SP)</th>
      <td class="lg">(JP) <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/emoda/" target="_blank">http://event.rakuten.co.jp/fashion/rba/girlsaward/&lt;brand&gt;/</a><br><small>The link is for "EMODA" as a sample brand.</small></td>
      <td class="lg"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/emoda/" target="_blank">http://event.rakuten.co.jp/smart/rba/girlsaward/&lt;brand&gt;/</a></td>
    </tr>
    <tr>
      <td class="lg">(EN) <a href="http://global.rakuten.com/en/event/girlsaward/emoda/" target="_blank">http://global.rakuten.com/en/event/girlsaward/&lt;brand&gt;/</a></td>
      <td class="lg"><a href="http://global.rakuten.com/en/event/girlsaward/sp/emoda/" target="_blank">http://global.rakuten.com/en/event/girlsaward/sp/&lt;brand&gt;/</a></td>
    </tr>
    <tr>
      <td class="lg">(CN) <a href="http://global.rakuten.com/zh-cn/event/girlsaward/emoda/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/&lt;brand&gt;/</a></td>
      <td class="lg"><a href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/emoda/" target="_blank">http://global.rakuten.com/zh-cn/event/girlsaward/sp/&lt;brand&gt;/</a></td>
    </tr>
    <tr>
      <td class="lg">(TW) <a href="http://global.rakuten.com/zh-tw/event/girlsaward/emoda/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/&lt;brand&gt;/</a></td>
      <td class="lg"><a href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/emoda/" target="_blank">http://global.rakuten.com/zh-tw/event/girlsaward/sp/&lt;brand&gt;/</a></td>
    </tr>
    <tr>
      <th rowspan="3" class="sm">Teamsite (teamsite01)</th>
      <td colspan="2" class="lg">(Domestic PC) /default/main/event/all/WORKAREA/00-PUBLIC/htdocs/fashion</td>
    </tr>
    <tr>
      <td colspan="2" class="lg">(Domestic SP) /default/main/event/all/WORKAREA/00-PUBLIC/htdocs/smart</td>
    </tr>
    <tr>
      <td colspan="2" class="lg">(Global) /default/main/global/all/WORKAREA/00-PUBLIC/htdocs/com/global</td>
    </tr>
    <tr>
      <th class="sm">kakunin server</th>
      <td colspan="2" class="lg">/default/main/kakunin.rakuten/all/WORKAREA/00-PUBLIC/htdocs/rakuten/swd/ga/2015aw<br><small>"2015aw" will be changed depending on the season.</small></td>
    </tr>
    <tr>
      <th class="sm">Admin system</th>
      <td colspan="2" class="lg"><a href="http://cwd-web/01_common/ec/girls_award/" target="_blank">http://cwd-web/ga/ (http://cwd-web/01_common/ec/girls_award/)</a></td>
    </tr>
    <tr>
      <th class="sm">Mail system</th>
      <td colspan="2" class="lg"><a href="https://mandrillapp.com/" target="_blank">https://mandrillapp.com/</a><br><small>username: ga_admin, password: 5tgbnhy6!</small><br><small>Please change the contact email address on <a href="https://mandrillapp.com/account/contact" target="_blank">https://mandrillapp.com/account/contact</a></small></td>
    </tr>
  </table>
</section>

<section>
  <div class="center-align">
    <img src="/img/manual/ga_admin.jpg" alt="System Overview" width="700"><br>
    <small>* This image is created with <a href="https://www.gliffy.com/">gliffy</a>.
  The original gliffy file is stored in /ga_administration/config/manual/*.gliffy.</small>
  </div>
</section>
