<h2 class="title">Operation</h2>

<section>
  <h3 class="title-sub">Initialize</h3>
  <p>
    Please register users for the system with an administrator account. Each user belongs to one of these roles.
    <table class="bordered">
      <tr>
        <th>Administrators</th>
        <td>Full opperation</td>
      </tr>
      <tr>
        <th>Moderators</th>
        <td>Operation except user administration & xls importing</td>
      </tr>
      <tr>
        <th>Users</th>
        <td>Just refferencing data</td>
      </tr>
    </table>
  </p>
</section>

<section>
  <h3 class="title-sub">Pre-event</h3>
  <p>
  Before the event, operators is to import event information (brands, models, and items) into database on cwd-web.<br>
  The information is to be provided in excel format. Please use specified templates.

  <ol>
    <li><a href="{{ link_base }}export/excel/data/?type=temp_brand"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand template</a></li>
    <li><a href="{{ link_base }}export/excel/data/?type=temp_model"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Model template</a></li>
    <li>
      <a href="{{ link_base }}export/excel/data/?type=temp_coord"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template</a>

      <!-- In case no brands & models are imported. -->
      <span><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template</span><small>&nbsp;&nbsp;&nbsp;&nbsp;* Coordinates can be uploaded after the completion of import for brands & models.</small>
    </li>
  </ol>

  The data needs to be imported in the folowing order.
  <ol class="steps">
    <li>
      <p>Download template xls files for brands & models.</p>
      <small><a href="{{ link_base }}export/excel/data/?type=temp_brand"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand template</a></small>
      <small><a href="{{ link_base }}export/excel/data/?type=temp_model"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Model template</a></small>
    </li>
    <li>Import brands & models.</li>
    <li>
      <p>Download template xls file for items (brand coordinates).</p>
      <small><a href="{{ link_base }}export/excel/data/?type=temp_coord"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template</a></small>

      <!-- In case no brands & models are imported. -->
      <small class="js-tooltip" title="Please complete importing brands & models."><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Coordinates template&nbsp;&nbsp;&nbsp;* Coordinates can be uploaded after the completion of import for brands & models.</small>
    </li>
    <li>Import coordinates (brand basis).</li>
  </ol>
  </p>
  <div class="center-align">
    <video src="/img/mov/manual01.m4v" controls></video>
  </div>
  <p>
    It is recommended that, after those importing, any update on each item will be conducted on the web page instead of importing excel files again.<br>
    It is because brands and models in excel must be consistent with database.<br>
    If you would like to use excel imorting again, please download the target template, which includes all of the exsiting data, prior to execution.
    <ol>
      <li><a href="{{ link_base }}export/excel/data/?type=brand"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand template with data</a></li>
      <li><a href="{{ link_base }}export/excel/data/?type=model"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Model template with data</a></li>
      <li>
      <a href="{{ link_base }}export/excel/data/?type=brandtop"><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand coordinates template with data</a>

      <!-- In case no brands & models are imported. -->
      <span><svg class="svg-download"><use xlink:href="#svg-download" /></svg>Brand coordinates template with data</span><br>
      <small>* Coordinates can be uploaded after the completion of import for brands & models.</small>
      </li>
    </ol>
  </p>
</section>

<section>
  <h3 class="title-sub">Event</h3>
  <div>
  There are 2 main operations during the event.
    <ol>
      <li>
        <p>Brand link activation</p>
        <p>
          After a brand appears on runway of the event, the brand link on the top page is to be activated.<br>
          Changing "up satus" in the brand record to "true" activates the brand link.<br>
          In addition, "new status" is to be "true" because it is the latest activated brand, while the other brands' "new status" is "false".<br>
          That means the next runway will switch the "new status" back to "false" again.
        </p>
        <div class="center-align">
          <video src="/img/mov/event01.m4v" controls></video>
        </div>
      </li>
      <li>
        <p>Model photo activation</p>
        <p>
          After a model appears on the runway, her/his photo will be ready for the web pages.<br>
          When it is ready, "photo status" is to be "true" for each one of brand coordinates.
        </p>
        <div class="center-align">
          <video src="/img/mov/event02.m4v" controls></video>
        </div>
      </li>
    </ol>
  </div>
</section>