<h2 class="title">Site Overview</h2>

<section>
  <p>The Girls Award site consists of top and brand coordination pages.</p>
  <p>The top coordination has model coordinates which come from the first coordination of brand coordinates (indicated as "Coordination 1" below). Each coordination has a model and 6 items in maximum. However, only the first coordination has 3 items in maximum. This is because the top coordination page shows item lists overlaying the model picture along with mouse hovering action. A set of more than 3 items overflows the picture area.</p>
  <div class="center-align">
  <img src="/img/manual/ga_site.jpg" alt="Site Overview" width="700"><br>
  <small>* This image is created with <a href="https://www.gliffy.com/">gliffy</a>.
  The original gliffy file is stored in /ga_administration/config/manual/*.gliffy.</small>
  </div>
</section>
