<h1><i class="material-icons">mode_edit</i> NEW TOP COORDINATION</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form id="subject_update" class="col s12" action="{{ link_base }}grandtop/create/" method="post">
    <div class="row">
      <div class="input-field col s3">
        <select name="order" autofocus>
          <option value="" disabled>Set order</option>
          <option value="">-</option>
          {% for i in 1..20 %}
          {% if i == data.order %}
          <option value="{{ i }}" selected>{{ i }}</option>
          {% else %}
          <option value="{{ i }}">{{ i }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="order">Order</label>
      </div>

      <div class="input-field col s4">
        <select name="brand_id" class="js-brand-select">
          <option value="" disabled>Choose brand</option>
          <option value="">-</option>
          {% for brand in brands %}
          {% if brand.id == data.brand_id %}
          <option value="{{ brand.id }}" selected>{{ brand.name_ja|e }}</option>
          {% else %}
          <option value="{{ brand.id }}">{{ brand.name_ja|e }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Brand</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}grandtop/" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>

<script>
var GA_ITEMS = {{ itemJson }};
</script>