  <h1>TOP COORDINATION</h1>
  <p class="table-note">* Updated time in red indicates the recent update within 1hr.</p>

  <div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="xsm">Order</th>
          <th class="sm">Brand</th>
          <th class="sm">Model</th>
          <th class="lg">Item</th>
          <th class="lg">Img URL</th>
          <th class="sm">Photo status</th>
          <th class="sm">Updated by</th>
          <th>Updated at</th>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <th class="sm">Control</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
{% for item in data %}
        <tr class="{{ item.recent_update_class }}">
          <td rowspan="6">{{ item.order }}</td>
          <td rowspan="6">{{ item.brand_name }}</td>
          <td rowspan="6" class="js-tooltip" title='<img src="{{ item.model_img }}" width="100">'>{{ item.model_name }}</td>
          <td class="lg"><p class="truncate">{{ item.item_name_1 }}</p></td>
          <td class="lg js-tooltip" rowspan="6" title='<img src="{{ item.img }}" width="100">'><p><a href="{{ item.img }}">{{ item.img }}</a></p></td>
          <td rowspan="6">{{ item.photo_status_str }}</td>
          <td rowspan="6">{{ item.update_user }}</td>
          <td rowspan="6" class="updated_at">{{ item.updated_at }}</td>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <td class="control" rowspan="6">
            <a href="{{ link_base }}grandtop/edit/{{ item.id }}" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
            <a href="{{ link_base }}grandtop/delete/{{ item.id }}" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
          </td>
          {% endif %}
        </tr>
        <tr>
          <td class="lg"><p class="truncate">{{ item.item_name_2 }}</p></td>
        </tr>
        <tr>
          <td class="lg"><p class="truncate">{{ item.item_name_3 }}</p></td>
        </tr>
        <tr>
          <td class="lg"><p class="truncate">{{ item.item_name_4 }}</p></td>
        </tr>
        <tr>
          <td class="lg"><p class="truncate">{{ item.item_name_5 }}</p></td>
        </tr>
        <tr>
          <td class="lg"><p class="truncate">{{ item.item_name_6 }}</p></td>
        </tr>
{% else %}
      <tr>
        <td colspan="10" class="center-align">No Record</td>
      </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if current_user.group == 100 or current_user.group == 50 %}
<div class="float-btn">
  <a href="{{ link_base }}grandtop/create/" class="js-tooltip btn-floating waves-effect waves-light red" title="Add">
    <svg class="add"><use xlink:href="#svg-plus" /></svg>
    <svg class="write"><use xlink:href="#svg-pencil" /></svg>
  </a>
</div>
{% endif %}