<h1>DATA IMPORT</h1>

<section class="file-import">
  <div class="dropzone-wrap" data-url="{{ link_base }}import/brand/data/">
    <h2>BRAND IMPORT <small>(<a href="{{ link_base }}brand/">{{ cntBrand }}</a> records in database)</small></h2>
    <p class="note"><small><em>* Exsisting data is to be replaced with data imported.</em></small></p>

    <div class="my-awesome-dropzone dropzone"></div>
    <p class="center-align btn-upload">
      <a href="#" class="waves-effect waves-light btn grey js-btn-upload-cancel">Remove file</a>
      <a href="#" class="waves-effect waves-light btn js-btn-upload">Start import</a>
    </p>
    <p class="center-align btn-download">
      <a href="{{ link_base }}export/excel/data/?type=temp_brand" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template</a>
    </p>
  </div>
</section>

<section class="file-import">
  <div class="dropzone-wrap" data-url="{{ link_base }}import/model/data/">
    <h2>MODEL IMPORT <small>(<a href="{{ link_base }}model/">{{ cntModel }}</a> records in database)</small></h2>
    <p class="note"><small><em>* Exsisting data is to be replaced with data imported.</em></small></p>
    <div class="my-awesome-dropzone dropzone"></div>
    <p class="center-align btn-upload">
      <a href="#" class="waves-effect waves-light btn grey js-btn-upload-cancel">Remove file</a>
      <a href="#" class="waves-effect waves-light btn js-btn-upload">Start import</a>
      <p class="center-align btn-download">
        <a href="{{ link_base }}export/excel/data/?type=temp_model" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template</a>
      </p>
    </p>
  </div>
</section>

<section class="file-import">
  <div class="dropzone-wrap" data-url="{{ link_base }}import/item/data/" data-max-file="{{ cntBrand }}">
    <h2>COORDINATION IMPORT</h2>

{% if itemReadyFlag %}
    <p class="note"><small><em>* Exsisting data is to be replaced with data imported.</em></small></p>
    <div class="my-awesome-dropzone dropzone"></div>
    <p class="center-align btn-upload">
      <a href="#" class="waves-effect waves-light btn grey js-btn-upload-cancel">Remove file</a>
      <a href="#" class="waves-effect waves-light btn js-btn-upload">Start import</a>
    </p>
    <p class="center-align btn-download">
      <a href="{{ link_base }}export/excel/data/?type=temp_coord" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template (with no data)</a>
    </p>
    <p class="center-align btn-download">
      <a href="{{ link_base }}export/excel/data/?type=brandtop" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template (with exsisting data)</a>
    </p>
{% else %}
    <div class="dropzone inactive-message">
      <div class="dz-default">
        <span>
          <svg class="svg-404"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-404"></use></svg>
          <p class="upload-message"><small class="text">Please import brands and models first!</small></p>
        </span>
      </div>
    </div>
{% endif %}
  </div>
</section>
