<div class="nav">
  <ul class="page-nav">
    <% if @language == "ja" : %>
    <li class="page-nav__item"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/">Top</a></li>
    <li class="page-nav__item"><span class="js-accordion-trigger">ブランド</span>
      <% if @data.brands?.length : %>
        <ul class="nav-list js-accordion-target odd">
          <% for brand in @data.brands : %>
            <% if brand.up_status == true : %>
            <li class="nav-list__item"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_sp_left_<%- brand.label %>"><%- brand.name_en %></a></li>
            <% else : %>
            <li class="nav-list__item"><span><%- brand.name_en %></span></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </li>
    <% else if @language == "en" : %>
    <li class="page-nav__item"><a href="http://global.rakuten.com/en/event/girlsaward/sp/">Top</a></li>
    <li class="page-nav__item"><span class="js-accordion-trigger">Brand</span>
      <% if @data.brands?.length : %>
        <ul class="nav-list js-accordion-target odd">
        <% for brand in @data.brands : %>
          <% if brand.global_status == true : %>
            <% if brand.up_status == true : %>
            <li class="nav-list__item"><a href="http://global.rakuten.com/en/event/girlsaward/sp/<%- brand.label %>/?l-id=rba_ev_ga20151024_sp_en_left_<%- brand.label %>"><%- brand.name_en %></a></li>
            <% else : %>
            <li class="nav-list__item"><span><%- brand.name_en %></span></li>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      <% end %>
    </li>
    <% else : %>
    <li class="page-nav__item"><a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/sp/">Top</a></li>
    <li class="page-nav__item"><span class="js-accordion-trigger">品牌</span>
      <% if @data.brands?.length : %>
        <ul class="nav-list js-accordion-target odd">
        <% for brand in @data.brands : %>
          <% if brand.global_status == true : %>
            <% if brand.up_status == true : %>
            <li class="nav-list__item"><a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/sp/<%- brand.label %>/?l-id=rba_ev_ga20151024_sp_<%- @language %>_left_<%- brand.label %>"><%- brand.name_en %></a></li>
            <% else : %>
            <li class="nav-list__item"><span><%- brand.name_en %></span></li>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      <% end %>
    </li>
    <% end %>
    <% if @language == "ja" : %>
    <li class="page-nav__item"><span class="js-accordion-trigger">カテゴリ</span>
      <ul class="nav-list js-accordion-target even">
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/555087/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_outer">アウター</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/206488/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_knit">ニット</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/206471/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_knit">ニット</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/206482/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_cutsew">カットソー</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/110729/?ev=25&f=1&st=O&v=3?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_onepiece">ワンピース</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/555089/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_bottoms">ボトムス</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/100480/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_shoes">シューズ</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/110933/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_bag">バッグ</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/100486/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_accessories">アクセサリー</a></li>
        <li class="nav-list__item"><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/502427/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_sp_left_hat">帽子</a></li>
      </ul>
    </li>
    <% else if @language == "en" : %>
    <li class="page-nav__item"><span class="js-accordion-trigger">Category</span>
      <ul class="nav-list js-accordion-target even">
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555087&?l-id=rba_ev_ga20151024_sp_en_left_outer">Outerwear</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206488&?l-id=rba_ev_ga20151024_sp_en_left_knit">Knitwear</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206471&?l-id=rba_ev_ga20151024_sp_en_left_shirt">Shirts</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206482&?l-id=rba_ev_ga20151024_sp_en_left_cutsew">Cotton</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110729&?l-id=rba_ev_ga20151024_sp_en_left_onepiece">Dresses</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555089&?l-id=rba_ev_ga20151024_sp_en_left_bottoms">Bottoms</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100480&?l-id=rba_ev_ga20151024_sp_en_left_shoes">Shoes</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110933&?l-id=rba_ev_ga20151024_sp_en_left_bag">Bags</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100486&?l-id=rba_ev_ga20151024_sp_en_left_accessories">Accessories</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=502427&?l-id=rba_ev_ga20151024_sp_en_left_hat">Hats</a></li>
      </ul>
    </li>
    <% else if @language == "tw" : %>
    <li class="page-nav__item"><span class="js-accordion-trigger">商品類別</span>
      <ul class="nav-list js-accordion-target even">
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555087&?l-id=rba_ev_ga20151024_sp_tw_left_outer">外衣</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206488&?l-id=rba_ev_ga20151024_sp_tw_left_knit">毛衣</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206471&?l-id=rba_ev_ga20151024_sp_tw_left_shirt">襯衫</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206482&?l-id=rba_ev_ga20151024_sp_tw_left_cutsew">綿製衣物</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110729&?l-id=rba_ev_ga20151024_sp_tw_left_onepiece">連身裙</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555089&?l-id=rba_ev_ga20151024_sp_tw_left_bottoms">下裝</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100480&?l-id=rba_ev_ga20151024_sp_tw_left_shoes">鞋</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110933&?l-id=rba_ev_ga20151024_sp_tw_left_bag">手袋</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100486&?l-id=rba_ev_ga20151024_sp_tw_left_accessories">配件</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=502427&?l-id=rba_ev_ga20151024_sp_tw_left_hat">帽子</a></li>
      </ul>
    </li>
    <% else : %>
    <li class="page-nav__item"><span class="js-accordion-trigger">商品类别</span>
      <ul class="nav-list js-accordion-target even">
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555087&?l-id=rba_ev_ga20151024_sp_cn_left_outer">外衣</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206488&?l-id=rba_ev_ga20151024_sp_cn_left_knit">针织品</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206471&?l-id=rba_ev_ga20151024_sp_cn_left_shirt">衬衫</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206482&?l-id=rba_ev_ga20151024_sp_cn_left_cutsew">绵制衣物</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110729&?l-id=rba_ev_ga20151024_sp_cn_left_onepiece">连衣裙</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555089&?l-id=rba_ev_ga20151024_sp_cn_left_bottoms">下装</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100480&?l-id=rba_ev_ga20151024_sp_cn_left_shoes">鞋</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110933&?l-id=rba_ev_ga20151024_sp_cn_left_bag">包包</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100486&?l-id=rba_ev_ga20151024_sp_cn_left_accessories">配件</a></li>
        <li class="nav-list__item"><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=502427&?l-id=rba_ev_ga20151024_sp_cn_left_hat">帽子</a></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>