<h1><i class="material-icons">mode_edit</i> EDIT BRAND</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form class="col s12" action="{{ link_base }}brand/edit/{{ data.id }}" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="name_ja" type="text" class="validate" name="name_ja" value="{{ data.name_ja }}" autofocus>
        <label for="name_ja">Name (JP)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_en" type="text" class="validate" name="name_en" value="{{ data.name_en }}">
        <label for="name_en">Name (EN)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <input id="label" type="text" class="validate" name="label" value="{{ data.label }}">
        <label for="label">Label</label>
      </div>
      <div class="input-field col s3">
        <select name="up_status">
            <option value="" disabled>Choose status</option>
            <option value="">-</option>
            {% for i in 0..1 %}
            {% if data.up_status == i %}
            <option value="{{ i }}" selected>{{ data.status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label>Up status</label>
      </div>
      <div class="input-field col s3">
        <select name="new_status">
            <option value="" disabled>Choose status</option>
            <option value="">-</option>
            {% for i in 0..1 %}
            {% if data.new_status == i %}
            <option value="{{ i }}" selected>{{ data.status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label>New status</label>
      </div>
      <div class="input-field col s3">
        <select name="global_status">
            <option value="" disabled>Choose status</option>
            <option value="">-</option>
            {% for i in 0..1 %}
            {% if data.global_status == i %}
            <option value="{{ i }}" selected>{{ data.status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label>Global status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img_pc" type="text" class="validate" name="img" value="{{ data.img }}">
        <label for="img_pc">Img URL (PC)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img_sp" type="text" class="validate" name="img_sp" value="{{ data.img_sp }}">
        <label for="img_sp">Img URL (SP)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}brand/" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>