<h1>BRANDS</h1>
<p class="table-note">* Updated time in red indicates the recent update within 1hr.</p>

<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="xsm">#</th>
          <th class="md">Name (JP, EN)</th>
          <th class="xsm">Label</th>
          <th class="xlg">Img URL (PC / SP)</th>
          <th class="xsm">Up status</th>
          <th class="xsm">New status</th>
          <th class="xsm">Global status</th>
          <th class="xsm">Updated by</th>
          <th>Updated at</th>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <th class="sm">Control</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
{% for item in data %}
        <tr class="{{ item.recent_update_class }}">
          <td rowspan="2">{{ loop.index }}</td>
          <td>{{ item.name_ja }}</td>
          <td rowspan="2">{{ item.label }}</td>
          <td class="xlg js-tooltip" title='<img src="{{ item.img }}" width="100">'><p class="truncate"><a href="{{ item.img }}" title="{{ item.img }}">{{ item.img }}</a></p></td>
          <td rowspan="2">{{ item.up_status_str }}</td>
          <td rowspan="2">{{ item.new_status_str }}</td>
          <td rowspan="2">{{ item.global_status_str }}</td>
          <td rowspan="2">{{ item.update_user }}</td>
          <td rowspan="2" class="updated_at">{{ item.updated_at }}</td>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <td rowspan="2" class="control">
            <a href="{{ link_base }}brand/edit/{{ item.id }}" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
            <a href="{{ link_base }}brand/delete/{{ item.id }}" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
          </td>
          {% endif %}
        </tr>
        <tr>
          <td>{{ item.name_en }}</td>
          <td class="xlg js-tooltip" title='<img src="{{ item.img }}" width="100">'><p class="truncate"><a href="{{ item.img_sp }}" title="{{ item.img_sp }}">{{ item.img_sp }}</a></p></td>
        </tr>
{% else %}
      <tr>
        <td colspan="12" class="center-align">No Record</td>
      </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if current_user.group == 100 or current_user.group == 50 %}
<div class="float-btn">
  <a href="{{ link_base }}brand/create/" class="js-tooltip btn-floating waves-effect waves-light red" title="Add">
    <svg class="add"><use xlink:href="#svg-plus" /></svg>
    <svg class="write"><use xlink:href="#svg-pencil" /></svg>
  </a>
</div>
{% endif %}