<h1><i class="material-icons">mode_edit</i> NEW USER</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form class="col s12" action="{{ link_user }}create/" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="username" type="text" class="validate" name="username" value="{{ data.username }}" autofocus>
        <label for="username">User name</label>
      </div>
      <div class="input-field col s6">
        <select name="group">
            <option value="" disabled>Choose group</option>
            {% for key, group in groups %}
            {% if key == data.group %}
            <option value="{{ key }}" selected=selected>{{ group.name }}</option>
            {% else %}
            <option value="{{ key }}">{{ group.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label>Group</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" value="{{ data.email }}">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="password_2" type="password" class="validate" name="password_2">
        <label for="password_2">Password (verify)</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}user/" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>