<h1>USERS</h1>
<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="xsm">#</th>
          <th class="md">User name</th>
          <th class="lg">Email</th>
          <th class="md">Group</th>
          <th>Last login</th>
          <th>Created at</th>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <th class="sm">Control</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
{% for user in users %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.group_name }}</td>
          <td>{{ user.last_login }}</td>
          <td>{{ user.created_at }}</td>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <td class="control">
            <a href="{{ link_user }}edit/{{ user.id }}" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
            <a href="{{ link_user }}delete/{{ user.id }}" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
          </td>
          {% endif %}
        </tr>
{% else %}
      <tr>
        <td rowspan="7" class="center-align">No Record</td>
      </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="float-btn">
  <a href="{{ link_base }}user/create/" class="btn-floating waves-effect waves-light teal darken-1">
    <svg class="add"><use xlink:href="#svg-plus" /></svg>
    <svg class="write"><use xlink:href="#svg-pencil" /></svg>
  </a>
</div>