<div class="error-message"><ul><li>The field Img URL must contain a valid URL.</li></ul></div>

<div class="row">
  <form class="col s12" action="{{ link_base }}brandtop/edit/{{ data.id }}/?id={{ brand_id }}" method="post">
    <div class="row">
      <div class="input-field col s4">
        <select name="order" autofocus>
          <option value="" disabled>Set order</option>
          <option value="">-</option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
        <label>Order</label>
      </div>

      <div class="input-field col s4">
        <select name="model_id">
          <option value="" disabled>Choose model</option>
          <option value="">-</option>
          <option value="1" selected>楽天花子</option>
          <option value="2">MODEL 2</option>
          <option value="3">MODEL 3</option>
        </select>
        <label>Model</label>
      </div>

      <div class="input-field col s4">
        <select name="photo_status">
          <option value="" disabled>Choose status</option>
          <option value="">true</option>
          <option value="">false</option>
        </select>
        <label>Photo status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label for="img">Img URL</label>
        <input id="img" name="img" value="{{ data.img }}" type="text">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}brandtop/?id={{ brand_id }}" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>