<div class="row">
  <form class="col s12" action="master_brand.html" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="name_jp" type="text" class="validate">
        <label for="name_jp">Name (JP)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_en" type="text" class="validate">
        <label for="name_en">Name (EN)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="name_cn" type="text" class="validate">
        <label for="name_cn">Name (CN)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_tw" type="text" class="validate">
        <label for="name_tw">Name (TW)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="label" type="text" class="validate">
        <label for="label">Label</label>
      </div>
      <div class="input-field col s6">
        <select>
          <option value="" disabled>Choose status</option>
          <option value="1" selected>ready</option>
          <option value="2">not ready</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img_pc" type="text" class="validate">
        <label for="img_pc">Img URL (PC)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img_sp" type="text" class="validate">
        <label for="img_sp">Img URL (SP)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="master_brand.html" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>