<div class="row">
  <form class="col s12" action="master_user.html" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="username" type="text" class="validate">
        <label for="username">User name</label>
      </div>
      <div class="input-field col s6">
        <select>
          <option value="" disabled>Choose group</option>
          <option value="1" selected>administrators</option>
          <option value="2">users</option>
        </select>
        <label for="status">Group</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="password_2" type="password" class="validate">
        <label for="password_2">Password (verify)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="master_user.html" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>