<div class="row">
  <form id="subject_update" class="col s12" action="{{ link_base }}grandtop/edit/{{ data.id }}" method="post">
    <div class="row">
      <div class="input-field col s3">
        <select name="order" autofocus>
          <option value="" disabled>Set order</option>
          <option value="">-</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="order">Order</label>
      </div>

      <div class="input-field col s4">
        <select name="brand_id" class="js-brand-select">
          <option value="" disabled>Choose brand</option>
          <option value="">-</option>
          <option value="1">INED</option>
          <option value="4">BRAND 2</option>
          <option value="5">BRAND 3</option>
        </select>
        <label>Brand</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="top_cord.html" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>