<div class="row">
  <form class="col s12" action="master_item.html" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="name_jp" type="text" class="validate">
        <label for="name_jp">Name (JP)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_en" type="text" class="validate">
        <label for="name_en">Name (EN)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="name_cn" type="text" class="validate">
        <label for="name_cn">Name (CN)</label>
      </div>
      <div class="input-field col s6">
        <input id="name_tw" type="text" class="validate">
        <label for="name_tw">Name (TW)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <input id="price_jp" type="text" class="validate">
        <label for="price_jp">Price (JPY)</label>
      </div>
      <div class="input-field col s3">
        <input id="price_en" type="text" class="validate">
        <label for="price_en">Price (USD)</label>
      </div>
      <div class="input-field col s3">
        <input id="price_cn" type="text" class="validate">
        <label for="price_cn">Price (CHY)</label>
      </div>
      <div class="input-field col s3">
        <input id="price_tw" type="text" class="validate">
        <label for="price_tw">Price (TWY)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select>
          <option value="" disabled>Choose brand</option>
          <option value="1" selected>Brand 1</option>
          <option value="2">Brand 2</option>
        </select>
        <label for="status">Brand</label>
      </div>
      <div class="input-field col s6">
        <select>
          <option value="" disabled>Choose status</option>
          <option value="1" selected>YES</option>
          <option value="2">NO</option>
        </select>
        <label for="status">Model Picture</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img" type="text" class="validate">
        <label for="img">Img URL</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="url" type="text" class="validate">
        <label for="url">URL</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="master_item.html" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>