<div class="side js-nav js-tab-wrapper">
  <div class="sidenav js-tab js-active">
    <% if (@language == "ja") : %>
    <div class="sidenav__head sidenav__head--brand"><h2>ブランド</h2></div>
    <% else if (@language == "en") : %>
    <div class="sidenav__head sidenav__head--brand"><h2>Brands</h2></div>
    <% else : %>
    <div class="sidenav__head sidenav__head--brand"><h2>品牌</h2></div>
    <% end %>
    <div class="sidenav__body">
      <% if @data.brands?.length : %>
        <ul class="list-linked">
        <% for brand in @data.brands : %>
          <% if @language == "ja" : %>
            <% if brand.up_status == true : %>
              <li>
                <a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_left_<%- brand.label %>"><%- brand.name_en %></a>
                <% if brand.new_status == true : %>
                <span class="up">up</span>
                <% end %>
              </li>
            <% else : %>
              <li><span><%- brand.name_en %></span></li>
            <% end %>
          <% else : %>
            <% if brand.global_status == true : %>
              <% if brand.up_status == true : %>
                <li>
                  <% if @language == "en" : %>
                  <a href="http://global.rakuten.com/en/event/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_en_left_<%- brand.label %>"><%- brand.name_en %></a>
                  <% else : %>
                  <a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_<%- @language %>_left_<%- brand.label %>"><%- brand.name_en %></a>
                  <% end %>
                  <% if brand.new_status == true : %>
                  <span class="up">up</span>
                  <% end %>
                </li>
              <% else : %>
                <li><span><%- brand.name_en %></span></li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="sidenav js-tab">
    <% if (@language == "ja") : %>
    <div class="sidenav__head sidenav__head--category"><h2>カテゴリ</h2></div>
    <% else if (@language == "en") : %>
    <div class="sidenav__head sidenav__head--category"><h2>Category</h2></div>
    <% else if (@language == "tw") : %>
    <div class="sidenav__head sidenav__head--category"><h2>商品類別</h2></div>
    <% else : %>
    <div class="sidenav__head sidenav__head--category"><h2>商品类别</h2></div>
    <% end %>
    <div class="sidenav__body">
      <ul class="list-linked">
        <% if (@language == "ja") : %>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/555087/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_outer">アウター</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/206488/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_knit">ニット</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/206471/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_shirt">シャツ</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/206482/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_cutsew">カットソー</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/110729/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_onepiece">ワンピース</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/555089/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_bottoms">ボトムス</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/100480/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_shoes">シューズ</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/110933/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_bag">バッグ</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/100486/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_accessories">アクセサリー</a>
          </li>
          <li><a href="http://search.rakuten.co.jp/search/event/%E3%80%90GA2015AW%E3%80%91+%E3%80%90GA2015AW+G%E3%80%91/502427/?ev=25&f=1&st=O&v=3&?l-id=rba_ev_ga20151024_left_hat">帽子</a>
          </li>
        <% else if (@language == "en") : %>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555087&?l-id=rba_ev_ga20151024_en_left_outer">Outerwear</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206488&?l-id=rba_ev_ga20151024_en_left_knit">Knitwear</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206471&?l-id=rba_ev_ga20151024_en_left_shirt">Shirts</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206482&?l-id=rba_ev_ga20151024_en_left_cutsew">Cotton</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110729&?l-id=rba_ev_ga20151024_en_left_onepiece">Dresses</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555089&?l-id=rba_ev_ga20151024_en_left_bottoms">Bottoms</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100480&?l-id=rba_ev_ga20151024_en_left_shoes">Shoes</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110933&?l-id=rba_ev_ga20151024_en_left_bag">Bags</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100486&?l-id=rba_ev_ga20151024_en_left_accessories">Accessories</a>
          </li>
          <li><a href="http://global.rakuten.com/en/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=502427&?l-id=rba_ev_ga20151024_en_left_hat">Hats</a>
          </li>
        <% else if (@language == "tw") : %>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555087&?l-id=rba_ev_ga20151024_tw_left_outer">外衣</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206488&?l-id=rba_ev_ga20151024_tw_left_knit">毛衣</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206471&?l-id=rba_ev_ga20151024_tw_left_shirt">襯衫</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206482&?l-id=rba_ev_ga20151024_tw_left_cutsew">綿製衣物</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110729&?l-id=rba_ev_ga20151024_tw_left_onepiece">連身裙</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555089&?l-id=rba_ev_ga20151024_tw_left_bottoms">下裝</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100480&?l-id=rba_ev_ga20151024_tw_left_shoes">鞋</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110933&?l-id=rba_ev_ga20151024_tw_left_bag">手袋</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100486&?l-id=rba_ev_ga20151024_tw_left_accessories">配件</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-tw/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=502427&?l-id=rba_ev_ga20151024_tw_left_hat">帽子</a>
          </li>
        <% else : %>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555087&?l-id=rba_ev_ga20151024_cn_left_outer">外衣</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206488&?l-id=rba_ev_ga20151024_cn_left_knit">针织品</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206471&?l-id=rba_ev_ga20151024_cn_left_shirt">衬衫</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=206482&?l-id=rba_ev_ga20151024_cn_left_cutsew">绵制衣物</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110729&?l-id=rba_ev_ga20151024_cn_left_onepiece">连衣裙</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=555089&?l-id=rba_ev_ga20151024_cn_left_bottoms">下装</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100480&?l-id=rba_ev_ga20151024_cn_left_shoes">鞋</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=110933&?l-id=rba_ev_ga20151024_cn_left_bag">包包</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=100486&?l-id=rba_ev_ga20151024_cn_left_accessories">配件</a>
          </li>
          <li><a href="http://global.rakuten.com/zh-cn/search/?k=%E3%80%90GA2015AW+G%E3%80%91&sid=stylife&tl=502427&?l-id=rba_ev_ga20151024_cn_left_hat">帽子</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>