<!DOCTYPE html>
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ja"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1000px">
  <% content 'meta' %>
  <% content 'styles' %>
  <link rel="stylesheet" href="http://event.rakuten.co.jp/fashion/rba/common/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="http://event.rakuten.co.jp/fashion/rba/ab_common/css/common.css" type="text/css" media="all">
  <% content 'header_scripts' %>
</head>
<body>
  <% include '../../../_templates/_pc/_components/_common/_header.ect' %>

  <div id="contents">
    <div id="container" class="l-col-2">
      <% content 'main' %>

      <% include '../../../_templates/_pc/_components/_aside/_aside.ect' %>

      <a href="#" data-anchor="#header" class="scroll-top"><span></span></a>

    </div><!-- /#container.l-col-2 -->
  </div><!-- /#contents -->

  <% include '../../../_templates/_pc/_components/_common/_footer.ect' %>

  <% content 'scripts' %>

  <!-- SiteCatalyst code Copyright 1997-2009 Omniture, Inc. More info available at http://www.omniture.com-->
  <script language="JavaScript" src="http://event.rakuten.co.jp/com/js/omniture/s_code_ichiba.js"></script><script language="JavaScript"><!--
  s.channel="Event"
  s.eVar14="Event"
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//--></script>
  <!-- End SiteCatalyst code-->

</body>
</html>