.shop-item
  &__header
    clearfix()
    margin-bottom 10px

  &--short
    @extend .shop-item
    margin-bottom 25px

.shop-logo
  float left
  margin-right 10px
  border solid 1px $color-border-gray

  &__inner
    width 70px
    height 70px
    display table-cell
    vertical-align middle
    text-align center

    img
      inline-block()

    &--large
      width 130px
      height 130px

.shop-detail
  padding-bottom 15px
  font-size 16px

  a
    inline-block()
    margin-bottom 3px
    text-decoration none
    color $color-deeppink
    font-weight bold
    font-size 16px

  p
    font-size 14px
    color $color-text-gray

  &--short
    @extend .shop-detail
    padding-left 142px

.shop-banner-list
  margin-bottom 15px

.shop-banner
  margin-bottom 15px

  &:hover
    opacity(0.8)
    text-decoration none

  img
    inline-block()
    margin-bottom 10px

  p
    color $color-charcoal-gray
    font-size 14px

.shop-link
  padding 0 180px

  a
    padding 8px
    color #444

    &:hover
      background-color $color-bg-gray
      text-decoration none

  &--short
    @extend .shop-link
    padding 0 0 0 142px