.side
  margin-top 32px
  position relative

  &.fixed
    position fixed !important
    top 10px

.sidenav
  background-color #fff

  &__head
    width 93px
    display inline-block
    position absolute
    top -32px
    box-sizing border-box
    padding 8px 13px
    background-color $color-bg-pink
    text-align center
    font-size 14px
    font-weight bold
    color #fff
    cursor pointer

  &__body
    display none
    padding 10px 13px
    border solid 1px $color-deeppink

  &.js-active
    .sidenav__head
      background-color $color-deeppink

    .sidenav__body
      display block

.sidenav__head--brand
  left 0

.sidenav__head--category
  right 0

.list-linked
  color $color-text-gray-lighter
  line-height 1.5

  a
    color $color-text-gray
    text-decoration none

    &:hover
      text-decoration underline
      color $color-text-gray

.up
  padding 0 3px
  line-height 1
  background-color #f6326f
  font-weight bold
  font-size 10px
  color #fff

.ga-contents
  .side
    &.fixed
      top 60px