.ga-header
  background-color #010321
  border-bottom solid 1px #ff8bc2

.ga-header-kanban
  display block
  margin 0 auto

  a
    display block
    margin 0 auto
    text-align center

  img
    margin 0 auto