.recommended-items
  padding-top 10px

  .col
    min-height(193px)
    position relative
    margin-bottom 20px

  .item-image
    min-height(132px)
    margin-bottom 8px
    text-align center

    a
      inline-block()

    img
      max-width(160px)

  .item-name
    height 36px
    overflow hidden
    margin-bottom 3px
    color $color-text-gray
    line-height 1.3

  .item-price
    font-size 14px
    font-weight bold
    text-align right
    color $color-pink

.filter-nav
  reset-ul()

  &__header
    margin-bottom 15px
    font-size 16px
    font-weight bold
    color $color-text-gray

  &__tab
    inline-block()
    float left
    margin-bottom 10px
    padding 6px 3px 3px
    border 1px solid $color-pink
    text-align center
    cursor pointer
    color $color-pink
    font-size 15px

    &:hover
      background $color-bg-pink

    &.selected
      background $color-pink
      color #fff

  .special-item
    inline-block()
    position relative
    background #000
    color #fff
    top -180px
    left 30px
    padding 10px

.filter-error-message
  text-align center

  p
    margin 40px 0 30px

.model-tag
  position absolute
  width 45px
  height 45px
  top -10px
  right -10px

  >span
    display block
    hide-text()

.model-tag-en
.model-tag-tw
.model-tag-cn
  @extend .model-tag