.item
  &__head
    min-height(44px)
    padding 5px
    background-color $color-deeppink

    > a
      font-size 14px
      font-weight bold
      color $color-deeppink

      &:hover
        text-decoration none
        background-color $color-bg-pink

        &:after
          border-left-color $color-bg-pink

      &:before
      &:after
        content ""
        position absolute
        top 11px
        left 100%
        margin-left -20px
        border solid 5px transparent
        border-left-color $color-deeppink

      &:after
        border-left-color #fff
        margin-left -21px

    .btn-round
      *width 140px

  &__body
    position relative

    .thumb-220-340
      // height 340px
      height 377px

  &__model
    margin-top 5px
    text-align center
    font-size 13px
    font-weight bold
    color #fff

  &__overlay
    margin-bottom 20px

    &:hover
      .item__overlay-list
        display block

    > a
      display table
      *overflow auto
      clearfix()

    .btn-round
      min-height(23px)

    &-list
      display none
      position absolute
      left 0
      bottom 57px
      padding 10px 10px 0 10px
      background #fff
      opacity(0.8)

    &-img
      display table-cell
      *float left
      border solid 1px #ddd
      vertical-align bottom

      img
        height auto !important

    &-detail
      width 100%
      display table-cell
      *float left
      padding-left 8px

      .description
        max-height 2em
        overflow hidden
        line-height 1
        font-size 12px
        color $color-charcoal-gray

      .price
        font-weight bold
        font-size 12px
        color $color-pink

.item-status
  padding 10px
  border-top solid 2px $color-pink
  text-align center
  font-weight bold
  font-size 13px
  color #fff

  > span
    inline-block()
    vertical-align middle

  .schedule
    min-height(20px)
    font-size 16px

.item
  &--seenonrunway
    @extend .item-status
    position absolute
    width 100%
    bottom 0
    box-sizing border-box
    background url('http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/bg_blkstripe.png') 0 0 repeat

    &:after
      content ""
      display block
      width 13px
      height 7px
      position absolute
      left 50%
      top -7px
      margin-left -8px
      background url('http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/bg_blkstripe_arrow.png') 0 0 no-repeat
      z-index 10

  &--beforesale
    @extend .item-status
    background url('http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/bg_pnkstripe.png') 0 0 repeat

    .schedule
      margin-right 5px

.item-link
  width 220px
  height 340px
  position absolute
  top 0
  left 0
  hide-text()

  img
    display block