.brand__head
  >h1
    padding-bottom 8px
    border-bottom solid 2px $color-bg-pink

  >p
    padding 8px 0 6px
    text-align center
    font-size 16px

  .brand-logo
    inline-block()
    hide-text()
    margin-right 10px

    img
      display block

  .brand-name
    inline-block()
    vertical-align bottom
    margin-bottom 0
    font-size 30px
    font-weight bold
    color $color-pink
    line-height 1

.pickup-item
  clearfix()
  padding 30px 0 15px
  border-top solid 1px $color-bg-pink-lighter

  &:first-child
    padding 15px 0

  &__image
    float left
    margin-right 50px

    img
      width 220px
      height 340px

    p
      margin-top 5px
      font-weight bold
      color $color-pink
      text-align center
      font-size 16px

  &__item
    float right
    width 430px !important
    height 370px !important
    position relative

    .caroufredsel_wrapper
      width 430px !important
      height 370px !important

    .activated
      .prev
      .next
        width 30px
        height 35px
        position absolute
        top 50%
        margin-top -15px
        background #eee
        cursor pointer
        text-align center

        span
          inline-block()
          margin-top 6px

      .prev
        left -40px
        span
          width 14px
          margin-right 1px

      .next
        right 0
        span
          width 16px
          margin-left 3px

    .carousel
      

    .item
      float left
      width 430px

      li
        height 100px
        margin-bottom 20px
        clearfix()

      &-image
        width 100px
        float left
        margin-right 10px
        border solid 1px $color-border-gray
        text-align center

        a
          inine-block()

        img
          width auto

      &-detail
        float left

      &-name
        margin-bottom 5px
        max-width(315px)
        font-size 14px
        color $color-text-gray

      &-price
        font-weight bold
        font-size 16px
        color $color-pink