.section
  margin-bottom 30px

  &__head
    min-height 47px
    position relative
    margin-bottom 10px
    padding-left 180px
    font-size 16px
    color #010101

    h2
      border-bottom solid 1px #000

      >span
        line-height 35px

    &--artist
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-artist.png) no-repeat

    &--beauty
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-beauty.png) no-repeat

    &--brand
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-brand.png) no-repeat

    &--model
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-model.png) no-repeat

    &--movie
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-movie.png) no-repeat

    &--pickupitem
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-pickup-green.png) no-repeat

    &--runway
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-pickup-purple.png) no-repeat

    &--ranking
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-ranking.png) no-repeat

    &--special
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-special.png) no-repeat

    &--whatsga
      background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/header-whatsga.png) no-repeat

  &__body
    clearfix()