// bower:styl
// endbower
@import "nib"

@import "../_variables"
@import "../_mixin"

@import "../_sprite/_sprite"

@import "_aside"
@import "_section"
@import "_footer"
@import "_header"

/* ------------------------------------------------------
## base
```
```
*/
#contents
  background url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/bg_wrapper.jpg) 0 0 repeat
  font-size 14px
  font-family "メイリオ", Meiryo, sans-serif
  line-height 1.2
  color $color-text-gray

.l-basic
  clearfix()
  width 910px
  margin 0 auto
  border-right solid 1px #c7c7c7
  border-left solid 1px #c7c7c7
  border-top none
  background #fff

/* ------------------------------------------------------
## layout
```
```
*/
.l-col-2
  @extend .l-basic
  padding 20px

  .main
    width 700px
    float right

  .side
    width 190px
    float left
    margin-right 20px

/* ------------------------------------------------------
## title/header/texts
```
```
*/
.title
  text-align left

  &--white
    @extend .title
    font-size 13px
    font-weight bold
    color #fff

  &--pink
    margin-bottom 5px
    font-weight bold
    color $color-pink

/* ------------------------------------------------------
## row
```
```
*/
.row
  clearfix()
  overflow hidden

.col
  reset-ul()
  position relative

.row_160x4
  @extend .row
  width 720px

  >.col
    width 160px
    float left
    margin-right 20px
    box-sizing border-box

.row_220x3
  @extend .row
  width 720px

  .col
    width 220px
    float left
    margin-right 20px

.row_carousel
  @extend .row

.row_full
  @extend .row

  >.col
    padding 30px 0 20px
    border-top solid 1px $color-border-gray

    &:first-child
      padding-top 0
      border-top none

.row_col2
  @extend .row
  width 720px

  >div
  >li
    float left
    margin-right 20px

  .col
    width 340px

.row_centered
.row_liquid
  text-align center

  .col
    inline-block()

.row_liquid
  overflow hidden

  .col
    margin 0 10px


/* ------------------------------------------------------
## thumbnail
```
```
*/
.thumbnail
  position relative
  box-sizing border-box

  > a
    display block

    &:hover
      opacity(0.8)
      text-decoration none

.thumb-40-40
  thumbnail(40,40)
.thumb-98-98
  thumbnail(98,98)
.thumb-140-140
  thumbnail(140,140)
.thumb-160-160
  thumbnail(160,160)
.thumb-160-200
  thumbnail(160,200)
.thumb-160-247
  thumbnail(160,247)
.thumb-220-340
  thumbnail(220,340)

/* ------------------------------------------------------
## button
```
```
*/
.btn-base
  inline-block()
  box-sizing border-box
  text-align center

.btn-round
  @extend .btn-base
  width 100%
  padding 4px 5px 2px
  border-radius 13px
  background-color #fff

.btn-big-round
  @extend .btn-round
  border-radius 19px

.btn-shadow
  border solid 1px #aaa
  box-shadow inset -1px -1px 0 1px #fff
  color $color-text-gray-lighter

/* ------------------------------------------------------
## icon
```
```
*/
i
  inline-block()
  vertical-align middle
  text-indent 0

.icon-left
  sprite($icon_arrow_left)
  background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.icon-right
  sprite($icon_arrow_right)
  background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.icon-runway
  sprite($icon_runway)
  background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.model-tag-en
  .icon-runway
    sprite($icon_runway_en)
    background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.model-tag-tw
  .icon-runway
    sprite($icon_runway_tw)
    background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

.model-tag-cn
  .icon-runway
    sprite($icon_runway_cn)
    background-image url(http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sprite.png)

/* ------------------------------------------------------
## link to top
```
```
*/
.scroll-top
  display block
  width 45px
  height 45px
  position fixed
  bottom 30px
  right 20px
  background #999
  border-radius 50%

  span
    display block
    height 13px
    height 0
    position absolute
    top 6px
    left 14px
    border 9px solid transparent
    border-bottom 14px solid #fff

/* ------------------------------------------------------
## and-more
```
```
*/
.and-more
  float left
  font-size 16px
  @extend .title--pink
  margin-bottom 0

/* ------------------------------------------------------
## copyright
```
```
*/
.copyright
  float right
  font-size 14px
  line-height 1.5
  text-align right
  color $color-charcoal-gray