<% extend '../../../_templates/_sp/_layout.ect' %>

<% block 'meta' : %>
<title><%- @data.variables.title %></title>
<meta name="description" content="<%- @data.variables.description %>" />
<meta name="keywords" content="<%- @data.variables.keywords %>" />
<% if @data.variables.canonical : %>
<link rel="canonical" href="<%- @data.variables.canonical %>">
<% end %>
<% if @data.variables.alternate : %>
<link rel="alternate" href="<%- @data.variables.alternate %>" >
<% end %>
<% if @data.variables.ogTitle : %>
<meta property="og:title" content="<%- @data.variables.ogTitle %>">
<% end %>
<% if @data.variables.ogType : %>
<meta property="og:type" content="<%- @data.variables.ogType %>">
<% end %>
<% if @data.variables.ogDescription : %>
<meta property="og:description" content="<%- @data.variables.ogDescription %>">
<% end %>
<% if @data.variables.ogUrl : %>
<meta property="og:url" content="<%- @data.variables.ogUrl %>">
<% end %>
<% if @data.variables.ogImage : %>
<meta property="og:image" content="<%- @data.variables.ogImage %>">
<% end %>
<% if @data.variables.ogSiteName : %>
<meta property="og:site_name" content="<%- @data.variables.ogSiteName %>">
<% end %>
<% if @data.variables.ogEmail : %>
<meta property="og:email" content="<%- @data.variables.ogEmail %>">
<% end %>
<% if @data.variables.fbAppId : %>
<meta property="fb:app_id" content="<%- @data.variables.fbAppId %>" />
<% end %>
<% if @data.variables.twitterCard : %>
<meta name="twitter:card" value="<%- @data.variables.twitterCard %>"/>
<% end %>
<% if @data.variables.twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @data.variables.twitterSiteId %>"/>
<% end %>
<% if @data.variables.config : %>
<meta name="robots" content="noindex,nofollow">
<% end %>
<% end %>

<% block 'styles' : %>
<link rel="stylesheet" href="/smart/rba/girlsaward/css/brand-sp.css" charset="euc-jp">
<style>
.cent {
    text-align: center
}
html {
    color: #000;
    font: 14px/1.4 sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
.facebook,
.twitter,
.weibo {
    display: inline-block;
    height: 43px;
    width: 43px
}
.extra-pages a {
    display: inline-block;
    padding: 10px
}
.copyright {
    font-size: 0.7em
}
.c-s {
    background-image: url(http://global.rakuten.com/en/event/sale/20151008/m/img/c-s-long.png);
    background-repeat: no-repeat;
    -webkit-background-size: 43px 1000px;
    background-size: 43px 1000px
}
.facebook {
    background-position: center -881px
}
.twitter {
    margin-right: 22px;
    background-position: center -806px
}
.weibo {
    background-position: center -961px
}
</style>
<% end %>

<% block 'main' : %>
<div class="main">

  <% include '../../../_templates/_sp/_components/_main/_runwaybrand.ect' %>

  <% for record in @data.brand_cord : %>
    <% if @brandId == record.brand.id : %>
      <% include '../../../_templates/_sp/_components/_main/_pickupitem.ect' , { brandname: record.brand.name_en, language: @language } %>
    <% end %>
  <% end %>

  <% include '../../../_templates/_sp/_components/_main/_banner.ect' %>
</div>
<% end %>

<% block 'scripts' : %>
<script src="/smart/rba/girlsaward/js/brand-sp.js" charset="utf-8"></script>
<% end %>
