<!DOCTYPE html>
<% if @language == 'en' : %>
<html lang="en">
<% else if @language == 'tw' : %>
<html lang="zh-tw">
<% else : %>
<html lang="zh-cn">
<% end %>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=y">
<meta name="robots" content="index,follow">

<% for record in @data.brand_cord : %>
  <% if @brandId == record.brand.id : %>
    <% if @language == 'en' : %>
    <title><%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award Official Site</title>
    <meta name="description" content="<%= record.brand.name_en %> | This is the official site for "GirlsAward", Japan's top fashion and music event featuring over 200 gorgeous models and music artists. Choose from many of the styles worn by our runway models!" />
    <meta name="keywords" content="<%= record.brand.name_en %>, GirlsAward, Girl Award, Rakuten, Fashion, Rakuten, Mail order" />
    <link rel="canonical" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" />
    <link rel="canonical" href="http://global.rakuten.com/en/event/girlsaward/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="ja" href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="zh-Hans" href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="zh-Hant" href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.label %>/" />
    <meta property="og:title" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award Official Site" />
    <meta property="og:description" content="<%= record.brand.name_en %> | This is the official site for "GirlsAward", Japan's top fashion and music event featuring over 200 gorgeous models and music artists. Choose from many of the styles worn by our runway models!" />
    <meta property="og:url" content="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.name_en %>/" />
    <meta property="og:image" content="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sns_en.jpg" />
    <meta property="og:site_name" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award Official Site" />
    <% else if @language == 'tw' : %>
    <title><%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方網站</title>
    <meta name="description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
    <meta name="keywords" content="<%= record.brand.name_en %>, GirlsAward，GirlAward，樂天，時裝，樂天，郵購" />
    <link rel="canonical" href="http://global.rakuten.com/zh-tw/event/girlsaward/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="ja" href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="en" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="zh-Hans" href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.label %>/" />
    <meta property="og:title" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方網站" />
    <meta property="og:description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
    <meta property="og:url" content="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.name_en %>/" />
    <meta property="og:image" content="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sns_tw.jpg" />
    <meta property="og:site_name" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方網站" />
    <% else : %>
    <title><%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方网站</title>
    <meta name="description" content="<%= record.brand.name_en %> | 这是云集 200 多名模特、明星艺人出演的日本最大的时尚和音乐盛典“GirlsAward”的官方网站。快来抢购台上模特儿所穿着的衣着服饰！" />
    <meta name="keywords" content="<%= record.brand.name_en %>, GirlsAward、GirlAward、乐天、时尚、乐天、贩售" />
    <link rel="canonical" href="http://global.rakuten.com/zh-cn/event/girlsaward/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="ja" href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="en" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" />
    <link rel="alternate" hreflang="zh-Hant" href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.label %>/" />
    <meta property="og:title" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方网站" />
    <meta property="og:description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
    <meta property="og:url" content="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.name_en %>/" />
    <meta property="og:image" content="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sns_cn.jpg" />
    <meta property="og:site_name" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方网站" />
    <% end %>
  <% end %>
<% end %>

<% if @data.variables.ogEmail : %>
<meta property="og:email" content="<%- @data.variables.ogEmail %>">
<% end %>
<% if @data.variables.fbAppId : %>
<meta property="fb:app_id" content="<%- @data.variables.fbAppId %>" />
<% end %>
<% if @data.variables.twitterCard : %>
<meta name="twitter:card" value="<%- @data.variables.twitterCard %>"/>
<% end %>
<% if @data.variables.twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @data.variables.twitterSiteId %>"/>
<% end %>
<% if @data.variables.config == "dev" : %>
<meta name="robots" content="noindex,nofollow">
<% end %>

<link rel="stylesheet" href="http://global.rakuten.com/en/common/rmsg/css/import-mall-GS.css"><!-- common RMSg styles -->
<link rel="stylesheet" href="/smart/rba/girlsaward/css/brand-sp.css">
<style>
.cent {
    text-align: center
}
html {
    color: #000;
    font: 14px/1.4 sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
.facebook,
.twitter,
.weibo {
    display: inline-block;
    height: 43px;
    width: 43px
}
.extra-pages a {
    display: inline-block;
    padding: 10px
}
.copyright {
    font-size: 0.7em
}
.c-s {
    background-image: url(http://global.rakuten.com/en/event/sale/20151008/m/img/c-s-long.png);
    background-repeat: no-repeat;
    -webkit-background-size: 43px 1000px;
    background-size: 43px 1000px
}
.facebook {
    background-position: center -881px
}
.twitter {
    margin-right: 22px;
    background-position: center -806px
}
.weibo {
    background-position: center -961px
}
</style>
</head>

<body>
<header>
  <!-- first aid -->
  <p style="padding:.3em 0 .1em;text-align:center;border-bottom:solid #bf0000 2px;"><a href="/en/"><img src="http://global.rakuten.com/assets/logo_gs.png" width="112" height="28"></a></p>
  <!-- first aid -->
</header>

<% include '../../../_templates/_sp/_components/_common/_header.ect' %>

<div id="contents">
  <div id="container" class="l-basic">
    <% include '../../../_templates/_sp/_components/_nav/_nav.ect' %>

    <div class="main">
    <% include '../../../_templates/_sp/_components/_main/_bannerglobal.ect' %>

    <% include '../../../_templates/_sp/_components/_main/_runwaybrand.ect' %>

    <% for record in @data.brand_cord : %>
      <% if @brandId == record.brand.id : %>
        <% include '../../../_templates/_sp/_components/_main/_pickupitem.ect' , { brandname: record.brand.name_en, language: @language } %>
      <% end %>
    <% end %>
    </div>

    <a href="#" data-anchor="#ga-header" class="scroll-top"><span></span></a>

  </div><!-- /#containerl-basic-->
</div><!-- /#contents -->

<div id="overlay"></div>

<!-- Footer -->
<footer class="cent">
  <% if @language == 'en' : %>
  <p>Follow us on</p>
  <a class="c-s twitter" href="https://twitter.com/RakutenGlobal"></a>
  <a class="c-s facebook" href="https://www.facebook.com/Rakuten"></a>
  <p class="extra-pages">
    <a href="https://ichiba-en.faq.rakuten.co.jp/app/ask1">Contact Us</a><a href="http://global.rakuten.com/en/">Help</a>
  </p>
  <% else if @language == 'tw' : %>
  <p>關注我們</p>
  <a class="c-s twitter" href="https://twitter.com/RakutenGlobal"></a>
  <a class="c-s facebook" href="https://www.facebook.com/RakutenHongKong"></a>
  <p class="extra-pages">
      <a href="https://ichiba-tw.faq.rakuten.co.jp/app/ask1">與我們聯繫</a><a href="http://global.rakuten.com/zh-tw/help/">購物指南</a>
  </p>
  <% else : %>
  <p>关注我们</p>
  <a class="c-s weibo" href="http://www.weibo.com/rakutenkokusai"></a>
  <p class="extra-pages">
      <a href="https://ichiba-cn.faq.rakuten.co.jp/app/ask1">联系方式</a><a href="http://global.rakuten.com/zh-cn/help/">购物指南</a>
  </p>
  <% end %>
  <p class="copyright">Copyright © 1997-2015 Rakuten, Inc. All Rights Reserved.</p>
</footer>

<!--#include virtual="/en/inc/sc15.html"-->
<script src="/smart/rba/girlsaward/js/brand-sp.js"></script>
</body>
</html>

