<div class="section">
  <div class="section__head section__head--special">
    <h2><span>Special スペシャル</span></h2>
  </div>
  <div class="section__body">
    <div class="row_centered">
      <div class="col"><a href="http://event.rakuten.co.jp/fashion/rba/juniaward/?l-id=rba_ev_ga20151024_special_juniaward"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/banner03.jpg" width="700" height="105" alt="JuniAward アジア最大級のジュニアイベント開催！"></a></div>
    </div>
    <div class="row_centered">
      <div class="col"><a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/outer/?l-id=rba_ev_ga20151024_special_outer"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/banner02.jpg" width="700" height="100" alt="2015冬本番！使えすぎる旬アウター"></a></div>
    </div>
  </div>
</div>