<div class="section">
  <div class="section__head section__head--special">
    <h2><span>Special</span></h2>
  </div>
  <div class="section__body">
    <!--- for 1 banner -->
    <div class="row_centered">
      <div class="col"><a href="http://global.rakuten.com/en/event/fashion/?l-id=rgm-fashioncp-en-ga"><img src="http://global.rakuten.com/en/event/fashion/20151021/img/700x100en-nologo.jpg" width="100%" /></a></div>
    </div>
    <!-- /for 1 banner -->

    <!-- for 2-3 banners -->
    <!-- <div class="row_liquid">
      <div class="col"><a href="http://global.rakuten.com/en/event/fashion/?l-id=rgm-fashioncp-en-ga"><img src="http://event.rakuten.co.jp/borderless/img/banner/tieup/2ndhand/fashion/os_used_fashion_210x62en_20130321.jpg" /></a></div>
      <div class="col"><a href="http://global.rakuten.com/en/event/fashion/?l-id=rgm-fashioncp-en-ga"><img src="http://event.rakuten.co.jp/borderless/img/banner/tieup/2ndhand/fashion/os_used_fashion_210x62en_20130321.jpg" /></a></div>
      <div class="col"><a href="http://global.rakuten.com/en/event/fashion/?l-id=rgm-fashioncp-en-ga"><img src="http://event.rakuten.co.jp/borderless/img/banner/tieup/2ndhand/fashion/os_used_fashion_210x62en_20130321.jpg" /></a></div>
    </div> -->
    <!-- /for 2 banners -->
  </div>
</div>