<div class="section">
  <div class="section__body">
    <div class="banners">
      <div class="row_full">
        <div class="col"><a href="http://event.rakuten.co.jp/smart/rba/juniaward//?l-id=rba_ev_ga20151024_sp_special_juniaward"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/banner03.jpg" width="100%" alt="JuniAward アジア最大級のジュニアイベント開催！"/></a></div>
        <div class="col"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/outer/?l-id=rba_ev_ga20151024_sp_special_outer"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/banner02.jpg" width="100%" alt="2015冬本番！使えすぎる旬アウター"/></a></div>
      </div>
    </div>
  </div>
</div>