<div class="section">
  <div class="section__body">
    <div class="row_full">
      <div class="col"><a href="http://global.rakuten.com/en/event/fashion/?l-id=rgm-fashioncp-en-ga"><img src="http://global.rakuten.com/en/event/fashion/20151021/img/700x100en-nologo.jpg" width="100%" /></a></div>
    </div>
  </div>
</div>