<div class="section">
  <div class="section__body">
    <div class="row_full">
      <div class="col"><a href="http://global.rakuten.com/zh-tw/event/fashion/sp/?l-id=rgm-fashioncp-tw-ga"><img src="http://global.rakuten.com/en/event/fashion/20151021/img/700x100tw-nologo.jpg" width="100%"></a></div>
    </div>
  </div>
</div>