<!DOCTYPE html>
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<% if @language == 'en' : %>
<html lang="en"><!--<![endif]-->
<% else if @language == 'tw' : %>
<html lang="zh-tw"><!--<![endif]-->
<% else : %>
<html lang="zh-cn"><!--<![endif]-->
<% end %>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=1000px">
<% for record in @data.brand_cord : %>
  <% if @brandId == record.brand.id : %>
    <% if @language == 'en' : %>
      <title><%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award Official Site</title>
      <meta name="description" content="<%= record.brand.name_en %> | This is the official site for "GirlsAward", Japan's top fashion and music event featuring over 200 gorgeous models and music artists. Choose from many of the styles worn by our runway models!" />
      <meta name="keywords" content="<%= record.brand.name_en %>, GirlsAward, Girl Award, Rakuten, Fashion, Rakuten, Mail order" />
      <link rel="canonical" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" />
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" >
      <link rel="alternate" hreflang="ja" href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%= record.brand.label %>/" />
      <link rel="alternate" hreflang="zh-Hans" href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.label %>/" />
      <link rel="alternate" hreflang="zh-Hant" href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.label %>/" />
      <meta property="og:title" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award Official Site" />
      <meta property="og:description" content="<%= record.brand.name_en %> | This is the official site for "GirlsAward", Japan's top fashion and music event featuring over 200 gorgeous models and music artists. Choose from many of the styles worn by our runway models!" />
      <meta property="og:url" content="http://global.rakuten.com/en/event/girlsaward/<%= record.brand.name_en %>/" />
      <meta property="og:image" content="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sns_en.jpg" />
      <meta property="og:site_name" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award Official Site" />
    <% else if @language == 'tw' : %>
      <title><%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方網站</title>
      <meta name="description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
      <meta name="keywords" content="<%= record.brand.name_en %>, GirlsAward，GirlAward，樂天，時裝，樂天，郵購" />
      <link rel="canonical" href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.label %>/" />
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.label %>/" >
      <link rel="alternate" hreflang="ja" href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%= record.brand.label %>/" />
      <link rel="alternate" hreflang="en" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" />
      <link rel="alternate" hreflang="zh-Hans" href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.label %>/" />
      <meta property="og:title" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方網站" />
      <meta property="og:description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
      <meta property="og:url" content="http://global.rakuten.com/zh-tw/event/girlsaward/<%= record.brand.name_en %>/" />
      <meta property="og:image" content="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sns_tw.jpg" />
      <meta property="og:site_name" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方網站" />
    <% else : %>
      <title><%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方网站</title>
      <meta name="description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
      <meta name="keywords" content="<%= record.brand.name_en %>, GirlsAward、GirlAward、乐天、时尚、乐天、贩售" />
      <link rel="canonical" href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.label %>/" />
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/<%= record.brand.label %>/" >
      <link rel="alternate" hreflang="ja" href="http://event.rakuten.co.jp/fashion/rba/girlsaward/<%= record.brand.label %>/" />
      <link rel="alternate" hreflang="en" href="http://global.rakuten.com/en/event/girlsaward/sp/<%= record.brand.label %>/" />
      <link rel="alternate" hreflang="zh-Hant" href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/<%= record.brand.label %>/" />
      <meta property="og:title" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方网站" />
      <meta property="og:description" content="<%= record.brand.name_en %> | 這是總數 200 名以上的華麗模特兒、藝人所演出的日本最大型時裝及音楽活動「GirlsAward」之官方網站。快來搶購台上模特兒所穿著的衣著服飾！" />
      <meta property="og:url" content="http://global.rakuten.com/zh-cn/event/girlsaward/<%= record.brand.name_en %>/" />
      <meta property="og:image" content="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sns_cn.jpg" />
      <meta property="og:site_name" content="<%= record.brand.name_en %> | Rakuten BRAND AVENUE x Girls Award 官方网站" />
    <% end %>
  <% end %>
<% end %>

<% if @data.variables.ogEmail : %>
<meta property="og:email" content="<%- @data.variables.ogEmail %>">
<% end %>
<% if @data.variables.fbAppId : %>
<meta property="fb:app_id" content="<%- @data.variables.fbAppId %>" />
<% end %>
<% if @data.variables.twitterCard : %>
<meta name="twitter:card" value="<%- @data.variables.twitterCard %>"/>
<% end %>
<% if @data.variables.twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @data.variables.twitterSiteId %>"/>
<% end %>
<% if @data.variables.config == "dev" : %>
<meta name="robots" content="noindex,nofollow">
<% end %>

<link rel="shortcut icon" href="http://global.rakuten.com/en/favicon.ico">
<link rel="stylesheet" href="http://global.rakuten.com/en/common/rmsg/css/import-mall-GS.css"><!-- common RMSg styles -->
<link rel="stylesheet" href="http://global.rakuten.com/en/css/style-GS.css"><!-- RGM styles -->
<link rel="stylesheet" href="/fashion/rba/girlsaward/css/brand.css">
</head>

<body>
<!-- Ichiba SC code : remove after removing from dynamic pages and include modified sc15.html -->
<!--#include virtual="/en/inc/sc15-temp.html"-->

<div id="page">
<div class="b-lang-dropdown b-header">
  <form id="setting-dropdown" method="post">
    <div class="b-utility-nav">
      <ul class="b-nav-list">
        <% if @language == 'en' : %>
        <li class="b-dropdown"><a href="#" data-toggle="dropdown" class="b-dropdown-toggle">English<b class="b-caret"></b></a>
					<ul class="b-dropdown-menu">
						<li><a href="http://global.rakuten.com/zh-cn/event/girlsaward/">中文(简体字)</a></li>
						<li><a href="http://global.rakuten.com/zh-tw/event/girlsaward/">中文(繁體字)</a></li>
					</ul>
				</li>
				<li class="b-dropdown"><a href="#" data-toggle="dropdown" class="b-dropdown-toggle">Help<b class="b-caret"></b></a>
					<ul class="b-dropdown-menu">
						<li><a href="http://global.rakuten.com/en/help/flow/order.html">How to Order</a></li>
						<li><a href="http://global.rakuten.com/en/help/shipping/">Shipping Information</a></li>
						<li><a href="http://global.rakuten.com/en/help/payment/">Payment Options</a></li>
						<li><a href="http://global.rakuten.com/en/help/return/">Return Policy</a></li>
						<li><a href="http://global.rakuten.com/en/help/member/point.html">Rakuten Super Points</a></li>
						<li><a href="http://ichiba-en.faq.rakuten.co.jp/app/home">FAQ</a></li>
					</ul>
				</li>
        <% else if @language == 'tw' : %>
        <li class="b-dropdown"><a href="#" data-toggle="dropdown" class="b-dropdown-toggle">中文(繁體字) <b class="b-caret"></b></a>
						<ul class="b-dropdown-menu">
							<li><a href="http://global.rakuten.com/en/event/girlsaward/">English</a></li>
							<li><a href="http://global.rakuten.com/zh-cn/event/girlsaward/">中文(简体字)</a></li>
						</ul>
					</li>
					<li class="b-dropdown"><a href="#" data-toggle="dropdown" class="b-dropdown-toggle">説明<b class="b-caret"></b></a>
						<ul class="b-dropdown-menu">
							<li><a href="http://global.rakuten.com/zh-tw/help/flow/order.html">如何訂購</a></li>
							<li><a href="http://global.rakuten.com/zh-tw/help/shipping/">配送資訊</a></li>
							<li><a href="http://global.rakuten.com/zh-tw/help/payment/">付款選項</a></li>
							<li><a href="http://global.rakuten.com/zh-tw/help/return/">退換貨處理原則</a></li>
							<li><a href="http://global.rakuten.com/zh-tw/help/member/point.html">Rakuten超級點數</a></li>
							<li><a href="http://ichiba-tw.faq.rakuten.co.jp/app/home">常見問題</a></li>
						</ul>
					</li>
        <% else : %>
        <li class="b-dropdown"><a href="#" data-toggle="dropdown" class="b-dropdown-toggle">中文(简体字) <b class="b-caret"></b></a>
          <ul class="b-dropdown-menu">
            <li><a href="http://global.rakuten.com/en/event/girlsaward/">English</a></li>
            <li><a href="http://global.rakuten.com/zh-tw/event/girlsaward/">中文(繁體字)</a></li>
          </ul>
        </li>
        <li class="b-dropdown"><a href="#" data-toggle="dropdown" class="b-dropdown-toggle">帮助<b class="b-caret"></b></a>
          <ul class="b-dropdown-menu">
            <li><a href="http://global.rakuten.com/zh-cn/help/flow/order.html">如何订购</a></li>
            <li><a href="http://global.rakuten.com/zh-cn/help/shipping/">配送信息</a></li>
            <li><a href="http://global.rakuten.com/zh-cn/help/payment/">支付方式</a></li>
            <li><a href="http://global.rakuten.com/zh-cn/help/return/">退货政策</a></li>
            <li><a href="http://global.rakuten.com/zh-cn/help/member/point.html">Rakuten 超级积分</a></li>
            <li><a href="http://ichiba-cn.faq.rakuten.co.jp/app/home">常见问题</a></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </form>
</div>

<!-- #head include -start- -->
<% if @language == 'en' : %>
<!--#include virtual="/en/part/header/header_en_normal.html"-->
<% else if @language == 'tw' : %>
<!--#include virtual="/zh-tw/part/header/header_tw_normal.html"-->
<% else : %>
<!--#include virtual="/zh-cn/part/header/header_cn_normal.html"-->
<% end %>
<!-- #head include -end- -->

<% include '../../../_templates/_pc/_components/_common/_header.ect' %>

<div id="contents" class="ga-contents">
  <div id="container" class="l-col-2">
    <div class="main">
      <% include '../../../_templates/_sp/_components/_main/_bannerglobal.ect' %>

      <% include '../../../_templates/_pc/_components/_main/_runwaybrand.ect' %>

      <% for record in @data.brand_cord : %>
        <% if @brandId == record.brand.id : %>
          <% include '../../../_templates/_pc/_components/_main/_pickupitem.ect' , { brandname: record.brand.name_en, language: @language } %>
        <% end %>
      <% end %>
    </div>

    <% include '../../../_templates/_pc/_components/_aside/_aside.ect' %>

    <a href="#" data-anchor="#ga-header" class="scroll-top"><span></span></a>

  </div><!-- /#container.l-col-2 -->
</div><!-- /#contents -->

</div><!-- /#page -->

<div id="foot" class="b-footer-full">
  <div class="b-footnavbar">
    <!-- #foot include - start - -->
    <% if @language == 'en' : %>
    <!--#include virtual="/en/part/footer/main.html"-->
    <!--#include virtual="/en/part/footer/all_rakuten_services.html"-->
    <!--#include virtual="/en/part/footer/copyright.html"-->
    <% else if @language == 'tw' : %>
    <!--#include virtual="/zh-tw/part/footer/main.html"-->
    <!--#include virtual="/zh-tw/part/footer/all_rakuten_services.html"-->
    <!--#include virtual="/zh-tw/part/footer/copyright.html"-->
    <% else : %>
    <!--#include virtual="/zh-cn/part/footer/main.html"-->
    <!--#include virtual="/zh-cn/part/footer/all_rakuten_services.html"-->
    <!--#include virtual="/zh-cn/part/footer/copyright.html"-->
    <% end %>
    <!-- /#foot include - end - -->
  </div>
  <!-- /#foot-->
</div>

<script src="http://global.rakuten.com/en/common/rmsg/js/import-rmsg.js"></script>
<script src="http://global.rakuten.com/en/common/js/libs/underscore-1.6.0.min.js"></script>
<script src="http://global.rakuten.com/en/common/js/libs/rjs_helpers-1.0.0.min.js"></script>
<script src="http://global.rakuten.com/en/common/js/libs/rjs_slideshow-1.1.2.min.js"></script>
<script src="http://global.rakuten.com/en/common/js/libs/trunk8.js"></script>

<% if @language == 'en' : %>
<script type='text/javascript' charset='utf-8'
src='//click.showcase-tv.jp/click/ClickIndex.js'
id='rakutenglobal/20151014233013'></script>
<noscript><img
src='//click.showcase-tv.jp/click/ClickIndex.php?mode=noscript&id=rakutenglobal&pg=20151014233013'
width='0' height='0' /></noscript>
<% else if @language == 'tw' : %>
<script type='text/javascript' charset='utf-8'
src='//click.showcase-tv.jp/click/ClickIndex.js'
id='rakutenglobal/20151014233049'></script>
<noscript><img
src='//click.showcase-tv.jp/click/ClickIndex.php?mode=noscript&id=rakutenglobal&pg=20151014233049'
width='0' height='0' /></noscript>
<% else : %>
<script type='text/javascript' charset='utf-8'
src='//click.showcase-tv.jp/click/ClickIndex.js'
id='rakutenglobal/20151014233037'></script>
<noscript><img
src='//click.showcase-tv.jp/click/ClickIndex.php?mode=noscript&id=rakutenglobal&pg=20151014233037'
width='0' height='0' /></noscript>
<% end %>

<script src="/fashion/rba/girlsaward/js/brand.js"></script>
</body>
</html>

