<% extend '../../../_templates/_pc/_layout.ect' %>

<% block 'meta' : %>
<% for record in @data.brand_cord : %>
  <% if @brandId == record.brand.id : %>
    <title><%= record.brand.name_en %> | <%- @data.variables.title %></title>
    <meta name="description" content="<%- @data.variables.description %>" />
    <meta name="keywords" content="<%= record.brand.name_en %>,<%- @data.variables.keywords %>" />
  <% end %>
<% end %>
<% if @data.variables.canonical : %>
<link rel="canonical" href="<%- @data.variables.canonical %>">
<% end %>
<% if @data.variables.alternate : %>
<link rel="alternate" href="<%- @data.variables.alternate %>" >
<% end %>
<% if @data.variables.ogTitle : %>
<meta property="og:title" content="<%- @data.variables.ogTitle %>">
<% end %>
<% if @data.variables.ogType : %>
<meta property="og:type" content="<%- @data.variables.ogType %>">
<% end %>
<% if @data.variables.ogDescription : %>
<meta property="og:description" content="<%- @data.variables.ogDescription %>">
<% end %>
<% if @data.variables.ogUrl : %>
<meta property="og:url" content="<%- @data.variables.ogUrl %>">
<% end %>
<% if @data.variables.ogImage : %>
<meta property="og:image" content="<%- @data.variables.ogImage %>">
<% end %>
<% if @data.variables.ogSiteName : %>
<meta property="og:site_name" content="<%- @data.variables.ogSiteName %>">
<% end %>
<% if @data.variables.ogEmail : %>
<meta property="og:email" content="<%- @data.variables.ogEmail %>">
<% end %>
<% if @data.variables.fbAppId : %>
<meta property="fb:app_id" content="<%- @data.variables.fbAppId %>" />
<% end %>
<% if @data.variables.twitterCard : %>
<meta name="twitter:card" value="<%- @data.variables.twitterCard %>"/>
<% end %>
<% if @data.variables.twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @data.variables.twitterSiteId %>"/>
<% end %>
<% if @data.variables.config : %>
<meta name="robots" content="noindex,nofollow">
<% end %>
<% end %>

<% block 'styles' : %>
<link rel="stylesheet" href="/fashion/rba/girlsaward/css/brand.css" charset="euc-jp">
<% end %>

<% block 'main' : %>
<div class="main">
<% include '../../../_templates/_pc/_components/_main/_runwaybrand.ect' %>

<% for record in @data.brand_cord : %>
  <% if @brandId == record.brand.id : %>
    <% include '../../../_templates/_pc/_components/_main/_pickupitem.ect' , { brandname: record.brand.name_en, language: @language } %>
  <% end %>
<% end %>

<% include '../../../_templates/_pc/_components/_main/_banner.ect' %>
</div>
<% end %>


<% block 'scripts' : %>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/fashion/rba/girlsaward/js/brand.js" charset="utf-8"></script>
<% end %>
