<h1><i class="material-icons">mode_edit</i> NEW MODEL</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form class="col s12" action="{{ link_base }}model/create/" method="post">
    <div class="row">
      <div class="input-field col s4">
        <input id="name_ja" type="text" class="validate" name="name_ja" value="{{ data.name_ja }}" autofocus>
        <label for="name_ja">Name (JP)</label>
      </div>
      <div class="input-field col s4">
        <input id="name_en" type="text" class="validate" name="name_en" value="{{ data.name_en }}">
        <label for="name_en">Name (EN)</label>
      </div>
      <div class="input-field col s4">
        <input id="name_kana" type="text" class="validate" name="name_kana" value="{{ data.name_kana }}">
        <label for="name_kana">Name (hiragana)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select name="status">
            <option value="" disabled>Choose status</option>
            {% for i in 0..1 %}
            {% if data.status == i %}
            <option value="{{ i }}" selected>{{ data.status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="img" type="text" class="validate" name="img" value="{{ data.img }}">
        <label for="img">Img URL</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}model/" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>