<h1>MODELS</h1>

<p class="table-note">* Updated time in red indicates the recent update within 1hr.</p>

<div class="row js-data-table" data-cnt="{{ cnt }}">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="xsm">#</th>
          <th class="sm">Name (JP)</th>
          <th class="sm">Name (EN)</th>
          <th class="sm">Name (Hiragana)</th>
          <th class="lg">Img URL</th>
          <th class="sm">Status</th>
          <th class="sm">Updated by</th>
          <th>Updated at</th>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <th class="sm">Control</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
{% for item in data %}
        <tr class="js-tooltip {{ item.recent_update_class }}" title='<img src="{{ item.img_tooltip }}" width="100">'>
          <td>{{ loop.index }}</td>
          <td>{{ item.name_ja }}</td>
          <td>{{ item.name_en }}</td>
          <td>{{ item.name_kana }}</td>
          <td class="lg"><p><a href="{{ item.img }}">{{ item.img }}</a></p></td>
          <td>{{ item.status_str }}</td>
          <td>{{ item.update_user }}</td>
          <td class="updated_at">{{ item.updated_at }}</td>
          {% if current_user.group == 100 or current_user.group == 50 %}
          <td class="control">
            <a href="{{ link_base }}model/edit/{{ item.id }}" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
            <a href="{{ link_base }}model/delete/{{ item.id }}" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
          </td>
          {% endif %}
        </tr>
{% else %}
      <tr>
        <td colspan="10" class="center-align">No Record</td>
      </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if current_user.group == 100 or current_user.group == 50 %}
<div class="float-btn">
  <a href="{{ link_base }}model/create/" class="js-tooltip btn-floating waves-effect waves-light red" title="Add">
    <svg class="xls"><use xlink:href="#svg-plus" /></svg>
    <svg class="download"><use xlink:href="#svg-pencil" /></svg>
  </a>
</div>
{% endif %}
