<h1>DATA EXPORT</h1>

<section class="file-export">
  {% if brandReadyFlag %}
  <div class="row">
    <div class="col s9"><h2>BRAND</h2></div>
    <div class="col s3">
      <a href="{{ link_base }}export/excel/data/?type=brand" class="waves-effect waves-light btn teal darken-1">export</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col s12">
      <p class="center-align">No brand data</p>
    </div>
  </div>
  {% endif %}

  {% if modelReadyFlag %}
  <div class="row">
    <div class="col s9"><h2>MODEL</h2></div>
    <div class="col s3">
      <a href="{{ link_base }}export/excel/data/?type=model" class="waves-effect waves-light btn teal darken-1">export</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col s12">
      <p class="center-align">No model data</p>
    </div>
  </div>
  {% endif %}

  {% if itemReadyFlag %}
  <div class="row">
    <div class="col s9"><h2>TOP COORDINATION</h2></div>
    <div class="col s3">
      <a href="{{ link_base }}export/excel/data/?type=top" class="waves-effect waves-light btn teal darken-1">export</a>
    </div>
  </div>
  <div class="row">
    <div class="col s9"><h2>BRAND COORDINATION</h2></div>
    <div class="col s3">
      <a href="{{ link_base }}export/excel/data/?type=brandtop" class="waves-effect waves-light btn teal darken-1">export</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col s12">
      <p class="center-align">No coordinates data</p>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col s9"><h2>USER</h2></div>
    <div class="col s3">
      <a href="{{ link_base }}export/excel/data/?type=user" class="waves-effect waves-light btn teal darken-1">export</a>
    </div>
  </div>
</section>
