<div class="section">
  <div class="section__head section__head--beauty">
    <h2><span>Beauty Item</span></h2>
  </div>
  <div class="section__body">
    <ul class="row_full--bdr">
      <li class="col">
        <div class="shop-item">
          <div class="shop-item__header">
            <div class="shop-logo">
              <div class="shop-logo__inner"><a href="http://www.rakuten.ne.jp/gold/angfa/index.html?l-id=rba_ev_ga20151024_sp_top_beautyad01"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_logo_01.jpg" width="35" alt="予防医学のアンファー"></a></div>
            </div>
            <div class="shop-detail">
              <h4><a href="http://www.rakuten.ne.jp/gold/angfa/index.html?l-id=rba_ev_ga20151024_sp_top_beautyad01">予防医学のアンファー</a></h4>
              <p>薬用シャンプー スカルプD・エイジングケア化粧品の公式通販</p>
            </div>
          </div>
          <div class="shop-item__body">
            <ul class="row_90x3 shop-banner-list">
              <li class="col">
                <a href="http://item.rakuten.co.jp/angfa/purefree_x3/?l-id=rba_ev_ga20151024_sp_top_beautyad04" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_01a.jpg" alt="【ポイント４倍】ガールズアワードコラボ企画セット★"><p>【ポイント４倍】ガールズアワードコラボ企画セット★</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/angfa/purefree_black/?l-id=rba_ev_ga20151024_sp_top_beautyad01" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_01b.jpg" alt="ロング&セパレート！スカルプＤのマスカラ美容液"><p>ロング&セパレート！スカルプＤのマスカラ美容液</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/angfa/eyeliner/#page_top?l-id=rba_ev_ga20151024_sp_top_beautyad01" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_01c.jpg" alt="アイライナー新色登場★思い通りのひと筆"><p>アイライナー新色登場★思い通りのひと筆</p></a>
              </li>
            </ul>
            <div class="shop-link"><a href="http://www.rakuten.ne.jp/gold/angfa/index.html?l-id=rba_ev_ga20151024_sp_top_beautyad01" class="btn-big-round"><span>楽天市場内で商品を探す</span></a></div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="shop-item">
          <div class="shop-item__header">
            <div class="shop-logo">
              <div class="shop-logo__inner"><a href="http://www.rakuten.co.jp/cos-beauty/?l-id=rba_ev_ga20151024_sp_top_beautyad02"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_logo_04.gif" width="35" alt="コスビューティー楽天市場店"></a></div>
            </div>
            <div class="shop-detail">
              <h4><a href="http://www.rakuten.co.jp/cos-beauty/?l-id=rba_ev_ga20151024_sp_top_beautyad02">コスビューティー楽天市場店</a></h4>
              <p>あなたの美容ライフにイノベーションを</p>
            </div>
          </div>
          <div class="shop-item__body">
            <ul class="row_90x3 shop-banner-list">
              <li class="col">
                <a href="http://item.rakuten.co.jp/cos-beauty/brush/?l-id=rba_ev_ga20151024_sp_top_beautyad02" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_02a.jpg" alt="毛穴まですっきり！音波クレンジングブラシ"><p>毛穴まですっきり！音波クレンジングブラシ</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/cos-beauty/mist/?l-id=rba_ev_ga20151024_sp_top_beautyad02" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_02b.jpg" alt="簡単エイジングケア！浴びる水素水ミスト"><p>簡単エイジングケア！浴びる水素水ミスト</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/cos-beauty/skincam/?l-id=rba_ev_ga20151024_sp_top_beautyad02" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_02c.jpg" alt="専門的な肌診断が自宅でできる美肌測定器+"><p>専門的な肌診断が自宅でできる美肌測定器+</p></a>
              </li>
            </ul>
            <div class="shop-link"><a href="http://www.rakuten.co.jp/cos-beauty/?l-id=rba_ev_ga20151024_sp_top_beautyad02" class="btn-big-round"><span>楽天市場内で商品を探す</span></a></div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="shop-item">
          <div class="shop-item__header">
            <div class="shop-logo">
              <div class="shop-logo__inner"><a href="http://www.rakuten.ne.jp/gold/sizedown/?l-id=rba_ev_ga20151024_sp_top_beautyad03"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_logo_03.gif" width="35" alt="SizeDown(サイズダウン)"></a></div>
            </div>
            <div class="shop-detail">
              <h4><a href="http://www.rakuten.ne.jp/gold/sizedown/?l-id=rba_ev_ga20151024_sp_top_beautyad03">SizeDown(サイズダウン)</a></h4>
              <p>ローズも人気！クラスター浸透水のサイズダウン</p>
            </div>
          </div>
          <div class="shop-item__body">
            <ul class="row_90x3 shop-banner-list">
              <li class="col">
                <a href="http://item.rakuten.co.jp/sizedown/10000012/?l-id=rba_ev_ga20151024_sp_top_beautyad03" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_03a.jpg" alt="サイズダウン フレグランスウォーター ローズ"><p>サイズダウン フレグランスウォーター ローズ</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/sizedown/10000011/?l-id=rba_ev_ga20151024_sp_top_beautyad03" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_03b.jpg" alt="サイズダウン"><p>サイズダウン</p></a>
              </li>
              <li class="col">
                <a href="http://www.rakuten.co.jp/sizedown/?l-id=rba_ev_ga20151024_sp_top_beautyad03" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_03c.jpg" alt="プレミアム酵素ドリンク"><p>プレミアム酵素ドリンク</p></a>
              </li>
            </ul>
            <div class="shop-link"><a href="http://www.rakuten.ne.jp/gold/sizedown/?l-id=rba_ev_ga20151024_sp_top_beautyad03" class="btn-big-round"><span>楽天市場内で商品を探す</span></a></div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="shop-item">
          <div class="shop-item__header">
            <div class="shop-logo">
              <div class="shop-logo__inner"><a href="http://www.rakuten.co.jp/madame1214/?l-id=rba_ev_ga20151024_sp_top_beautyad04"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_logo_02.gif" width="35" alt="マダムシンコ"></a></div>
            </div>
            <div class="shop-detail">
              <h4><a href="http://www.rakuten.co.jp/madame1214/?l-id=rba_ev_ga20151024_sp_top_beautyad04">マダムシンコ</a></h4>
              <p>マダムブリュレが有名な大阪の洋菓子店。</p>
            </div>
          </div>
          <div class="shop-item__body">
            <ul class="row_90x3 shop-banner-list">
              <li class="col">
                <a href="http://item.rakuten.co.jp/madame1214/baumburyure-m-01/?l-id=rba_ev_ga20151024_sp_top_beautyad04" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_04a.jpg" alt="マダムシンコの看板商品、大阪のお土産マダムブリュレ"><p>マダムシンコの看板商品、大阪のお土産マダムブリュレ</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/madame1214/trkc_baum/?l-id=rba_ev_ga20151024_sp_top_beautyad04" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_04b.jpg" alt="ゆるキャラGP出場のとらきちとコラボした限定バウム"><p>ゆるキャラGP出場のとらきちとコラボした限定バウム</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/madame1214/toro_mb/?l-id=rba_ev_ga20151024_sp_top_beautyad04" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_04c.jpg" alt="レンジでチンしてとろ〜りとろけるマシュマロバウム"><p>レンジでチンしてとろ〜りとろけるマシュマロバウム</p></a>
              </li>
            </ul>
            <div class="shop-link"><a href="http://www.rakuten.co.jp/madame1214/?l-id=rba_ev_ga20151024_sp_top_beautyad04" class="btn-big-round"><span>楽天市場内で商品を探す</span></a></div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="shop-item">
          <div class="shop-item__header">
            <div class="shop-logo">
              <div class="shop-logo__inner"><a href="http://www.rakuten.ne.jp/gold/kenkoex/?l-id=rba_ev_ga20151024_sp_top_beautyad05"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_logo_05.jpg" width="35" height="35" alt="健康エクスプレス"></a></div>
            </div>
            <div class="shop-detail">
              <h4><a href="http://www.rakuten.ne.jp/gold/kenkoex/?l-id=rba_ev_ga20151024_sp_top_beautyad05">健康エクスプレス</a></h4>
              <p>常に最安挑戦！医薬品・日用品から食品・アウトドアまで♪</p>
            </div>
          </div>
          <div class="shop-item__body">
            <ul class="row_90x3 shop-banner-list">
              <li class="col">
                <a href="http://item.rakuten.co.jp/kenkoex/1060-4571415380088mail/?l-id=rba_ev_ga20151024_sp_top_beautyad05" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_05a.jpg" alt="【ゆうメール便！送料無料】 ナチュリズム180粒入（約30日分）"><p>【ゆうメール便！送料無料】 ナチュリズム180粒入（約30日分）</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/kenkoex/lifestyle_nulti/?l-id=rba_ev_ga20151024_sp_top_beautyad05" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_05b.jpg" alt="ライフスタイル マルチビタミン&ミネラル 90粒入"><p>ライフスタイル マルチビタミン&ミネラル 90粒入</p></a>
              </li>
              <li class="col">
                <a href="http://item.rakuten.co.jp/kenkoex/1234-4987035540717/?l-id=rba_ev_ga20151024_sp_top_beautyad05" class="shop-banner"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/shop_banner_05c.jpg" alt="[大塚製薬] エクエル 112粒入（約28日分）"><p>[大塚製薬] エクエル 112粒入（約28日分）</p></a>
              </li>
            </ul>
            <div class="shop-link"><a href="http://www.rakuten.ne.jp/gold/kenkoex/?l-id=rba_ev_ga20151024_sp_top_beautyad05" class="btn-big-round"><span>楽天市場内で商品を探す</span></a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>