<div class="section">
  <div class="section__head section__head--brand">
    <% if @language == "ja" : %>
      <h2>公式通販サイト取り扱いブランド</h2>
    <% else if @language == "en" : %>
      <h2>Rakuten Brand Avenue x GirlsAward Official Site Brands</h2>
    <% else if @language == "tw" : %>
      <h2>Rakuten Brand Avenue x GirlsAward 官方網站品牌</h2>
    <% else : %>
      <h2>Rakuten Brand Avenue x GirlsAward 官方网站品牌</h2>
    <% end %>
  </div>
  <div class="section__body">
    <% if @data.brands?.length : %>
      <ul class="itemlist itemlist row_liquid brand-list">
        <% for brand in @data.brands : %>
          <% if @language == "ja" : %>
            <% if brand.up_status == true : %>
            <li class="col">
              <div class="thumbnail">
                <div><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%- brand.label %>/?l-id=rba_ev_ga20151024_sp_top_logo_<%- brand.label %>"><img src="<%- brand.img_sp %>"></a></div>
                <p class="brand-name"><%- brand.name_ja %></p>
              </div>
            </li>
            <% else : %>
            <li class="col">
              <div class="thumbnail">
                <div><img src="<%- brand.img_sp %>"></div>
                <p class="brand-name"><%- brand.name_ja %></p>
              </div>
            </li>
            <% end %>
          <% else : %>
            <% if brand.global_status == true : %>
              <% if brand.up_status == true : %>
              <li class="col">
                <div class="thumbnail">
                  <div>
                    <% if @language == "en" : %>
                    <a href="http://global.rakuten.com/en/event/girlsaward/sp/<%- brand.label %>/?l-id=rba_ev_ga20151024_sp_<%- @language %>_top_logo_<%- brand.label %>"><img src="<%- brand.img_sp %>"></a>
                    <% else : %>
                    <a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/sp/<%- brand.label %>/?l-id=rba_ev_ga20151024_sp_<%- @language %>_top_logo_<%- brand.label %>"><img src="<%- brand.img_sp %>"></a>
                    <% end %>
                  </div>
                  <p class="brand-name"><%- brand.name_en %></p>
                </div>
              </li>
              <% else : %>
              <li class="col">
                <div class="thumbnail">
                  <div><img src="<%- brand.img_sp %>"></div>
                  <p class="brand-name"><%- brand.name_en %></p>
                </div>
              </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>