<div class="section">
  <div class="section__head section__head--artist">
    <h2><span>Guest & Artist</span></h2>
  </div>
  <div class="section__body">
    <ul class="row_liquid">
      <% if @language == "ja" : %>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_01.jpg" width="140" height="140" alt="井上苑子"><p class="heading">井上苑子</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_02.jpg" width="140" height="140" alt="Miracle Vell Magic"><p class="heading">Miracle Vell Magic</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_03.jpg" width="140" height="140" alt="東京女子流"><p class="heading">東京女子流</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_04.jpg" width="140" height="140" alt="XOX"><p class="heading">XOX</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_05.jpg" width="140" height="140" alt="剛力彩芽"><p class="heading">剛力彩芽</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_06.jpg" width="140" height="140" alt="SHINee"><p class="heading">SHINee</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_07.jpg" width="140" height="140" alt="SCANDAL"><p class="heading">SCANDAL</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_08.jpg" width="140" height="140" alt="超特急"><p class="heading">超特急</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_09.jpg" width="140" height="140" alt="でんぱ組.inc"><p class="heading">でんぱ組.inc</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_10.jpg" width="140" height="140" alt="乃木坂46"><p class="heading">乃木坂46</p></li>
      <% else : %>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_01.jpg" width="140" height="140" alt="Sonoko Inoue"><p class="heading">Sonoko Inoue</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_02.jpg" width="140" height="140" alt="Miracle Vell Magic"><p class="heading">Miracle Vell Magic</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_03.jpg" width="140" height="140" alt="TOKYO GIRLS' STYLE"><p class="heading">TOKYO GIRLS' STYLE</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_04.jpg" width="140" height="140" alt="XOX"><p class="heading">XOX</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_05.jpg" width="140" height="140" alt="Ayame Goriki"><p class="heading">Ayame Goriki</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_06.jpg" width="140" height="140" alt="SHINee"><p class="heading">SHINee</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_07.jpg" width="140" height="140" alt="SCANDAL"><p class="heading">SCANDAL</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_08.jpg" width="140" height="140" alt="BULLET TRAIN"><p class="heading">BULLET TRAIN</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_09.jpg" width="140" height="140" alt="Dempagumi.inc"><p class="heading">Dempagumi.inc</p></li>
        <li class="col"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/guest_10.jpg" width="140" height="140" alt="Nogizaka46"><p class="heading">Nogizaka46</p></li>
      <% end %>
    </ul>
  </div>
</div>