<div class="section">
  <div class="section__head section__head--model">
    <% if @language == "ja" : %>
    <h2><span>Models</span></h2>
    <% else if @language == "en" : %>
    <h2><span>Models</span></h2>
    <% else if @language == "tw" : %>
    <h2><span>模特兒</span></h2>
    <% else : %>
    <h2><span>模特儿</span></h2>
    <% end %>
  </div>
  <div class="section__body">
    <% if @data.models?.length : %>
      <ul class="itemlist row_liquid modellist">
        <% for model in @data.models : %>
          <li class="col">
            <% if @language == "ja" : %>
              <div class="model-image">
                <div class="thumbnail thumb-90-90"><img src="<%- model.img %>" width="90" height="90" alt="<%- model.name_ja %>"></div>
              </div>
              <p class="model-name"><%- model.name_ja %></p>
            <% else : %>
              <div class="model-image">
                <div class="thumbnail thumb-90-90"><img src="<%- model.img %>" width="90" height="90" alt="<%- model.name_en %>"></div>
              </div>
              <p class="model-name model-name-en"><%- model.name_en %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>