<% if @language == "cn" : %>
<% else : %>
<div class="section">
  <div class="section__head section__head--movie">
    <h2><span>GirlsAward 2015 AUTUMN/WINTER LIVE ON fashiontv</span></h2>
  </div>
  <div class="section__body">
    <iframe width="100%" src="http://www.ustream.tv/embed/16060873?html5ui&autoplay=true" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe>
  </div>
</div>
<!-- <div class="section">
  <div class="section__head section__head--movie">
    <h2><span>GirlsAward 2015 AUTUMN/WINTER LIVE ON fashiontv</span></h2>
  </div>
  <div class="section__body ustream-movie">
    <img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/img_alt_movie.png" alt="Girls Award 13:50配信開始" width="100%">
  </div>
</div> -->
<% end %>
