<div class="section">
  <div class="section__head section__head--pickupitem">
    <% if @language == "ja" : %>
    <h2><span>ピックアップアイテム</span></h2>
    <% else if @language == "en" : %>
    <h2><span>Featured Items</span></h2>
    <% else if @language == "tw" : %>
    <h2><span>推薦商品</span></h2>
    <% else : %>
    <h2><span>推荐商品</span></h2>
    <% end %>
  </div>
  <div class="section__body">
    <div class="recommended__wrapper">
      <div class="filter-nav" id="recommended-filter">
        <% if @language == "ja" : %>
          <p class="filter-nav__header"><i class="icon-twinkle"></i><span>商品カテゴリで絞込む</span></p>
          <ul class="filter-nav__body row_liquid">
            <li data-item-type="all" class="col filter-nav__tab js-filter selected">全商品</li>
            <li data-item-type="model" class="col filter-nav__tab js-filter">モデル着用</li>
            <li data-item-type="555087" class="col filter-nav__tab js-filter">アウター</li>
            <li data-item-type="206471" class="col filter-nav__tab js-filter">シャツ</li>
            <li data-item-type="206482" class="col filter-nav__tab js-filter">カットソー</li>
            <li data-item-type="110729" class="col filter-nav__tab js-filter">ワンピース</li>
            <li data-item-type="555089" class="col filter-nav__tab js-filter">ボトムス</li>
            <li data-item-type="100480" class="col filter-nav__tab js-filter">シューズ</li>
            <li data-item-type="110933" class="col filter-nav__tab js-filter">バッグ</li>
            <li data-item-type="216129" class="col filter-nav__tab js-filter">アクセサリー</li>
            <li data-item-type="403732" class="col filter-nav__tab js-filter">帽子</li>
          </ul>
        <% else if @language == "en" : %>
          <p class="filter-nav__header"><i class="icon-twinkle"></i><span>Filter by product category</span></p>
          <ul class="filter-nav__body row_liquid">
            <li data-item-type="all" class="col filter-nav__tab js-filter selected">All Items</li>
            <li data-item-type="model" class="col filter-nav__tab js-filter">Runway Items</li>
            <li data-item-type="555087" class="col filter-nav__tab js-filter">Outerwear</li>
            <li data-item-type="206488" class="col filter-nav__tab js-filter">Knitwear</li>
            <li data-item-type="206471" class="col filter-nav__tab js-filter">Shirts</li>
            <li data-item-type="206482" class="col filter-nav__tab js-filter">Cotton</li>
            <li data-item-type="110729" class="col filter-nav__tab js-filter">Dresses</li>
            <li data-item-type="555089" class="col filter-nav__tab js-filter">Bottoms</li>
            <li data-item-type="100480" class="col filter-nav__tab js-filter">Shoes</li>
            <li data-item-type="110933" class="col filter-nav__tab js-filter">Bags</li>
            <li data-item-type="216129" class="col filter-nav__tab js-filter">Accessories</li>
            <li data-item-type="403732" class="col filter-nav__tab js-filter">Hats</li>
          </ul>
        <% else if @language == "tw" : %>
          <p class="filter-nav__header"><i class="icon-twinkle"></i><span>按产品类别筛选</span></p>
          <ul class="filter-nav__body row_liquid">
            <li data-item-type="all" class="col filter-nav__tab js-filter selected">所有商品</li>
            <li data-item-type="model" class="col filter-nav__tab js-filter">模特兒 穿著</li>
            <li data-item-type="555087" class="col filter-nav__tab js-filter">外衣</li>
            <li data-item-type="206488" class="col filter-nav__tab js-filter">毛衣</li>
            <li data-item-type="206471" class="col filter-nav__tab js-filter">襯衫</li>
            <li data-item-type="206482" class="col filter-nav__tab js-filter">綿製衣物</li>
            <li data-item-type="110729" class="col filter-nav__tab js-filter">連身裙</li>
            <li data-item-type="555089" class="col filter-nav__tab js-filter">下裝</li>
            <li data-item-type="100480" class="col filter-nav__tab js-filter">鞋</li>
            <li data-item-type="110933" class="col filter-nav__tab js-filter">手袋</li>
            <li data-item-type="216129" class="col filter-nav__tab js-filter">配件</li>
            <li data-item-type="403732" class="col filter-nav__tab js-filter">帽子</li>
          </ul>
        <% else : %>
          <p class="filter-nav__header"><i class="icon-twinkle"></i><span>按產品類別篩選</span></p>
          <ul class="filter-nav__body row_liquid">
            <li data-item-type="all" class="col filter-nav__tab js-filter selected">所有商品</li>
            <li data-item-type="model" class="col filter-nav__tab js-filter">模特 衣着</li>
            <li data-item-type="555087" class="col filter-nav__tab js-filter">外衣</li>
            <li data-item-type="206488" class="col filter-nav__tab js-filter">针织品</li>
            <li data-item-type="206471" class="col filter-nav__tab js-filter">衬衫</li>
            <li data-item-type="206482" class="col filter-nav__tab js-filter">绵制衣物</li>
            <li data-item-type="110729" class="col filter-nav__tab js-filter">连衣裙</li>
            <li data-item-type="555089" class="col filter-nav__tab js-filter">下装</li>
            <li data-item-type="100480" class="col filter-nav__tab js-filter">鞋</li>
            <li data-item-type="110933" class="col filter-nav__tab js-filter">包包</li>
            <li data-item-type="216129" class="col filter-nav__tab js-filter">配件</li>
            <li data-item-type="403732" class="col filter-nav__tab js-filter">帽子</li>
          </ul>
        <% end %>
      </div>
      <div class="filter-items">
        <ul id="recommended-item-list" class="recommended-items" data-brand-id="<%- @brandname %>" data-lang="<%- @language %>"></ul>
        <p class="filter-error-message"></p>
      </div>
    </div>
  </div>
</div>