<% for record in @data.brand_cord : %>
  <% if @brandId == record.brand.id : %>
    <div class="brand__head">
      <h1><span class="brand-logo"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/brand/<%- record.brand.label %>-s.jpg" alt="<%= record.brand.name_en %>"></span><span data-brand="<%= record.brand.name_en %>" class="brand-name"><%= record.brand.name_en %></span></h1>
      <% if @language == "ja" : %>
        <p>ランウェイコーディネート</p>
      <% else if @language == "en" : %>
        <p>Runway Looks</p>
      <% else if @language == "tw" : %>
        <p>天橋時裝展示</p>
      <% else : %>
        <p>天桥时装展示</p>
      <% end %>
    </div>
    <ul class="brand__body">
      <% for cord in record.cordinates : %>
        <% if @language == "ja" : %>
          <li class="pickup-item">
            <div class="pickup-item__image">
              <% if cord.photo_status == true : %>
              <p><%= cord.model.name_ja %></p><img src="<%= cord.img %>" alt="<%= cord.model.name_ja %>">
              <% else : %>
              <img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="<%= cord.model.name_ja %>" width="165" height="255">
              <% end %>
            </div>
            <div class="pickup-item__item">
              <div class="item-list">
                <ul class="item">
                  <% for item in cord.items : %>
                    <li>
                      <div class="item-image thumb-93-93"><a href="http://item.rakuten.co.jp/stylife/<%- item.url %>/?l-id=rba_ev_ga20151024_sp_brand_code_<%- record.brand.label %>"><img src="<%- item.img %>" alt="<%= item.name_ja %>"></a></div>
                      <div class="item-detail">
                        <p class="item-name trunk8"><%= item.name_ja %></p>
                        <p class="item-price"><span class="js-price-num"><%= item.price_ja %></span>円</p>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
        <% else : %>
          <li class="pickup-item">
            <div class="pickup-item__image">
              <% if cord.photo_status == true : %>
              <p><%= cord.model.name_en %></p><img src="<%= cord.img %>" alt="<%= cord.model.name_en %>">
              <% else : %>
              <img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="<%= cord.model.name_en %>" width="165" height="255">
              <% end %>
            </div>
            <div class="pickup-item__item">
              <div class="item-list">
                <ul class="item">
                  <% for item in cord.items : %>
                    <li>
                      <div class="item-image thumb-93-93">
                      <% if @language == "en" : %>
                      <a href="http://global.rakuten.com/en/store/stylife/item/<%- item.url %>/?l-id=rba_ev_ga20151024_sp_en_brand_code_<%- record.brand.label %>"><img src="<%- item.img %>" alt="<%= item.name_en %>"></a>
                      <% else if @language == "tw" : %>
                      <a href="http://global.rakuten.com/zh-tw/store/stylife/item/<%- item.url %>/?l-id=rba_ev_ga20151024_sp_tw_brand_code_<%- record.brand.label %>"><img src="<%- item.img %>" alt="<%= item.name_tw %>"></a>
                      <% else : %>
                      <a href="http://global.rakuten.com/zh-cn/store/stylife/item/<%- item.url %>/?l-id=rba_ev_ga20151024_sp_cn_brand_code_<%- record.brand.label %>"><img src="<%- item.img %>" alt="<%= item.name_cn %>"></a>
                      <% end %>
                      </div>
                      <div class="item-detail">
                        <% if @language == "en" : %>
                          <p class="item-name trunk8"><%= item.name_en %></p>
                          <p class="item-price"><span class="js-price-num"><%= item.price_ja %></span> JPY</p>
                        <% else if @language == "tw" : %>
                          <p class="item-name trunk8"><%= item.name_tw %></p>
                          <p class="item-price"><span class="js-price-num"><%= item.price_ja %></span> 日元</p>
                        <% else : %>
                          <p class="item-name trunk8"><%= item.name_cn %></p>
                          <p class="item-price"><span class="js-price-num"><%= item.price_ja %></span> 日元</p>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>