<div class="section">
  <div class="section__head section__head--pickuprunway">
    <% if (@language == 'ja') : %>
      <h2><span>ランウェイコーディネート</span></h2>
    <% else if (@language == 'en') : %>
      <h2><span>Runway Looks</span></h2>
    <% else if (@language == 'tw') : %>
      <h2><span>天橋時裝展示</span></h2>
    <% else : %>
      <h2><span>天桥时装展示</span></h2>
    <% end %>
  </div>
  <div class="section__body">
    <% if @data.top_cord?.length : %>
      <ul class="row_liquid">
        <% for cord in @data.top_cord : %>
          <% if @language == "ja" : %>
          <li class="col">
            <% if cord.up_status == true : %>
            <div class="item__overlay">
              <div class="item__head">
                <a href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_top_coor" class="btn-round"><%- cord.brand.name_ja %></a>
                <% if cord.photo_status == true : %>
                <div class="item__model"><%- cord.model.name_ja %></div>
                <% end %>
              </div>
              <div class="item__body">
                <% if cord.photo_status == true : %>
                <div class="thumbnail thumb-145-244"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_top_coor" class="item-link"><%- cord.brand.name_ja %></a><img src="<%- cord.img %>" alt="<%- cord.model.name_ja %>"></div>
                <% else : %>
                <div class="thumbnail thumb-145-244"><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_top_coor"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></a></div>
                <% end %>
              </div>
            </div>
            <% else : %>
            <div class="item__overlay">
              <div class="item__head">
                <span class="btn-round"><%- cord.brand.name_ja %></span>
                <div class="item__model"></div>
              </div>
              <div class="item__body">
                <div class="thumbnail thumb-145-244"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></div>
              </div>
            </div>
            <% end %>
          </li>
          <% else : %>
            <% if cord.global_status == true : %>
              <li class="col">
              <% if cord.up_status == true : %>
              <div class="item__overlay">
                <div class="item__head">
                  <% if @language == "en" : %>
                  <a href="http://global.rakuten.com/en/event/girlsaward/sp/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_en_top_coor" class="btn-round"><%- cord.brand.name_en %></a>
                  <% else : %>
                  <a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/sp/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_<%- @language %>_top_coor" class="btn-round"><%- cord.brand.name_en %></a>
                  <% end %>
                  <% if cord.photo_status == true : %>
                  <div class="item__model"><%- cord.model.name_en %></div>
                  <% end %>
                </div>
                <div class="item__body">
                  <% if cord.photo_status == true : %>
                    <% if @language == "en" : %>
                    <div class="thumbnail thumb-145-244"><a href="http://global.rakuten.com/en/event/girlsaward/sp/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_en_top_coor" class="item-link"><%- cord.brand.name_en %></a><img src="<%- cord.img %>" alt="<%- cord.model.name_en %>"></div>
                    <% else : %>
                    <div class="thumbnail thumb-145-244"><a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/sp/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_<%- @language %>_top_coor" class="item-link"><%- cord.brand.name_en %></a><img src="<%- cord.img %>" alt="<%- cord.model.name_en %>"></div>
                    <% end %>
                  <% else : %>
                    <% if @language == "en" : %>
                    <div class="thumbnail thumb-145-244"><a href="http://global.rakuten.com/en/event/girlsaward/sp/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_en_top_coor"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></a></div>
                    <% else : %>
                    <div class="thumbnail thumb-145-244"><a href="http://global.rakuten.com/zh-<%- @language %>/event/girlsaward/sp/<%- cord.brand.label %>/?l-id=rba_ev_ga20151024_sp_<%- @language %>_top_coor"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></a></div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <% else : %>
              <div class="item__overlay">
                <div class="item__head">
                  <span class="btn-round"><%- cord.brand.name_en %></span>
                  <div class="item__model"></div>
                </div>
                <div class="item__body">
                  <div class="thumbnail thumb-145-244"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/dummy-model.gif" alt="Coming Soon"></div>
                </div>
              </div>
              <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>