<footer>
  <div id="footer">
    <div class="sectionContainer">
      <div class="sectionHeader">
        <h1>楽天市場の便利な機能</h1>
      </div>
      <nav>
        <ul id="footerLinks">
          <li class="half"><a href="https://sp.basket.step.rakuten.co.jp/rms/mall/bss/cartall/?l-id=smart_eventfooter_001">買い物かご</a></li>
          <li class="half"><a href="https://my.bookmark.rakuten.co.jp/item?l-id=smart_eventfooter_003">お気に入り</a></li>
          <li class="half"><a href="http://ashiato.rakuten.co.jp/rms/sd/ashiato/vc?l-id=smart_eventfooter_004">閲覧履歴</a></li>
          <li class="half last"><a href="https://sp.order.my.rakuten.co.jp/?l-id=smart_eventfooter_002">購入履歴</a></li>
          <li><a href="http://ichiba.smp.faq.rakuten.co.jp/">ヘルプ</a></li>
          <li class="break"><a href="http://event.rakuten.co.jp/smart/guide/">ご利用ガイド</a></li>
          <li><a href="http://www.rakuten.co.jp/">楽天市場トップページへ</a></li>
        </ul>
      </nav>
    </div>
    <p id="copyrights">Copyright (c) 1997-2015 Rakuten, Inc. All Rights Reserved.</p>
  </div>
</footer>