<% if @language == "ja" : %>
<div id="header"><a id="headerLogo" href="http://www.rakuten.co.jp/"><img src="http://event.rakuten.co.jp/smart/rba/common/img/img_rLogo.gif" width="73" height="27" alt="楽天"></a></div>
<div id="titleBar">
  <h1 id="siteTitle"><a href="http://event.rakuten.co.jp//smart/rba/"><img src="http://event.rakuten.co.jp/smart/rba/common/img/img_sLogo.png" width="294" height="35" alt="Rakuten Brand Avenue"></a></h1>
</div>
<div class="ga-header">
  <h1><a href="http://event.rakuten.co.jp/smart/rba/girlsaward/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/kanban.png" width="100%" alt="Rakuten BRAND AVENUE×GirlsAward 2015 SPRING/SUMMER 公式通販サイト"></a></h1>
</div>
<% else if @language == "en" : %>
<div class="ga-header" id="ga-header">
  <h1><a href="http://global.rakuten.com/en/event/girlsaward/sp/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/kanban_en.png" width="100%" alt="Rakuten BRAND AVENUE x Girls Award Official Site"></a></h1>
</div>
<% else if @language == "tw" : %>
<div class="ga-header" id="ga-header">
  <h1><a href="http://global.rakuten.com/zh-tw/event/girlsaward/sp/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/kanban_tw.png" width="100%" alt="Rakuten BRAND AVENUE x Girls Award 官方網站"></a></h1>
</div>
<% else : %>
<div class="ga-header" id="ga-header">
  <h1><a href="http://global.rakuten.com/zh-cn/event/girlsaward/sp/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/sp/kanban_cn.png" width="100%" alt="Rakuten BRAND AVENUE x Girls Award 官方网站"></a></h1>
</div>
<% end %>