<div id="footer">
  <ul id="footerLinks">
    <li><a href="http://www.rakuten.co.jp/?l-id=rba_footer_rakutentop">&#x697D;&#x5929;&#x30C8;&#x30C3;&#x30D7;</a></li>
    <li><a href="http://event.rakuten.co.jp/?l-id=rba_footer_event">&#x7279;&#x96C6;&#x4E00;&#x89A7;</a></li>
    <li><a href="http://directory.rakuten.co.jp/?l-id=rba_footer_genre">&#x5168;&#x30B8;&#x30E3;&#x30F3;&#x30EB;&#x4E00;&#x89A7;</a></li>
    <li><a href="http://event.rakuten.co.jp/mobile/?l-id=rba_footer_mobile">&#x30B1;&#x30FC;&#x30BF;&#x30A4;&#x30FB;&#x30B9;&#x30DE;&#x30DB;&#x30A2;&#x30D7;&#x30EA;</a></li>
    <li><a href="http://ranking.rakuten.co.jp/?l-id=rba_footer_ranking">&#x30E9;&#x30F3;&#x30AD;&#x30F3;&#x30B0;</a></li>
    <li><a href="http://review.rakuten.co.jp/?l-id=rba_footer_review">&#x30EC;&#x30D3;&#x30E5;&#x30FC;</a></li>
    <li class="last-child"><a href="http://product.rakuten.co.jp/?l-id=rba_footer_product">&#x5546;&#x54C1;&#x4FA1;&#x683C;&#x30CA;&#x30D3;</a></li>
  </ul>
  <p id="copyrights">Copyright (c) 1997-2015 Rakuten, Inc. All Rights Reserved.</p>
</div><!-- /#footer-->