<% if @language == "ja" : %>
<div id="header">
  <ul id="headerLinks">
    <li><a href="https://my.rakuten.co.jp/?l-id=rba_header_01_new">my Rakuten</a></li>
    <li><a href="http://ichiba.faq.rakuten.co.jp/app/home/?l-id=rba_header_02_new">ヘルプ</a></li>
    <li><a href="https://member.id.rakuten.co.jp/rms/nid/logout/?l-id=rba_header_03_new">ログアウト</a></li>
    <li class="last-child"><a href="http://www.rakuten.co.jp/?l-id=rba_header_04_new"><em>楽天市場へ</em></a></li>
  </ul>
</div>
<div id="titleBar">
  <div id="titlebarContainer">
    <p id="siteTitle"><a href="http://event.rakuten.co.jp/fashion/rba/?l-id=rba_header_brandlogo"><i class="img-siteLogo">Rakuten BRAND AVENUE</i></a></p>
    <ul id="headNavigation">
      <li><a href="http://event.rakuten.co.jp/fashion/rba/brand/?l-id=rba_header_brandlist"><i class="img-hNav01">ブランド一覧</i></a></li>
      <li><a href="http://event.rakuten.co.jp/fashion/rba/item/?l-id=rba_header_itemlist"><i class="img-hNav02">アイテム一覧</i></a></li>
      <li class="last-child">
        <form onsubmit="s_partsCounter('rba_search');" action="http://esearch.rakuten.co.jp/rms/sd/esearch/vc" method="get">
          <input type="hidden" name="ev" value="25">
          <input type="hidden" value="rba_header_searchbtn_new" name="l-id"><span id="searchKeywordBox">
            <input type="text" value="" name="sitem" size="40" placeholder="キーワードを入力"></span>
          <button type="submit"></button><i class="img-search">検索</i>
        </form>
      </li>
    </ul>
  </div>
</div>
<div class="ga-header">
<h1 class="ga-header-kanban"><a href="http://event.rakuten.co.jp/fashion/rba/girlsaward/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/kanban.jpg" width="1010" height="105" alt="Rakuten BRAND AVENUE×GirlsAward 2015 AUTUMN/WINTER 公式通販サイト"></a></h1>
</div>
<% else if @language == "en" : %>
<div class="ga-header" id="ga-header">
  <h1 class="ga-header-kanban"><a href="http://global.rakuten.com/en/event/girlsaward/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/kanban_en.jpg" width="1010" height="105" alt="Rakuten BRAND AVENUE x Girls Award Official Site"></a></h1>
</div>
<% else if @language == "tw" : %>
<div class="ga-header" id="ga-header">
  <h1 class="ga-header-kanban"><a href="http://global.rakuten.com/zh-tw/event/girlsaward/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/kanban_tw.jpg" width="1010" height="105" alt="Rakuten BRAND AVENUE x Girls Award 官方網站"></a></h1>
</div>
<% else : %>
<div class="ga-header" id="ga-header">
  <h1 class="ga-header-kanban"><a href="http://global.rakuten.com/zh-cn/event/girlsaward/"><img src="http://event.rakuten.co.jp/fashion/rba/girlsaward/img/2015aw/kanban_cn.jpg" width="1010" height="105" alt="Rakuten BRAND AVENUE x Girls Award 官方网站"></a></h1>
</div>
<% end %>