<% extend '_layout_page.ect' %>

<% block 'meta' : %>
<meta charset="UTF-8">
<title><%- @title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%- @description %>" />
<meta name="keywords" content="<%- @keywords %>" />
<% if @canonical : %>
<link rel="canonical" href="<%- @canonical %>">
<% end %>
<% if @alternate : %>
<link rel="alternate" href="<%- @alternate %>" >
<% end %>

<% if @ogTitle : %>
<meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
<meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
<meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogUrl : %>
<meta property="og:url" content="<%- @ogUrl %>">
<% end %>
<% if @ogImage : %>
<meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSiteName : %>
<meta property="og:site_name" content="<%- @ogSiteName %>">
<% end %>
<% if @ogEmail : %>
<meta property="og:email" content="<%- @ogEmail %>">
<% end %>

<% if @fbAppId : %>
<meta property="fb:app_id" content="<%- @fbAppId %>" />
<% end %>
<% if @twitterCard : %>
<meta name="twitter:card" value="<%- @twitterCard %>"/>
<% end %>
<% if @twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @twitterSiteId %>"/>
<% end %>
<link rel="shortcut icon" href="ファビコン" >
<% end %>

<% block 'styles' : %>
<!-- build:css css/app.css -->
<!-- inject:css -->
<!-- endinject -->
<!-- endbuild -->
<% end %>

<% block 'scripts' : %>
<!-- build:js js/app.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->
<% end %>

<% block 'main' : %>
<main>

  <h1>DATA IMPORT</h1>

  <section class="file-import">
    <div class="dropzone-wrap" data-url="{{ link_base }}import/brand/">
      <h2>BRAND IMPORT <small>(<a href="{{ link_base }}brand/">20</a> records in database)</small></h2>

      <p class="note"><small><em>* Exsisting data is to be replaced with data imported.</em></small></p>
      <div class="my-awesome-dropzone dropzone"></div>
      <p class="center-align btn-upload">
        <a href="#" class="waves-effect waves-light btn grey js-btn-upload-cancel">Remove file</a>
        <a href="#" class="waves-effect waves-light btn js-btn-upload">Start import</a>
      </p>
      <p class="center-align btn-download">
        <a href="{{ link_base }}api/xlsExport/data/?type=temp_brand" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template (Brands)</a>
      </p>
    </div>
  </section>

  <section class="file-import">
    <div class="dropzone-wrap" data-url="{{ link_base }}import/model/">
      <h2>MODEL IMPORT <small>(<a href="{{ link_base }}model/">135</a> records in database)</small></h2>

      <p class="note"><small><em>* Exsisting data is to be replaced with data imported.</em></small></p>
      <div class="my-awesome-dropzone dropzone"></div>
      <p class="center-align btn-upload">
        <a href="#" class="waves-effect waves-light btn grey js-btn-upload-cancel">Remove file</a>
        <a href="#" class="waves-effect waves-light btn js-btn-upload">Start import</a>
      </p>
      <p class="center-align btn-download">
        <a href="{{ link_base }}api/xlsExport/data/?type=temp_model" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template (Models)</a>
      </p>
    </div>
  </section>

  <section class="file-import">
    <div class="dropzone-wrap" data-url="{{ link_base }}import/item/">
      <h2>COORDINATION IMPORT</h2>

      <div class="dropzone inactive-message">
        <div class="dz-default">
          <span>
            <svg class="svg-404"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-404"></use></svg>
            <p class="upload-message"><small class="text">Please import brands and models first!</small></p>
          </span>
        </div>
      </div>

      <p class="note"><small><em>* Exsisting data is to be replaced with data imported.</em></small></p>
      <div class="my-awesome-dropzone dropzone"></div>
      <p class="center-align btn-upload">
        <a href="#" class="waves-effect waves-light btn grey js-btn-upload-cancel">Remove file</a>
        <a href="#" class="waves-effect waves-light btn js-btn-upload">Start import</a>
      </p>
      <p class="center-align btn-download">
        <a href="{{ link_base }}api/xlsExport/data/?type=temp_coord" class="btn btn-flat" data-url=""><svg><use xlink:href="#svg-download" /></svg>Download template (Brand coordination)</a>
      </p>
    </div>
  </section>

</main>
<% end %>