<% extend '_layout_page.ect' %>

<% block 'meta' : %>
<meta charset="UTF-8">
<title><%- @title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%- @description %>" />
<meta name="keywords" content="<%- @keywords %>" />
<% if @canonical : %>
<link rel="canonical" href="<%- @canonical %>">
<% end %>
<% if @alternate : %>
<link rel="alternate" href="<%- @alternate %>" >
<% end %>

<% if @ogTitle : %>
<meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
<meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
<meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogUrl : %>
<meta property="og:url" content="<%- @ogUrl %>">
<% end %>
<% if @ogImage : %>
<meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSiteName : %>
<meta property="og:site_name" content="<%- @ogSiteName %>">
<% end %>
<% if @ogEmail : %>
<meta property="og:email" content="<%- @ogEmail %>">
<% end %>

<% if @fbAppId : %>
<meta property="fb:app_id" content="<%- @fbAppId %>" />
<% end %>
<% if @twitterCard : %>
<meta name="twitter:card" value="<%- @twitterCard %>"/>
<% end %>
<% if @twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @twitterSiteId %>"/>
<% end %>
<link rel="shortcut icon" href="ファビコン" >
<% end %>

<% block 'styles' : %>
<!-- build:css css/app.css -->
<!-- inject:css -->
<!-- endinject -->
<!-- endbuild -->
<% end %>

<% block 'scripts' : %>
<!-- build:js js/app.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->
<% end %>

<% block 'main' : %>
<main>

  <h1>DATA EXPORT</h1>

  <section class="file-export">
    <div class="row">
      <div class="col s9"><h2>TOP COORDINATION</h2></div>
      <div class="col s3">
        <a href="{{ link_base }}api/xlsExport/data/?type=top" class="waves-effect waves-light btn teal darken-1">download</a>
      </div>
    </div>

    <div class="row">
      <div class="col s9"><h2>BRAND COORDINATION</h2></div>
      <div class="col s3">
        <a href="{{ link_base }}api/xlsExport/data/?type=brandtop" class="waves-effect waves-light btn teal darken-1">download</a>
      </div>
    </div>

    <div class="row">
      <div class="col s9"><h2>BRAND</h2></div>
      <div class="col s3">
        <a href="{{ link_base }}api/xlsExport/data/?type=brand" class="waves-effect waves-light btn teal darken-1">download</a>
      </div>
    </div>

    <div class="row">
      <div class="col s9"><h2>MODEL</h2></div>
      <div class="col s3">
        <a href="{{ link_base }}api/xlsExport/data/?type=model" class="waves-effect waves-light btn teal darken-1">download</a>
      </div>
    </div>

    <div class="row">
      <div class="col s9"><h2>USER</h2></div>
      <div class="col s3">
        <a href="{{ link_base }}api/xlsExport/data/?type=user" class="waves-effect waves-light btn teal darken-1">download</a>
      </div>
    </div>
  </section>

</main>
<% end %>