<% extend '_layout.ect' %>

<% block 'meta' : %>
<meta charset="UTF-8">
<title><%- @title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%- @description %>" />
<meta name="keywords" content="<%- @keywords %>" />
<% if @canonical : %>
<link rel="canonical" href="<%- @canonical %>">
<% end %>
<% if @alternate : %>
<link rel="alternate" href="<%- @alternate %>" >
<% end %>

<% if @ogTitle : %>
<meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
<meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
<meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogUrl : %>
<meta property="og:url" content="<%- @ogUrl %>">
<% end %>
<% if @ogImage : %>
<meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSiteName : %>
<meta property="og:site_name" content="<%- @ogSiteName %>">
<% end %>
<% if @ogEmail : %>
<meta property="og:email" content="<%- @ogEmail %>">
<% end %>

<% if @fbAppId : %>
<meta property="fb:app_id" content="<%- @fbAppId %>" />
<% end %>
<% if @twitterCard : %>
<meta name="twitter:card" value="<%- @twitterCard %>"/>
<% end %>
<% if @twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @twitterSiteId %>"/>
<% end %>

<% end %>

<% block 'main' : %>
<main class="main">

<section class="intro">
  <h2>Page index</h2>
  <p>User manual</p>
  <p><a href="manual.html">Manual</a></p>
  <br>
  <p>Main pages</p>
  <p><a href="login.html">LOGIN</a></p>
  <p><a href="data_import.html">DATA IMPORT</a></p>
  <p><a href="data_export.html">DATA EXPORT</a></p>
  <p><a href="top_cord.html">TOP CORDINATION</a></p>
  <p><a href="top_cord_edit.html">TOP CORDINATION EDIT</a></p>
  <p><a href="brand_cord.html">BRAND CORDINATION</a></p>
  <p><a href="brand_cord_edit.html">BRAND CORDINATION EDIT</a></p>
  <p><a href="404.html">404</a></p>
  <p><a href="not_supported.html">Unsupported browser page</a></p>
  <br>
  <p>Master data</p>
  <p><a href="master_brand.html">BRAND</a></p>
  <p><a href="master_model.html">MODEL</a></p>
  <p><a href="master_item.html">ITEM</a></p>
  <br>
  <p>Admin data</p>
  <p><a href="master_user.html">USER</a></p>
  <p><a href="account.html">ACCOUNT</a></p>
</section>

<section class="intro">
  <h2>PNG Sprites</h2>
  <div class="sprite sprite-bower"></div>
  <div class="sprite sprite-gulp"></div>
</section>

<section class="intro">
  <h2>Web Fonts</h2>
  <div class="icon icon-cog"></div>
  <div class="icon icon-home"></div>
  <div class="icon icon-image"></div>
</section>

<section class="intro">
  <h2>SVG Sprites</h2>
  <svg class="svg"><use xlink:href="#svg-logo" /></svg>
  <svg class="svg"><use xlink:href="#svg-panda" /></svg>
  <svg class="svg"><use xlink:href="#svg-404" /></svg>
  <svg class="svg"><use xlink:href="#svg-menu" /></svg>
  <svg class="svg"><use xlink:href="#svg-plus" /></svg>
  <svg class="svg"><use xlink:href="#svg-pencil" /></svg>
  <svg class="svg"><use xlink:href="#svg-trash" /></svg>
  <svg class="svg"><use xlink:href="#svg-download" /></svg>
  <svg class="svg"><use xlink:href="#svg-excel" /></svg>
  <svg class="svg"><use xlink:href="#svg-excel_upload" /></svg>
</section>

</main>
<% end %>