.not-found
  background #eee

  .svg
    position fixed
    bottom 50px
    right 100px
    width 200px
    height 200px

  p
    margin 0
    padding 0
    text-align center
    color #aaa
    font-size 20px
    line-height 100vh