.file-export
  position relative
  width 60%
  margin 0 auto 40px

  .row
    padding 10px 0
    border-bottom 1px solid #666

    .btn
      width 100%
      padding 0

  h2
    margin 0
    line-height 36px
    font-size 1.2rem

  .note
    margin 0
    padding 0
    color #00bf00
