.file-import
  position relative
  width 60%
  margin 0 auto 40px

  h2
    margin 0 0 10px 0
    font-size 1.2rem

  .note
    margin 0
    padding 0
    color #00bf00

  .btn-upload
    margin-bottom 0

  .btn-download
    margin 1em 0
    font-size .7rem

    a
      color #aaa
      line-height 20px
      height 20px

      &:hover
        background none
        box-shadow none
        text-decoration underline

    svg
      fill #aaa
      width 20px
      height 20px
      vertical-align -3px
      margin-right 5px

  .dropzone
    border-style dotted
    background #f1f1f1
    text-align center
    min-height 155px
    min-height auto
    color #aaa

    .svg-upload
      fill #aaa
      width 30px
      height 65px

    .svg-404
      width 40px
      height 50px

    .upload-message
      margin 0
      padding 0

    .dz-preview
      margin 2px
      z-index 1

      .dz-image
        width 90px
        height 90px

      .dz-details
        .dz-size, .dz-filename
          font-size .8rem

      .dz-progress
        height 10px

    .dz-message
      margin 1em

  .inactive-message
    .dz-default
      margin 1em

    .text
      font-size 1.2rem
      color #bf0000
