.dropdown-content li > a, .dropdown-content li > span
  font-size 1rem

.submit-btn
  position fixed
  left 50%
  bottom 70px
  width 240px
  margin-left -120px

.error-message
  text-align center
  color #bf0000