.header
  position fixed
  top 0
  width 100%
  height 40px
  line-height 40px
  background url(/img/bg_nav.png) repeat
  text-align right
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index 2

  .brand-logo
    position absolute
    top 0
    left 20px
    font-size 1rem
    color #444

    svg
      width 45px
      height 40px
      fill #444

    &:hover
      svg
        fill #f36

  .material-icons
    &.right
      margin-left 0
      font-size 1.5rem

  .menu
    position absolute
    top 0
    right 20px
    color #555

    svg
      width 20px
      height 45px
      fill #555

    &:hover
      svg
        fill #f36

.nav-open
  .header
    background none

