.intro
  margin-bottom 20px
  text-align center

  & > *
    margin auto

  h2
    width 100%
    margin-bottom 10px
    padding 5px
    background #393A50
    color #f5f5f5
    font-size 20px

  .sprite
    display inline-block

    &-bower
      sprite($bower)

    &-gulp
      sprite($gulp)

  .icon
    font-size 100px
    color #0000bf

  .svg
    width 100px
    height 100px
    fill #bf0000

