.spinner
  display none
  width 40px
  height 40px
  background-color #888

  border-radius 100%
  -webkit-animation sk-scaleout 1.0s infinite ease-in-out
  animation sk-scaleout 1.0s infinite ease-in-out
  position fixed
  top 50%
  left 50%
  // transform translateX(-50%) translateY(-50%)
  margin -20px 0 0 -20px
  z-index 101

  &.active
    display block

@keyframes sk-scaleout
  0%
    transform: scale(0)
  100%
    transform: scale(1.0)
    opacity: 0
