.login
  height 100vh
  background url(/img/bg_ga.jpg) 50% 0 no-repeat
  background-size cover

  h1
    position fixed
    bottom 10px
    right 10px
    margin 0
    color #fff
    font-size 0.8rem

  &__inner
    position fixed
    top 50%
    left 50%
    width 400px
    margin -110px 0 0 -200px
    text-align center

  &__box
    margin-bottom 20px
    padding 10px 0 15px
    background #fff
    opacity 0.7
    border-radius 5px

    .row
      margin 0

  .btn
    width 300px

  &__message
    position fixed
    top 20px
    left 50%
    width 300px
    margin-left -150px
    // transform rotateX(90deg)
    // transform-origin 0 0
    // transition .3s

    // &.active
    //   transform rotateX(0)

  .card-panel
    padding 10px
    text-align center

  .control-label
    font-size .9rem
    color #FB5D5D

.link-manual
  position fixed
  bottom 30px
  left 50%
  transform translateX(-50%)

  a
    font-size 1.3rem
    color #f7f7f7
    text-decoration underline
