.manual
  width 80%
  margin auto

  section
    margin-bottom 40px

  .title
    font-size 1.2rem

  .title-sub
    font-size 1rem
    color #999

  table
    width 100%

  img
    border 1px solid #ddd

  .steps
    li
      margin-bottom 10px

    p
      margin 0

  .svg-download
    width 16px
    height 16px
    fill #aaa
    vertical-align middle
    margin -4px 5px 0px 0

  video
    width 80%
    border 1px solid #aaa
    padding 1px
    background #000