.nav
  position fixed
  top 0
  right 0
  width 300px
  height 100%
  overflow auto
  transform translateX(300px)
  transition transform .2s
  z-index 102

  &-list
    li
      transform translateX(300px)
      transition transform .3s
      float none
      line-height 45px
      background #f4f4f4

      sum = 0
      for num in (1..20)
        sum += 0.05
        &:nth-child({num})
          transition-delay sum s

      a
        border-left 3px solid transparent
        color #a07777

        &:hover
          border-left 3px solid #e290a5
          background #f7f7f7
          color #E290A5

      p
        margin 0
        padding 0 20px
        vertical-align middle
        background #f2f2f2
        box-shadow 1px 1px 2px rgba(0,0,0,0.2)

        &.type
          background linear-gradient(#ffffff 0%,#f6f6f6 47%,#ededed 100%)
          font-weight bold
          color #E290A5

        i
          vertical-align middle

      ul
        a, p
          padding-left 40px
          color #828282

        a
          color #a98282

        ul
          a
            padding-left 50px
            font-size 0.8rem
            color #a98282

        li
          transform translateX(300px)
          transition transform .4s
          float none
          line-height 45px

          sum = 0
          for num in (1..20)
            sum += 0.05
            &:nth-child({num})
              transition-delay sum s

.nav-open
  .nav
    display block
    transform translateX(0)

    &-list
      li
        transform translateX(0)

