#modal
  .modal-content
    .title
      font-size 1.2rem

    .btn-upload
      margin-bottom 0

    .btn-download
      margin-bottom 0

      a
        color #aaa
        line-height 20px
        height 20px

        &:hover
          background none
          box-shadow none
          text-decoration underline

      svg
        fill #aaa
        width 20px
        height 20px
        vertical-align -3px
        margin-right 5px

  .dropzone
    border-style dotted
    background #f1f1f1
    text-align center
    min-height auto
    color #aaa

    .svg-upload
      fill #aaa
      width 35px
      height 115px

    .upload-message
      margin 0
      padding 0

    .dz-message
      margin 1em

