.page
  width 100%
  min-height 100vh
  overflow auto
  padding 40px 0 100px
  transition transform .2s

  h1
    font-size 1.5rem
    text-align center
    margin-bottom 2.5rem

  .float-btn
    position fixed
    left 50%
    bottom 25px
    width 130px
    transform translateX(-50%)
    text-align center
    z-index 3

    .btn-floating
      &:hover
        .add
          transform scale(0)

        .write
          transform scale(.9)

        .xls
          transform scale(0)

        .upload,.download
          transform scale(.9)

      svg
        position absolute
        top 8px
        left 9px
        width 20px
        height 20px
        fill #fff
        transition .2s

        &.write
          transform scale(0)

        &.upload
          transform scale(0)

        &.download
          transform scale(0)

.bg
  position fixed
  top 0
  width 100vw
  height 100vh
  z-index -2
  transform translateX(0)
  transition .3s

  &-logo
    position absolute
    bottom 80px
    right 30px
    width 400px
    height 250px
    fill #f5f5f5

.nav-open
  perspective 1000px
  height 100%
  overflow hidden

  .page
    height 100vh
    transform rotateY(40deg)
    transform-origin 50% 100%

  .bg-overlay
    position fixed
    top 0
    left 0
    display block
    width 100vw
    height 100%
    background radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#f5f5f5 80%)
    opacity 0.6
    transform translateX(-300px)
    z-index 1

  .bg
    transform translateX(-300px)
    z-index 0

    &-logo
      fill #E2909C

.bg-overlay
  display none
  transition transform 1s 1s

.complete-message
  display none
  position fixed
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
  z-index 102
  width 400px

  &.active
    display block

.bg-build
  display none
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background #fff
  opacity 0.4

  &.active
    display block
  z-index 100
