.table-note
  width 1200px
  margin 0 auto 10px
  text-align right
  font-size .8rem
  font-style italic
  color #E07171

table
  font-size 0.8rem
  width 1200px
  margin auto

  tr
    &.new
      .updated_at
        color #bf0000
        font-weight bold

  th, td
    padding 5px

    &.xsm
      width 50px

    &.sm
      width 100px

    &.md
      width 170px

      p
        width 170px

    &.lg
      width 300px

      p
        width 300px

    &.xlg
      width 450px

      p
        width 450px

    &.control
      text-align center

      .btn
        width 36px
        height 36px

        svg
          position relative
          top 6px
          width 20px
          height 20px
          fill #fff

    p
      margin 0
      padding 0

    .btn
      padding 0 .5rem

    a
      word-wrap break-word

.switch
  margin-bottom 20px

  label
    padding-right 15px
