@import "_init"
@import "_menu"
@import "_header"
@import "_footer"
@import "_login"
@import "_page"
@import "_table"
@import "_form"
@import "_data_import"
@import "_data_export"
@import "_modal"
@import "_loader"
@import "_404"
@import "_manual"

body
  font-family Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  color #555

img
  vertical-align bottom
