<h1><i class="material-icons">mode_edit</i> NEW BRAND COORDINATION ({{ brand_name }})</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form class="col s12" action="{{ link_base }}brandtop/create/?id={{ brand_id }}" method="post">
    <div class="row">
      <div class="input-field col s4">
        <select name="order" autofocus>
          <option value="" disabled>Set order</option>
          <option value="">-</option>
          {% for i in 1..20 %}
          {% if i == data.order %}
          <option value="{{ i }}" selected>{{ i }}</option>
          {% else %}
          <option value="{{ i }}">{{ i }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label>Order</label>
      </div>

      <div class="input-field col s4">
        <select name="model_id">
            <option value="" disabled>Choose model</option>
            <option value="">-</option>
            {% for model in models %}
            {% if model.id == data.model_id %}
            <option value="{{ model.id }}" selected>{{ model.name_ja|e }}</option>
            {% else %}
            <option value="{{ model.id }}">{{ model.name_ja|e }}</option>
            }
            {% endif %}
            {% endfor %}
        </select>
        <label>Model</label>
      </div>

      <div class="input-field col s4">
        <select name="photo_status">
            <option value="" disabled selected>Choose status</option>
            {% for i in 0..1 %}
            {% if data.photo_status == i %}
            <option value="{{ i }}" selected>{{ data.status_arr[i] }}</option>
            {% else %}
            <option value="{{ i }}">{{ data.status_arr[i] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label>Photo status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label for="img">Img URL</label>
        <input id="img" name="img" value="{{ data.img }}" type="text">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" name="remarks">{{ data.remarks }}</textarea>
        <label for="textarea1">Notes</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}brandtop/?id={{ brand_id }}" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>