  <h1>BRAND COORDINATION ({{ brand_name }})</h1>
  <div>
  <p class="table-note">* Updated time in red indicates the recent update within 1hr.</p>
  <table class="bordered">
    <thead>
      <tr>
        <th class="xsm">order</th>
        <th class="sm">Model</th>
        <th class="lg">Item</th>
        <th class="lg">Img URL</th>
        <th class="sm">Photo status</th>
        <th class="sm">Updated by</th>
        <th>Updated at</th>
        {% if current_user.group == 100 or current_user.group == 50 %}
        <th class="sm">Control</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
{% for item in data %}
      <tr class="{{ item.recent_update_class }}">
        <td rowspan="6">{{ item.order }}</td>
        <td rowspan="6" class="js-tooltip" title='<img src="{{ item.model_img }}" width="100">'>{{ item.model_name }}</td>
        <td class="lg"><p class="truncate" title="{{ item.item_img_1 }}"><a href="{{ item.item_img_1 }}">{{ item.item_name_1 }}</a></p></td>
        <td class="lg js-tooltip" rowspan="6" title='<img src="{{ item.img }}" width="100">'><p><a href="{{ item.img }}">{{ item.img }}</a></p></td>
        <td rowspan="6">{{ item.photo_status_str }}</td>
        <td rowspan="6">{{ item.update_user }}</td>
        <td rowspan="6" class="updated_at">{{ item.updated_at }}</td>
        {% if current_user.group == 100 or current_user.group == 50 %}
        <td class="control" rowspan="6">
          <a href="{{ link_base }}brandtop/edit/{{ item.id }}/?id={{ brand_id }}" class="btn waves-effect waves-light btn-small teal lighten-2" title="Edit"><svg><use xlink:href="#svg-pencil" /></svg></a>
          <a href="{{ link_base }}brandtop/delete/{{ item.id }}/?id={{ brand_id }}" class="btn waves-effect waves-light btn-small grey lighten-1" title="Delete"><svg><use xlink:href="#svg-trash" /></svg></a>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_2 }}"><a href="{{ item.item_img_2 }}">{{ item.item_name_2 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_3 }}"><a href="{{ item.item_img_3 }}">{{ item.item_name_3 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_4 }}"><a href="{{ item.item_img_4 }}">{{ item.item_name_4 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_5 }}"><a href="{{ item.item_img_5 }}">{{ item.item_name_5 }}</a></p></td>
      </tr>
      <tr>
        <td class="lg"><p class="truncate" title="{{ item.item_img_6 }}"><a href="{{ item.item_img_6 }}">{{ item.item_name_6 }}</a></p></td>
      </tr>
{% else %}
      <tr>
        <td colspan="9" class="center-align">No Record</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>

{% if current_user.group == 100 or current_user.group == 50 %}
<div class="float-btn">
  <a href="{{ link_base }}brandtop/create/?id={{ brand_id }}" class="js-tooltip btn-floating waves-effect waves-light red" title="Add">
    <svg class="add"><use xlink:href="#svg-plus" /></svg>
    <svg class="write"><use xlink:href="#svg-pencil" /></svg>
  </a>
</div>
{% endif %}

<script>
  var BRAND_ID = {{ brand_id }};
</script>
