<h1><i class="material-icons">mode_edit</i> PASSWORD CHANGE</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<div class="row">
  <form class="col s12" action="{{ link_account }}" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="old_password" type="password" class="validate" name="old_password" autofocus>
        <label for="old_password">Current password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">New password</label>
      </div>
      <div class="input-field col s6">
        <input id="password_2" type="password" class="validate" name="password_2">
        <label for="password_2">New password (verify)</label>
      </div>
    </div>

    <div class="submit-btn center-align">
      <a href="{{ link_base }}" class="btn waves-effect waves-light grey">Cancel</a>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </div>
  </form>
</div>