<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=y">
  <% content 'meta' %>
  <% content 'styles' %>
  <link rel="stylesheet" href="http://event.rakuten.co.jp/smart/rba/common/css/reset.css">
  <link rel="stylesheet" href="http://event.rakuten.co.jp/smart/rba/common/css/common.css">
  <% content 'header_scripts' %>
</head>
<body>
  <% include '../../../_templates/_sp/_components/_common/_header.ect' %>

  <div id="contents">
    <div id="container" class="l-basic">
      <% include '../../../_templates/_sp/_components/_nav/_nav.ect' %>

      <% content 'main' %>

      <a href="#" data-anchor="#header" class="scroll-top"><span></span></a>

    </div><!-- /#containerl-basic-->
  </div><!-- /#contents -->

  <div id="overlay"></div>

  <% include '../../../_templates/_sp/_components/_common/_footer.ect' %>

  <% content 'scripts' %>

  <!-- SiteCatalyst code Copyright 1997-2009 Omniture, Inc. More info available at http://www.omniture.com-->
  <script language="JavaScript" src="http://event.rakuten.co.jp/com/js/omniture/s_code_ichiba.js"></script><script language="JavaScript"><!--
  s.channel="Event"
  s.eVar14="Event"
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//--></script>
  <!-- End SiteCatalyst code-->

</body>
</html>