// Mixins

clearfix()
  zoom 1

  &:before
  &:after
    content ""
    display table

  &:after
    clear both

contents()
  width 950px
  margin 0 auto
  clearfix()

inline-block()
  display inline-block
//  *display inline
//  *zoom 1

reset-ul()
  list-style none
  margin 0
  padding 0

hide-text()
  text-indent 200%
  white-space nowrap
  overflow hidden

reset-text()
  text-indent 0
  white-space normal
  overflow auto
  color inherit

opacity($value)
  opacity $value
  -ms-filter "alpha(opacity="+($value*100)+")"

sprite-base($sprite=null)
  if $sprite
    sprite($sprite)
  inline-block()
  hide-text()
  vertical-align middle

sprite-bg($sprite)
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
  background-repeat no-repeat

retina-spriteWidth($sprite)
  width: ($sprite[4]/2);

retina-spriteHeight($sprite)
  height: ($sprite[5]/2);

retina-spritePosition($sprite)
  background-position: ($sprite[2]/2) ($sprite[3]/2);

retina-spriteSize($sprite)
  background-size: ($sprite[6]/2) ($sprite[7]/2);

retina-spriteImage($sprite)
  background-image: url($sprite[8]);

retina-sprite($sprite)
  retina-spriteImage($sprite)
  retina-spritePosition($sprite)
  retina-spriteSize($sprite)
  retina-spriteWidth($sprite)
  retina-spriteHeight($sprite)

sprite-base($sprite=null)
  inline-block()
  hide-text()
  if $sprite
    retina-sprite($sprite)
  content ""
  margin-top -3px
  vertical-align middle

thumbnail($width, $height)
  img
  span
    display inline-block
    width ($width)px
    height ($height)px

fullwidth()
  width 100%
  margin 0 auto
  box-sizing border-box

min-height($height)
  min-height $height
  height auto !important
  height $height

max-width($width)
  max-width $width
  width auto !important
  width $width